@import "../utils/variables";
@import "../utils//mixins";

.create-projects-component {
	.blurred-background {
		position: absolute;
		background-color: black;
		opacity: 0.5;
		height: 100vh;
		width: 100vw;
		overflow:auto;
	}

	.sidebar-container {
		position: absolute;
		border: 5px solid black;
		border-top: none;
		border-left: none;
		background: white;
		height: 700px;
		width: 500px;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
	}

	.mostly-empty-top {
		display: block;
		float: left;
		width: 100%;
	}

	.x-button {
		@include back-exit-buttons();
		right: 15px;
	}
	.x-button:hover,
	.x-button:active {
		color: $black;
	}

	.padded-container {
		// No padding on the top because of the header
		padding: 0px 25px 25px 25px;
	}

	.title {
		position: relative;
		padding-top: 24px;
		font-size: 150%;
	}

	.form__label,
	.form__date-container__label,
	.form__combo-box-container__label {
		float: left;
		margin-top: 5px;
	}

	.form__character-counter {
		float: right;
		margin-top: 5px;
	}

	.form__text-input {
		margin-top: 5px;
		margin-bottom: $inputMarginBottom;
		outline: none;
		box-sizing: border-box;
		background: #e5e5e5;
		padding: 8px;
		width: 100%;
		font-size: 14px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.form__textarea {
		margin-top: 5px;
		margin-bottom: $inputMarginBottom;
		outline: none;
		background: $lightGray;
		padding: 4px 8px 4px 8px;
		height: 200px;
		width: 100%;
		font-size: 14px;
		font-family: Arial, Helvetica, sans-serif;
		// sizing
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box; /* Firefox, other Gecko */
		box-sizing: border-box; /* Opera/IE 8+ */
		resize: none;
	}

	.form__errors {
		display: block;
		color: red;
	}

	.form__combo-box-container {
		float: left;
		width: 45%;
	}

	.form__combo-box-container__select {
		margin-top: 2px;
		margin-bottom: $inputMarginBottom;
		background: $lightGray;
		width: 100%;
		// one pixel smaller than associated label
		font-size: 13px;
	}

	.form__date-container {
		position: relative;
		width: 45%;
	}

	.form__date-container--left {
		float: left;
	}

	.form__date-container--right {
		float: right;
	}

	.form__date-container__date-input {
		margin-top: 2px;
		margin-bottom: $inputMarginBottom;
		outline: none;
		background: $lightGray;
		// Width is 97% since date boxes extend past conatiner
		width: 97%;
		// one pixel smaller than associated label
		font-size: 13px;
	}

	.form__tooltip-container {
		// Set to relative so changing the z-index using js can be
		// ...used to control if the tooltip is visible or not.
		position: relative;
		float: left;
		margin-top: 13px;
		// Becomes visible via a mouseover event added to the completionDate container
		visibility: hidden;
	}

	.form__tooltip-container__text-box {
		float: left;
		padding: 12px;
		background-color: black;
		width: 180px;
		text-align: left;
		font-size: 14px;
		color: white;
	}

	.form__tooltip-container__arrow-right {
		float: left;
		margin-top: 10px;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid black;
	}

	.form__submit {
		margin-top: 10px;
		margin-bottom: 5px;
		border: 0;
		background: $lightBlueTeal;
		padding: 10px;
		width: 100%;
		color: white;
		font-size: 16px;
		cursor: pointer;
	}
	.form__submit:hover,
	.form__submit:active {
		background: $darkBlueTeal;
	}
}
