@import "../utils/variables";
@import "../utils//mixins";

.create-projects-component {
	.blurred-background {
		// Must be more than searchFilterSortBar.scss
		z-index: 2;
		position: absolute;
		top: $navbar-height;
		background-color: black;
		opacity: 0.5;
		height: 100vh;
		width: 100vw;
	}

	.create-project-sidebar {
		// Must be more than searchFilterSortBar.scss
		z-index: 2;
		position: absolute;
		top: $navbar-height;
		margin-bottom: 20px;
		border: 5px solid black;
		border-top: none;
		border-left: none;
		background-color: white;
		height: 700px;
		width: $create-project-bug-sidebar-width;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		// Gives sidebar scrolling when content goes beyond height
		overflow-y: scroll !important;
		overflow-x: hidden !important;
	}

	.take-up-space {
		height: 1000px;
	}

	.x-button {
		@include back-exit-buttons();
		right: 15px;
	}
	.x-button:hover,
	.x-button:active {
		color: $black;
	}

	.padded-container {
		// No padding on the top because of the header
		padding: 0px 25px 25px 25px;
	}

	.title {
		position: relative;
		padding-top: 24px;
		font-size: 150%;
	}

	.form__errors {
		display: block;
		color: red;
	}

	.form__label,
	.form__date-container__label,
	.form__combo-box-container__label {
		float: left;
		margin-top: 5px;
	}

	.form__character-counter {
		float: right;
		margin: 5px 2px 2px 0px;
	}

	.form__text-input {
		margin-top: 5px;
		margin-bottom: $form-input-margin-bottom;
		outline: none;
		border: 1px solid gray;
		box-sizing: border-box;
		background-color: #e5e5e5;
		padding: 8px;
		width: 100%;
		font-size: 14px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.form__textarea {
		margin-top: 5px;
		margin-bottom: $form-input-margin-bottom;
		outline: none;
		border: 1px solid gray;
		background-color: $light-gray;
		padding: 4px 8px 4px 8px;
		height: 200px;
		width: 100%;
		font-size: 14px;
		line-height: $common-line-height;
		font-family: Arial, Helvetica, sans-serif;
		// sizing
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box; /* Firefox, other Gecko */
		box-sizing: border-box; /* Opera/IE 8+ */
		resize: none;
	}

	.form__combo-box-container {
		float: left;
		width: 45%;
	}

	.form__combo-box-container__select {
		margin-top: 2px;
		margin-bottom: $form-input-margin-bottom;
		border: 1px solid gray;
		background-color: $light-gray;
		width: 100%;
		// one pixel smaller than associated label
		font-size: 13px;
	}

	.form__date-container {
		position: relative;
		width: 45%;
	}

	.form__date-container--left {
		float: left;
	}

	.form__date-container--right {
		float: right;
	}

	.form__date-container__date-input {
		margin-top: 2px;
		margin-bottom: $form-input-margin-bottom;
		outline: none;
		border: 1px solid gray;
		background-color: $light-gray;
		// Width is 97% since date boxes extend past conatiner
		width: 97%;
		// one pixel smaller than associated label
		font-size: 13px;
	}

	.form__tooltip-container {
		// Set to relative so changing the z-index using js can be
		// ...used to control if the tooltip is visible or not.
		position: relative;
		float: left;
		margin-top: 8px;
		// Becomes visible via a mouseover event added to the completionDate container
		visibility: hidden;
	}

	.form__tooltip-container__text-box {
		float: left;
		border: 1px solid black;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		background-color: black;
		padding: 11px;
		width: 180px;
		text-align: center;
		font-size: 14px;
		color: white;
	}

	.form__tooltip-container__arrow-right {
		float: left;
		height: 0;
		width: 0;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 20px solid black;
	}

	.form__submit {
		margin-top: 10px;
		margin-bottom: 20px;
		border: 0;
		border-radius: 10px;
		background-color: $light-blue-gray;
		padding: 10px;
		width: 100%;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		cursor: pointer;
	}
	.form__submit:hover,
	.form__submit:active {
		background-color: $blue-gray;
	}

	// These classes are used by the custom hook that handles appearance
	// ...of completion date based of the status of the project
	.grayed-out-label {
		color: $medium-light-gray;
	}

	.grayed-out-date {
		background-color: white;
		color: $medium-light-gray;
	}
}
