@import "../utils/variables";
@import "../utils//mixins";

.projects-table-component {
	font-family: Arial, Helvetica, sans-serif;
	background-color: $project-table-background-color;

	.projects-table {
		// Allows td borders to look like they are a single line
		border-collapse: collapse;
	}

	.project-table__row {
		padding: 5px;
		height: $project-bug-table-row-height;
		text-align: center;
	}

	.project-table__row--sticky {
		position: -webkit-sticky;
		position: sticky;
		top: $navbar-height + $search-filter-sort-bar-height + 2;
		background-color: $project-table-background-color;
	}

	.project-table__row--empty {
		height: $project-bug-table-row-height + ($project-bug-table-row-height * 0.5);
	}

	.project-table__row--clickable:hover,
	.project-table__row--clickable:active {
		background-color: $very-light-gray;
	}

	.project-table__header {
		// Used box shadow since the header row being sticky with 
		// ...background-color applied keeps the bottom-border from appearing
		box-shadow: 0 1px 0 $medium-gray;
		width: 250px;
	}

	/* .project-table__header__span {
		display: inline-block;
	} */

	.project-table__data {
		@include border-line();
		padding: 0px 7px 0px 7px;
	}

	.project-table__data__info--blue-link {
		color: blue;
		font-size: 105%;
		cursor: pointer;
	}
}
