@import "../utils/variables";
@import "../utils//mixins";

.view-project-component {
	.blurred-background {
		position: absolute;
		background-color: black;
		opacity: 0.5;
		height: 100vh;
		width: 100vw;
	}

	.view-project-modal {
		position: absolute;
		margin: 10px;
		border: 5px solid black;
		background: #e6e9ee;
		// This width tends to have the least appearance of change
		// ...when the width is calculated and overwritten using js
		width: 97.5vw;
		font-family: Arial, Helvetica, sans-serif;
	}

	.project-options-container {
		z-index: 2;
		position: absolute;
		top: 12px;
		right: 70px;
	}

	.project-options-container__button {
		margin-left: 105px;
		border: none;
		background: none;
		color: $mediumGray;
		font-size: 26px;
		cursor: pointer;
	}
	.project-options-container__button:hover,
	.project-options-container__button:active {
		color: $black;
	}

	.project-options-container__arrow-up {
		margin-left: 98px;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 15px solid black;
		height: 0;
		width: 0;
	}

	.project-options-container__dropdown {
		border: 2px solid black;
		background-color: white;
	}

	.project-options-container__dropdown__option {
		display: block;
		border-bottom: 1px solid gray;
		padding: 12px;
		cursor: pointer;
	}
	.project-options-container__dropdown__option:hover,
	.project-options-container__dropdown__option:active {
		background-color: $lightGray;
	}

	.project-options-container__dropdown__option--no-border {
		border-bottom: none;
	}

	.x-button {
		@include back-exit-buttons();
		right: 20px;
	}
	.x-button:hover,
	.x-button:active {
		color: $black;
	}

	.padded-container {
		// No padding on the top because of the header
		padding: 0px 25px 25px 25px;
	}

	.project-name {
		padding-top: 24px;
		text-align: center;
		font-size: 150%;
	}

	.view-project-table {
		width: 100%;
	}

	.view-project-table__data {
		width: 33.33%;
	}

	.project-box {
		margin: 10px;
		border: 2px solid black;
		background-color: white;
		padding: 0px 10px 20px 20px;
		min-height: 400px;
		overflow-wrap: anywhere;
	}

	.project-box__title {
		position: relative;
		text-align: center;
		font-size: 140%;
	}

	.project-box__content {
		margin-bottom: 10px;
	}

	.project-box__content--margin-top {
		margin-top: 30px;
	}

	.project-box__description {
		display: block;
		margin-bottom: 20px;
	}

	.project-box__content__type {
		font-weight: bold;
	}

	.project-box__content__info {
		margin-left: 7px;
	}
}
