@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.item-vew-top-bar-component,
.js-get-item-vew-top-bar-component {
	// Must be more than list-sidebar so item-options-dropdown-container will
	// ...display overtop the list-sidebar if the screen gets too small
	z-index: 2;
	position: fixed;
	top: v.$common-top-bar-top;
	border: v.$common-top-bar-border-width solid v.$mode-common-top-bar-border-color-light;
	border-width: v.$common-top-bar-border-width 0 v.$item-view-list-sidebar-border-width
		0;
	background-color: v.$mode-common-top-bar-background-color-light;
	height: v.$common-top-bar-height;
	/* height: v.$common-top-bar-height; */
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;

	.search-container,
	.js-get-search-container {
		@include m.vertical-center();

		left: v.$item-view-top-bar-search-bar-left;
		width: v.$item-view-top-bar-search-bar-width;
	}

	.search-container--invisible {
		visibility: hidden;
	}

	.search-container__search-bar {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		display: inline-block;
		outline: none;
		border: v.$common-top-bar-search-bar-border-width solid
			v.$default-theme-common-standard-border-background-color;
		border-right: none;
		border-radius: v.$common-top-bar-buttton-border-radius 0 0
			v.$common-top-bar-buttton-border-radius;
		padding: 0px v.$common-top-bar-search-bar-padding 0px v.$common-top-bar-search-bar-padding;
		background-color: v.$mode-common-top-bar-search-bar-background-color-light;
		height: v.$common-top-bar-search-bar-height;
		width: v.$item-view-top-bar-search-bar-width -
			v.$common-top-bar-search-button-width;
		font-size: v.$common-top-bar-search-bar-font-size;

		&:focus {
			border-width: v.$common-top-bar-search-bar-focus-border-width;
		}
	}

	.search-container__search-button {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		// Instead of relative to make sure the button always stays next to the list-search-bar
		position: absolute;
		display: inline-block;
		border-radius: 0 v.$common-top-bar-buttton-border-radius
			v.$common-top-bar-buttton-border-radius 0;
		background-color: v.$default-theme-common-standard-border-background-color;
		height: v.$common-top-bar-search-bar-height;
		width: v.$common-top-bar-search-button-width;
		cursor: pointer;
	}

	.search-container__search-button__icon {
		@include m.dead-center();
		color: white;
		font-size: v.$common-top-bar-search-button-icon-font-size;
	}

	.list-filter-or-sort-container {
		position: absolute;
		left: v.$item-view-top-bar-filter-button-left;
	}

	.list-filter-or-sort-container--sort-placement {
		left: v.$item-view-top-bar-sort-button-left;
	}

	.list-filter-or-sort-container__button {
		@include m.stop-text-selection();

		// Must be more than list-filter-or-sort-container__dropdown
		// ...so its top border can be covered to make the two containers look like one
		z-index: 1;
		position: absolute;
		top: 9px;
		border: v.$common-top-bar-common-button-border-width solid
			v.$mode-common-top-bar-button-and-dropdown-border-color-light;
		border-radius: v.$common-top-bar-buttton-border-radius;
		background-color: v.$mode-common-top-bar-button-and-dropdown-background-color-light;
		height: v.$common-top-bar-button-height;
		width: v.$item-view-top-bar-filter-sort-button-width;
		color: v.$mode-common-top-bar-button-and-dropdown-text-color-light;
		font-size: v.$common-top-bar-filter-button-font-size;
		text-align: center;
		cursor: pointer;
	}

	.list-filter-or-sort-container__button--clicked {
		// Negative margin because border resize moves the element
		margin: -2px 0px;
		border: v.$common-top-bar-clicked-dropdown-button-border-width solid black;
		border-radius: v.$common-top-bar-buttton-border-radius
			v.$common-top-bar-buttton-border-radius 0 0;
		border-bottom: none;
		height: 45px;
		width: v.$item-view-top-bar-filter-sort-button-width -
			(v.$common-top-bar-clicked-dropdown-button-border-width-difference * 2);
	}

	.list-filter-or-sort-container__button__text--active {
		font-weight: bold;
		color: v.$common-top-bar-filter-button-active-color;
	}

	.list-filter-or-sort-container__button__text {
		// Used horizontal-center since resize would move the text
		@include m.horizontal-center();
		top: 4px;
		width: 100%;
	}

	.list-filter-or-sort-container__dropdown {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: absolute;
		// Additional 0.2px to fix border overflow in chrome and edge
		top: 52.2px;
		border: 3px solid black;
		border-radius: 0 v.$common-top-bar-buttton-border-radius
			v.$common-top-bar-buttton-border-radius v.$common-top-bar-buttton-border-radius;
		background-color: white;
		height: v.$common-top-bar-filter-dropdown-content-container-height;
		width: v.$common-top-bar-filter-dropdown-content-container-width;
		cursor: default;
		// Made visible using JS
		visibility: hidden;
	}

	.list-filter-or-sort-container__dropdown--sort-width {
		width: v.$item-view-top-bar-sort-dropdown-content-container-width;
	}

	.list-filter-or-sort-container__dropdown--shorter {
		height: v.$common-top-bar-filter-dropdown-content-container-shorter-height;
	}

	.list-filter-or-sort-container__dropdown--visible {
		visibility: visible;
	}

	.list-filter-or-sort-container__dropdown__sort-content-block {
		position: relative;
		margin: 12.5px 0;
		width: 100%;
	}

	.list-filter-or-sort-container__dropdown__sort-content-block__sort-arrows-container {
		display: inline-block;
		margin-left: 8px;
		height: 100%;
		// Since sort-arrow-buttons use m.vertical-center(), width is used
		// ...instead of margin-right
		width: 21px;
	}

	.list-filter-or-sort-container__dropdown__sort-content-block__title {
		font-size: 15px;
	}

	.list-filter-or-sort-container__dropdown__filter-content {
		float: left;
		margin: v.$common-top-bar-filter-button-dropdown-title-margin-top 0 0
			v.$common-top-bar-filter-button-dropdown-title-margin-on-one-side;
		text-align: center;
		font-size: v.$common-top-bar-filter-dropdown-content-font-size;
	}

	.list-filter-or-sort-container__dropdown__filter-content--right {
		float: right;
		margin: v.$common-top-bar-filter-button-dropdown-title-margin-top
			v.$common-top-bar-filter-button-dropdown-title-margin-on-one-side 0 0;
	}

	.list-filter-or-sort-container__dropdown__filter-content__title {
		display: block;
		margin: 2px 0px 5px 0px;
		border-bottom: 1px solid gray;
		padding-bottom: 3px;
		font-weight: bold;
	}

	.list-filter-or-sort-container__dropdown__filter-content__block {
		text-align: left;
	}

	.list-filter-or-sort-container__dropdown__filter-content__block__checkbox-container {
		display: inline-block;
		margin: v.$common-top-bar-filter-button-dropdown-checkbox-container-margin;
	}

	.list-filter-or-sort-container__dropdown__filter-content__block__label {
		display: inline-block;
		margin: v.$common-top-bar-filter-button-dropdown-label-margin;
	}

	.list-filter-or-sort-container__dropdown__filter-content__block__label--active {
		color: v.$common-top-bar-filter-button-active-color;
	}

	.item-options-container {
		position: absolute;
		top: 12px;
		right: 50px;
		width: 135px;
	}

	.item-options-container__button {
		// Must be more than item-options-container__dropdown so the two
		// ...containers can look like one
		z-index: 1;
		position: absolute;
		right: 0px;
		// Border given color through JS
		border: v.$common-top-bar-clicked-dropdown-button-border-width solid transparent;
		border-radius: v.$common-top-bar-buttton-border-radius
			v.$common-top-bar-buttton-border-radius 0 0;
		border-bottom: none;
		background: none;
		height: 29px;
		width: v.$item-view-top-bar-options-button-width;
		color: v.$mode-common-icon-button-text-color-light;
		font-size: 28px;
		text-align: center;
		cursor: pointer;

		&:hover,
		&:active {
			color: v.$mode-common-icon-button-hover-text-color-light;
		}
	}

	.item-options-container__button__text {
		@include m.dead-center();
	}

	.item-options-container__button--clicked {
		border-color: black;
		border-bottom: none;
		background-color: white;
		color: v.$mode-common-icon-button-hover-text-color-light;
	}

	.item-options-container__dropdown {
		position: absolute;
		top: 29px;
		right: 0;
		border: 3px solid black;
		border-radius: v.$common-top-bar-buttton-border-radius 0
			v.$common-top-bar-buttton-border-radius v.$common-top-bar-buttton-border-radius;
		background-color: white;
		color: v.$mode-item-view-top-bar-icon-button-text-color-light;
		width: 129px;
		// Defaults as being hidden
		visibility: hidden;
	}

	.item-options-container__dropdown--visible {
		visibility: visible;
	}

	.item-options-container__dropdown__option {
		display: block;
		border-bottom: 1px solid gray;
		padding: 12px;
		cursor: pointer;

		&:hover,
		&:active {
			background-color: v.$mode-item-view-top-bar-options-dropdown-row-hover-background-color-light;
		}
	}

	.item-options-container__dropdown__option--no-display {
		display: none;
	}

	.item-options-container__dropdown__option--first-option-round-top-border {
		// Found that subtracting 3px from $navbar-hamburger-border-radius
		// ...gave best results
		border-radius: v.$common-top-bar-buttton-border-radius
			v.$common-top-bar-buttton-border-radius 0 0;
	}

	.item-options-container__dropdown__option--last-option-round-bottom-border {
		// No bottom border since no options bellow
		border-bottom: none;
		// Found that subtracting 3px from $navbar-hamburger-border-radius
		// ...gave best results
		border-radius: 0 0 v.$common-top-bar-buttton-border-radius
			v.$common-top-bar-buttton-border-radius;
	}

	.x-button {
		@include m.exit-button();
		top: 11px;
		color: v.$mode-item-view-top-bar-icon-button-text-color-light;
	}
}
