@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

// This file is for SCSS used only by the ItemViewDisplayInfo component
// ...SCSS shared with other components is in itemView.scss
.item-container-component {
	.item-name {
		margin: 32px 0px 20px 0px;
		text-align: center;
		font-size: v.$item-container-name-font-size;
	}

	.item-box__group__field__type {
		font-weight: bold;
	}

	.item-box__group__field__centering-container {
		position: relative;
		display: inline-block;
		height: v.$status-box-height;
		width: 55px;
	}

	.item-box__group__field__centering-container__type {
		@include m.vertical-center();
	}

	.item-box__group__field_content {
		margin-left: v.$display-item-field-margin-left;
	}

	.item-box__group__field__status-box {
		position: relative;
		display: inline-block;
		margin-left: v.$display-item-field-margin-left;
		// This background color should only appear if there was a problem
		// ...assigning a different background color to a status-box.
		// ...the scss for the colors assigned are in home.scss
		background-color: black;
		color: white;
		height: v.$status-box-height;
		width: v.$status-box-width;
	}

	.item-box__group__field__status-box__centered-content {
		@include m.dead-center();
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
