@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.item-view-bug-pie-chart-component {
	position: relative;
	height: 270px;
	width: 100%;

	.centered-container {
		@include m.horizontal-center();

		height: 270px;
		width: 480px;
	}

	.centering-table {
		width: 100%;
	}

	.centering-table-data {
		position: relative;
		min-width: 200px;
	}

	.pie-chart {
		@include m.horizontal-center();

		// stats-container is smaller, so centering causes
		// ...more space on left side than pie-chart
		margin-left: -15px;
		padding-top: 12px;
	}

	.stats-container {
		@include m.horizontal-center();

		padding-top: 12px;
		width: v.$item-view-pie-chart-bug-status-stats-container-width;
	}

	.stats-container__row {
		width: 100%;
		margin-top: 25px;
	}

	.stats-container__row__status-box {
		position: relative;
		display: inline-block;
		border-radius: v.$common-status-box-border-radius;
		// This background color should only appear if there was a problem
		// ...assigning a different background using JS
		background-color: black;
		height: v.$common-status-box-height;
		width: v.$common-status-box-width;
	}

	.stats-container__row__status-box__centered-info {
		@include m.dead-center();

		color: white;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.stats-container__row__stats-centering-container {
		position: relative;
		display: inline-block;
		height: v.$common-status-box-height;
		width: v.$item-view-pie-chart-bug-status-stats-container-width -
			v.$common-status-box-width;
	}

	.stats-container__row__stats-centering-container__stats {
		@include m.dead-center();

		font-size: v.$common-slightly-larger-font-size;
		font-weight: bold;
		white-space: nowrap;
		overflow: hidden;
	}
}
