@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.item-view-list-sidebar-component,
.js-get-item-view-list-sidebar-component {
	.expand-minimize-button {
		// Must be more than the item-view in item-view.scss
		z-index: 1;
		position: fixed;
		top: v.$item-view-list-sidebar-top + 15;
		left: v.$common-left + v.$item-view-list-sidebar-border-width;
		border: v.$item-view-list-sidebar-border-width solid black;
		border-left: none;
		background-color: v.$mode-item-view-list-sidebar-expand-minimize-button-background-color-light;
		height: 80px;
		width: 25px;
		cursor: pointer;

		&:hover,
		&:active {
			background-color: v.$mode-item-view-list-sidebar-expand-minimize-button-hover-background-color-light;
		}
	}

	.expand-minimize-button--expanded {
		left: v.$common-left + v.$item-view-list-sidebar-expanded-width;
	}

	.expand-minimize-button__centering-container {
		height: 100%;
		width: 100%;
	}

	.expand-minimize-button__centering-container__icon-container {
		@include m.dead-center();
	}

	.list-sidebar-container,
	.js-get-item-view-list-sidebar-component-container-element {
		// Must be more than the item-view in item-view.scss
		z-index: 1;
		position: fixed;
		top: v.$item-view-list-sidebar-top;
		left: v.$common-left;
		border-right: v.$item-view-list-sidebar-border-width solid v.$mode-item-view-list-sidebar-border-color-light;
		height: 90vh;
		width: 0px;
		font-size: v.$common-font-size;
		font-family: Arial, Helvetica, sans-serif;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.list-sidebar-container--expanded,
	.js-get-item-view-list-sidebar-component-container-element--expanded {
		width: v.$item-view-list-sidebar-expanded-width;
	}

	.list-sidebar-container__table {
		// Allows td borders to look like they are a single line
		border-collapse: collapse;
	}

	// Used as just a row element in ItemViewListSidebar component, but used as
	// ...the component className for ItemViewListSidebarItemRow
	.list-sidebar-container__table__row,
	.item-view-list-sidebar-item-row-component {
		border-bottom: 1px solid v.$mode-item-view-list-sidebar-table-row-border-color-light;
		background-color: v.$mode-item-view-list-sidebar-table-row-background-color-light;
		padding: v.$common-list-row-padding;
		height: v.$common-list-row-height;
		color: v.$mode-common-weak-text-color-light;
		text-align: center;
	}

	.list-sidebar-container__table__row--empty {
		height: v.$common-list-row-height + (v.$common-list-row-height * 0.5);
	}

	.list-sidebar-container__table__row__header {
		// Must be more than table__data rows below do not overlap when scrolling
		z-index: 1;
		position: -webkit-sticky;
		position: sticky;
		top: 0px;
		// Used box shadow since the header row being sticky with
		// ...background-color applied keeps the bottom-border from appearing
		box-shadow: v.$mode-item-view-list-sidebar-table-row-header-box-shadow-light;
		background-color: v.$mode-item-view-list-sidebar-table-row-header-background-color-light;
		width: v.$item-view-list-sidebar-expanded-width;
		color: v.$mode-common-strong-text-color-light;
	}

	.list-sidebar-container__table__row__data {
		position: relative;
		cursor: default;
	}

	.list-sidebar-container__table__row__data__overflow-container {
		@include m.dead-center();

		width: v.$item-view-list-sidebar-expanded-width - 25;
		max-width: v.$item-view-list-sidebar-expanded-width - 25;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.list-sidebar-container__table__row__data__overflow-container--completed-color {
		color: v.$common-completed-color;
	}

	.list-sidebar-container__table__row__data__overflow-container__info__completed-icon {
		margin-right: 5px;
		color: v.$common-completed-color;
	}
}
