@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.item-view-list-sidebar-component,
.js-calc-list-sidebar-component {
	// Width must be set here so width can be calculated and stored in redux
	width: v.$item-view-list-sidebar-width;

	.expand-minimize-button {
		// Must be more than the item-view in item-view.scss
		z-index: 1;
		position: fixed;
		top: v.$list-item-view-top + 15;
		left: v.$item-view-list-sidebar-width + v.$item-view-list-sidebar-border-width;
		border: v.$item-view-list-sidebar-border-width solid black;
		border-left: none;
		background-color: v.$mode-item-view-list-sidebar-expand-minimize-button-background-color-light;
		height: 80px;
		width: 25px;
		cursor: pointer;

		&:hover,
		:active {
			background-color: v.$mode-item-view-list-sidebar-expand-minimize-button-hover-background-color-light;
		}
	}

	.expand-minimize-button--minimized {
		left: v.$item-view-list-sidebar-border-width;
	}

	.expand-minimize-button__centering-container {
		height: 100%;
		width: 100%;
	}

	.expand-minimize-button__centering-container__icon-container {
		@include m.dead-center();
	}

	.list-sidebar {
		// Must be more than the item-view in item-view.scss
		z-index: 1;
		position: fixed;
		top: v.$list-item-view-top;
		left: 0px;
		border: v.$item-view-list-sidebar-border-width solid v.$mode-item-view-list-sidebar-border-color-light;
		border-left: none;
		border-bottom: none;
		height: 90vh;
		// Width must be set here again to not go beyond
		width: v.$item-view-list-sidebar-width;
		font-size: v.$base-font-size;
		font-family: Arial, Helvetica, sans-serif;
		overflow-y: auto !important;
		overflow-x: hidden !important;
	}

	.list-sidebar--minimized {
		width: 0px;
	}

	.list-sidebar__table {
		// Allows td borders to look like they are a single line
		border-collapse: collapse;
	}

	.list-sidebar__table__row {
		border-bottom: 1px solid v.$mode-list-row-border-color-light;
		padding: 5px;
		height: v.$list-row-height;
		text-align: center;
	}

	.list-sidebar__table__row--empty {
		height: v.$list-row-height + (v.$list-row-height * 0.5);
	}

	.list-sidebar__table__header {
		// Must be more than table__data rows below do not overlap when scrolling
		z-index: 1;
		position: -webkit-sticky;
		position: sticky;
		top: 0px;
		// Used box shadow since the header row being sticky with
		// ...background-color applied keeps the bottom-border from appearing
		box-shadow: v.$mode-list-header-box-shadow-light;
		background-color: v.$mode-home-background-color-light;
		width: v.$item-view-list-sidebar-width;
	}

	.list-sidebar__table__data {
		position: relative;
		cursor: default;
	}

	.list-sidebar__table__data__overflow-container {
		@include m.dead-center();

		width: v.$item-view-list-sidebar-width - 25;
		max-width: v.$item-view-list-sidebar-width - 25;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.list-sidebar__table__data__overflow-container--completed-color {
		color: v.$status-green;
	}

	.list-sidebar__table__data__overflow-container__info__completed-icon {
		margin-right: 5px;
		color: v.$status-green;
	}
}
