@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

// This file is for SCSS used only by the ItemViewCommentBox component
// ...SCSS shared with other components is in itemView.scss
.item-container-component {
	.form-submit-centering-container {
		position: relative;
		height: 50px;
		width: 100%;
	}

	.form-submit-centering-container__button {
		@include m.dead-center();
		border: 1px solid black;
		outline: none;
		// This background color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in home.scss
		background-color: black;
		// Only top and bottom because of inconsistencies
		// ...with button vs divs.
		padding: 10px 0px 10px 0px;
		// 2px bigger than cancel button because of inconsistencies
		// ...with buttons vs divs.
		width: 127px;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		cursor: pointer;
	}
}
