@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

// This file is for SCSS used only by the ItemViewEditInfo component
// ...SCSS shared with other components is in itemView.scss
.item-view-component {
	.name-centering-container {
		position: relative;
		margin: 20px 0px 9px 0px;
		height: v.$edit-item-name-centering-container-height;
		width: 100%;
		text-align: center;
	}

	.name-centering-container__form-name-input {
		@include m.dead-center;
		outline: none;
		border: v.$edit-item-name-input-border-width solid v.$mode-item-view-form-input-border-color-light;
		border-right: v.$edit-item-name-input-border-width dotted v.$gray-light-level-10;
		border-radius: v.$form-input-border-radius 0 0 v.$form-input-border-radius;
		background-color: v.$mode-item-view-form-input-background-color-light;
		padding: v.$edit-item-name-input-padding;
		height: v.$edit-item-name-input-height;
		width: v.$edit-item-name-input-width;
		font-family: Arial, Helvetica, sans-serif;
		font-size: v.$item-view-name-font-size;
		font-weight: bold;
		text-align: center;

		&:focus {
			border-color: v.$mode-base-form-input-focus-border-color-light;
		}
	}

	.name-centering-container__completed-icon-centering-container {
		@include m.dead-center;

		// Margin-right does nothing so using margin-left but making the value negative
		margin-left: -(v.$edit-item-name-input-width / 2) - v.$edit-item-name-input-border-width -
			v.$edit-item-name-input-padding - (v.$edit-item-name-char-counter-container-width / 2);
		height: v.$edit-item-name-centering-container-height;
		width: v.$edit-item-name-char-counter-container-width;
	}

	.name-centering-container__completed-icon-centering-container__icon {
		@include m.dead-center;

		color: v.$status-green;
		font-size: v.$item-view-name-font-size;
	}

	.name-centering-container__char-count-centering-container {
		@include m.dead-center;

		margin-left: (v.$edit-item-name-input-width / 2) + v.$edit-item-name-input-border-width +
			v.$edit-item-name-input-padding + (v.$edit-item-name-char-counter-container-width / 2);
		border: v.$edit-item-name-input-border-width solid v.$mode-item-view-form-input-border-color-light;
		border-left: v.$edit-item-name-input-border-width solid transparent;
		border-radius: 0 v.$form-input-border-radius v.$form-input-border-radius 0;
		height: v.$edit-item-name-centering-container-height - (v.$edit-item-name-input-border-width * 2);
		width: v.$edit-item-name-char-counter-container-width;
	}

	// This character counter is only for name in ItemViewEditInfo
	.name-centering-container__char-count-centering-container__name-char-counter {
		@include m.dead-center;

		font-size: v.$slightly-larger-font-size;
	}

	.item-box__group__field__form-label {
		// To make form-selects vertically parallel
		display: inline-block;
		// Width decides starting location of the following input element
		width: 70px;
		font-weight: bold;
	}

	.item-box__group__field__form-label--medium-width {
		// Width decides starting location of the following input element
		width: 90px;
	}

	.item-box__group__field__form-label--long-width {
		// Width decides starting location of the following input element
		width: 125px;
	}

	.item-box__group__field__form-label--top-bottom-margin {
		// Same as the margin for the char-counter so for alignment
		margin: v.$item-view-item-box-char-counter-margin;
	}

	.item-box__group__field__form-text {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		
		
		margin-top: 3px;
		outline: none;
		border: 1px solid v.$mode-item-view-form-input-border-color-light;
		border-radius: v.$form-input-border-radius;
		background-color: v.$mode-item-view-form-input-background-color-light;
		padding: 6px;
		width: 100%;
		font-size: v.$item-form-text-input-font-size;
		font-family: Arial, Helvetica, sans-serif;

		&:focus {
			border-color: v.$mode-base-form-input-focus-border-color-light;
		}
	}

	.item-box__group__field__form-select {
		outline: none;
		border: 1px solid v.$mode-item-view-form-input-border-color-light;
		background-color: v.$mode-item-view-form-input-background-color-light;
		width: 125px;
		font-size: 14px;

		&:focus {
			border-color: v.$mode-base-form-input-focus-border-color-light;
		}
	}

	.item-box__group__field__form-date {
		outline: none;
		border: 1px solid v.$mode-item-view-form-input-border-color-light;
		background-color: v.$mode-item-view-form-input-background-color-light;

		&:focus {
			border-color: v.$mode-base-form-input-focus-border-color-light;
		}
	}

	.form-buttons-outer-container {
		position: relative;
		margin-bottom: 10px;
		height: 50px;
		width: 100%;
	}

	.form-buttons-centered-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 265px;
	}

	.form-buttons-centered-container__submit-button {
		@include m.item-view-form-submit-button();

		float: left;
	}

	.form-buttons-centered-container__cancel-button {
		@include m.item-view-form-cancel-button();

		float: right;
	}

	.backend-errors {
		@include m.backend-error();
		

		margin-top: 10px;
	}

	.backend-errors--item-name {
		margin: 15px 0px 11px 0px;
		font-size: v.$slightly-larger-font-size;
	}

	.backend-errors--edit-item {
		// So span can be placed after outer-diving-containers yet not take up
		// ...space unless text is present the span
		float: left;
		margin: 0px 0 0px 0;
		width: 100%;
		// Using line height instead of margin so the span does not take up space
		// ...unless there is actaully text present inside it
		line-height: 30px;
		text-align: center;
	}

	.backend-errors--comment {
		margin: 5px 0 5px 0;
	}

	.backend-errors--edit-comment {
		margin: 0 0 10px 0;
	}
}
