@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.item-view-component,
.js-get-item-view-component {
	.item-content-container {
		position: fixed;
		top: v.$item-view-top;
		left: 0px;
		// Height and width values were found through trial and error
		// ...to make modal resize (using js) look less jumpy
		height: 90vh;
		width: 100vw;
		font-size: v.$common-font-size;
		font-family: Arial, Helvetica, sans-serif;
		overflow-y: auto;
		overflow-x: auto;
	}

	.item-content-container--shifted-right {
		left: v.$item-view-list-sidebar-expanded-width +
			v.$item-view-list-sidebar-border-width;
		// This width gets resized by JS. This value is chosen as a guess for
		// ...trying to be closer to what the resize will be to create less
		// ...of a jump
		width: 90vw;
	}

	// Must be a seperate div inside .item-content-container so the padding
	// ...does not affect the resize so it goes beyond the modal
	.padding-container,
	.js-get-item-view-component-padding-container-element {
		padding: 0px 25px 25px 25px;
	}

	.name-completed-color {
		color: v.$common-completed-color;
	}

	.name-completed-icon {
		margin-right: 5px;
		color: v.$common-completed-color;
	}

	.item-creation-date {
		margin: 5px;
		text-align: center;
		font-size: v.$common-slightly-larger-font-size;
	}

	// Pairs item-boxs together
	.pair-container {
		float: left;
		width: 100%;
	}

	// Seperates item-boxs
	.outer-dividing-container,
	.js-get-item-view-component-outer-dividing-container-element {
		float: left;
		width: 100%;
		min-width: v.$item-view-outer-dividing-container-min-width;
	}

	.outer-dividing-container--half-width {
		width: 50%;
	}

	// This className is not just used by ItemView component, but also several
	// of it's child components
	.item-box {
		// So item-box__no-bugs-message centering will work
		position: relative;
		margin: 10px;
		border: 2px solid black;
		border-radius: 25px;
		background-color: v.$mode-common-item-view-item-box-background-color-light;
		padding: 0px 20px 20px 20px;
		overflow-wrap: anywhere;
	}

	// Used to keep bug-pie-chart from going past item-view
	.item-box--no-left-right-padding {
		padding-left: 0px;
		padding-right: 0px;
	}

	.item-box--desciption-info-height {
		height: v.$item-view-edit-item-description-info-item-box-height;
	}

	.item-box--bugs-stats-height {
		height: v.$item-view-bugs-stats-item-box-height;
	}

	// Used in ItemViewEditInfo to calculate description size using JS
	.item-box--invisible {
		position: absolute;
		visibility: hidden;
	}

	// Located here since both display and edit components use it
	.item-box__description {
		display: block;
		padding: 13px 5px 13px 5px;
		line-height: v.$common-line-height;
		color: v.$mode-common-weak-text-color-light;
	}

	.item-box__group {
		display: inline-block;
	}

	.item-box__group--right {
		float: right;
	}

	.item-box__title {
		text-align: center;
		font-size: 140%;
	}

	.item-box__title--no-bottom-margin {
		margin-bottom: 0px;
	}

	.item-box__group__field {
		margin-bottom: 25px;
	}

	.item-box__group__field--no-bottom-margin {
		margin-bottom: 0px;
	}

	.item-box__group__field--inline-flex {
		display: inline-flex;
	}

	.item-box__form-char-counter {
		float: right;
		margin: v.$item-view-item-box-char-counter-margin;
	}

	.item-box__form-textarea {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		
		
		margin-bottom: 10px;
		outline: none;
		border: 1px solid
			v.$mode-common-item-view-form-input-border-color-light;
		border-radius: v.$common-form-input-border-radius;
		background-color: v.$mode-common-item-view-form-input-background-color-light;
		padding: 4px 8px 4px 8px;
		height: 180px;
		width: 100%;
		line-height: v.$common-line-height;
		font-family: Arial, Helvetica, sans-serif;
		font-size: v.$common-font-size;
		resize: none;

		&:focus {
			border-color: v.$default-theme-common-mode-focus-border-color;
		}
	}

	.item-box__form-textarea--for-comments {
		height: 100px;
	}

	.item-box__no-bugs-message {
		@include m.vertical-center();

		width: 100%;
		font-size: v.$list-view-top-bar-new-item-tutorial-font-size;
		text-align: center;
		color: gray;
	}

	.backend-errors {
		@include m.backend-error();
		
		margin-top: 10px;
	}

	.backend-errors--item-name {
		margin: 15px 0px 11px 0px;
		font-size: v.$common-slightly-larger-font-size;
	}

	.backend-errors--edit-item {
		// So span can be placed after outer-diving-containers yet not take up
		// ...space unless text is present the span
		float: left;
		margin: 0px 0 0px 0;
		width: 100%;
		// Using line height instead of margin so the span does not take up space
		// ...unless there is actaully text present inside it
		line-height: 30px;
		text-align: center;
	}

	.backend-errors--comment {
		margin: 5px 0 5px 0;
	}

	.backend-errors--edit-comment {
		margin: 0 0 10px 0;
	}
}
