@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

// This file is for SCSS used only by the ItemContainerEditInfo component
// ...SCSS shared with other components is in itemContainer.scss
.item-container-component {
	.name-centering-container {
		position: relative;
		margin: 20px 0px 9px 0px;
		height: v.$edit-item-name-name-centering-container-height;
		width: 100%;
		text-align: center;
	}

	.name-centering-container__form-name-input {
		@include m.dead-center;
		border: v.$edit-item-name-input-border-width solid black;
		border-right: v.$edit-item-name-input-border-width dotted v.$medium-light-gray;
		background-color: white;
		padding: v.$edit-item-name-input-padding;
		height: v.$edit-item-name-input-height;
		width: v.$edit-item-name-input-width;
		font-family: Arial, Helvetica, sans-serif;
		font-size: v.$item-container-name-font-size;
		font-weight: bold;
		text-align: center;
	}

	.name-centering-container__completed-icon-centering-container {
		@include m.dead-center;

		// Margin-right does nothing so using margin-left but making the value negative
		margin-left: -(v.$edit-item-name-input-width / 2) - v.$edit-item-name-input-border-width -
			v.$edit-item-name-input-padding - (v.$edit-item-name-char-counter-container-width / 2);
		height: v.$edit-item-name-name-centering-container-height;
		width: v.$edit-item-name-char-counter-container-width;
	}

	.name-centering-container__completed-icon-centering-container__icon {
		@include m.dead-center;

		color: v.$status-green;
		font-size: v.$item-container-name-font-size;
	}

	.name-centering-container__char-count-centering-container {
		@include m.dead-center;

		margin-left: (v.$edit-item-name-input-width / 2) + v.$edit-item-name-input-border-width +
			v.$edit-item-name-input-padding + (v.$edit-item-name-char-counter-container-width / 2);
		border: v.$edit-item-name-input-border-width solid black;
		border-left: v.$edit-item-name-input-border-width solid transparent;
		height: v.$edit-item-name-name-centering-container-height - (v.$edit-item-name-input-border-width * 2);
		width: v.$edit-item-name-char-counter-container-width;
	}

	// This character counter is only for name in ItemContainerEditInfo
	.name-centering-container__char-count-centering-container__name-char-counter {
		@include m.dead-center;

		font-size: v.$slightly-larger-font-size;
	}

	.item-box__group__field__form-label {
		// To make form-selects vertically parallel
		display: inline-block;
		// Width decides starting location of the following input element
		width: 70px;
		font-weight: bold;
	}

	.item-box__group__field__form-label--medium-width {
		// Width decides starting location of the following input element
		width: 90px;
	}

	.item-box__group__field__form-label--long-width {
		// Width decides starting location of the following input element
		width: 125px;
	}

	.item-box__group__field__form-text {
		outline: none;
		margin-top: 3px;
		border: 1px solid black;
		box-sizing: border-box;
		background-color: white;
		padding: 6px;
		width: 100%;
		font-size: 12px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.item-box__group__field__form-select {
		border: 1px solid black;
		background-color: white;
		width: 125px;
		font-size: 14px;
	}

	.item-box__group__field__form-date {
		border: 1px solid black;
		background-color: white;
	}

	.form-buttons-outer-container {
		position: relative;
		height: 55px;
		width: 100%;
	}

	.form-buttons-centered-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 265px;
	}

	.form-buttons-centered-container__submit-button {
		float: left;
		border: 1px solid black;
		outline: none;
		// This background color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in home.scss
		background-color: black;
		// Only top and bottom because of inconsistencies
		// ...with button vs divs.
		padding: 10px 0px 10px 0px;
		// 2px bigger than cancel button because of inconsistencies
		// ...with buttons vs divs.
		width: 127px;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		cursor: pointer;
	}

	.form-buttons-centered-container__cancel-button {
		@include m.stop-text-selection();

		float: right;
		border: 1px solid black;
		background-color: white;
		// Only top and bottom because of inconisistencies
		// ...with button and div padding.
		padding: 10px 0px 10px 0px;
		width: 125px;
		text-align: center;
		font-size: 16px;
		cursor: pointer;

		&:hover,
		&:active {
			background-color: #dad9d9;
		}
	}

	// These classes are used by the custom hook that handles appearance
	// ...of completion date based of the status of the project
	.grayed-out-unclickable-label {
		color: v.$medium-light-gray;
		pointer-events: none;
	}

	.grayed-out-unclickable-date {
		background-color: v.$light-gray;
		color: v.$medium-light-gray;
		pointer-events: none;
	}

	.bottom-form-errors-container {
		margin-top: 5px;
		height: 5px;
	}

	.form-errors {
		display: block;
		margin-top: 10px;
		color: red;
		text-align: center;
	}

	.form-errors--item-name {
		margin: 15px 0px 11px 0px;
		font-size: v.$slightly-larger-font-size;
	}
}
