@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.item-view-bug-list-component {
	// Must be more than the item-view in item-view.scss
	z-index: 1;
	width: 100%;
	font-size: v.$common-font-size;
	font-family: Arial, Helvetica, sans-serif;

	.bug-list-table {
		width: 100%;
	}

	.bug-list-table__row {
		padding: 5px;
		height: v.$list-row-height;
		color: v.$mode-common-secondary-text-color-light;
		text-align: center;
	}

	.bug-list-table__data {
		// Must be realtive so centing works for overflow-container
		position: relative;
		width: 50%;
	}

	.bug-list-table__data--overflow {
		max-width: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.bug-list-table__data--completed-color {
		color: v.$status-green;
	}

	.bug-list-table__data__info__completed-icon {
		margin-right: 5px;
		color: v.$status-green;
	}

	.bug-list-table__data__centering-container {
		position: relative;
		height: 100%;
		width: 100%;
	}

	.bug-list-table__data__centering-container__status-box {
		@include m.dead-center();

		border-radius: v.$status-box-border-radius;
		// This background color should only appear if there was a problem
		// ...assigning a different background color using JS
		background-color: black;
		color: white;
		height: v.$status-box-height;
		width: 150px;
	}

	.bug-list-table__data__centering-container__status-box__centered-info {
		@include m.dead-center();
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
