@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.item-container-component {
	.comment-divider {
		margin: 30px 0px 30px 0px;
		border-bottom: 1px solid silver;
	}

	.comment__block {
		// Must be realtive so setting comment__centering-container__pair-container
		// ...top moves it within the context of comment_block 
		position: relative;
		margin: 10px 0px 10px 0px;
	}

	.comment__block__icon-button {
		display: inline;
		margin-left: 10px;
		color: gray;
		cursor: pointer;

		&:hover,
		&:active {
			color: black;
		}
	}

	.comment__centering-container {
		position: relative;
		margin-bottom: 20px;
		height: 40px;
		width: 100%;
	}

	.comment__centering-container__pair-container {
		@include m.horizontal-center();
		top: 0px;
		width: 265px;
	}

	.comment__centering-container__pair-container__submit-edit-button {
		float: left;
		border: 1px solid black;
		border-radius: v.$base-buttton-border-radius;
		// This background color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in app.scss
		background-color: black;
		// Only top and bottom because of inconsistencies
		// ...with button vs divs.
		padding: 10px 0px 10px 0px;
		// 2px bigger than cancel button because of inconsistencies
		// ...with buttons vs divs.
		width: 127px;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		text-align: center;
		cursor: pointer;
	}

	.comment__centering-container__pair-container__cancel-button {
		float: right;
		border: 1px solid black;
		border-radius: v.$base-buttton-border-radius;
		background-color: white;
		// Only top and bottom because of inconisistencies
		// ...with button and div padding.
		padding: 10px 0px 10px 0px;
		width: 125px;
		color: black;
		text-align: center;
		font-size: 16px;
		cursor: pointer;

		&:hover,
		&:active {
			background-color: v.$light-gray-level-1;
		}
	}
}