@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.list-view-table-component,
.js-get-list-view-table-component {
	position: fixed;
	top: v.$list-item-view-top;
	left: 0px;
	// Height and width values were found through trial and error
	// ...to make modal resize (using js) look less jumpy
	height: 90vh;
	width: 100%;
	font-size: v.$common-font-size;
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: auto;
	overflow-x: auto;

	.list-table {
		position: relative;
		// Allows td borders to look like they are a single line
		border-collapse: collapse;
		min-width: v.$list-table-min-width;
	}

	.list-table__row,
	.js-get-list-view-table-row {
		@include m.stop-text-selection();
		
		border-bottom: 1px solid v.$mode-list-view-table-row-border-color-light;
		background-color: v.$mode-list-view-table-row-background-color-light;
		padding: v.$list-row-padding;
		height: v.$list-row-height;
		text-align: center;
	}

	.list-table__row--item-row {
		color: v.$mode-common-weak-text-color-light;
	}

	.list-table__row--empty {
		height: v.$list-row-height +
			(v.$list-row-height * 0.5);
	}

	.list-table__row__header {
		// Must be more than table__data rows below do not overlap when scrolling
		z-index: 1;
		position: -webkit-sticky;
		position: sticky;
		top: 0px;
		// Used box shadow since the header row being sticky with
		// ...background-color applied keeps the bottom-border from appearing
		box-shadow: v.$mode-list-view-table-row-header-box-shadow-light;
		background-color: v.$mode-list-view-table-row-header-background-color-light;
		width: 300px;
	}

	.list-table__row__header--for-mass-delete {
		width: 80px;
		min-width: 80px;
	}

	.list-table__row__header__mass-delete-options-container {
		@include m.dead-center();
		width: 100%;
	}

	.list-table__row__header__mass-delete-options-container__button {
		display: inline-block;
		margin: 4px;
		padding: 2px;
		text-align: center;
		cursor: pointer;
	}

	.list-table__row__header__mass-delete-options-container__button--disabled {
		opacity: 0.2;
		cursor: default;
		pointer-events: none;
	}

	.list-table__row__header__sort-arrow-container {
		display: inline-block;
		margin-left: 5px;
	}

	.list-table__row__data {
		position: relative;
		padding: 0px 7px 0px 7px;
		cursor: default;
	}

	.list-table__row__data--name-overflow {
		max-width: v.$list-table-item-name-width;
		color: v.$default-theme-mode-text-color;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.list-table__row__data--completed-color {
		color: v.$status-green;
	}

	.list-table__row__data__info__completed-icon {
		margin-right: 5px;
		color: v.$status-green;
	}

	.list-table__row__data__custom-checkbox-centered-container {
		@include m.dead-center();
	
		height: v.$basic-custom-checkbox-height;
		width: v.$basic-custom-checkbox-height;
	}

	.list-table__row__data__centering-container {
		position: relative;
		height: 100%;
		width: 100%;
	}

	.list-table__row__data__centering-container__status-box {
		@include m.dead-center();

		border-radius: v.$status-box-border-radius;
		// This background color should only appear if there was a problem
		// ...assigning a different background color using JS
		background-color: black;
		height: v.$status-box-height;
		width: v.$status-box-width;
	}

	.list-table__row__data__centering-container__status-box__centered-info {
		@include m.dead-center();

		color: white;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.empty-list-message-centering-container {
		position: relative;
		height: 90%;
		min-height: 300px;
		width: 100%;
	}

	.empty-list-message-centering-container__message {
		@include m.dead-center();

		width: 90%;
		text-align: center;
		font-size: v.$list-view-empty-list-message-font-size;
		color: v.$mode-list-view-empty-list-message-text-color-light;
	}
}

.list-view-table-component--no-scroll {
	overflow-y: hidden;
	overflow-x: hidden;
}
