@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.list-view-top-bar-component,
.js-get-list-view-top-bar-component {
	// Must be more than table header so filter button can overlap
	z-index: 1;
	position: fixed;
	top: v.$top-bar-top;
	border: v.$top-bar-border-width solid v.$mode-top-bar-border-color-light;
	border-left: none;
	border-right: none;
	background-color: v.$mode-top-bar-background-color-light;
	height: v.$top-bar-height;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;

	.centering-container {
		position: relative;
		float: left;
		height: v.$top-bar-height;
		// This width is for the new item button. Searchbars width is changed by JS
		width: 152px;
	}

	.centering-container__new-item-button {
		@include m.stop-text-selection();
		@include m.vertical-center();

		left: 30px;
		border: v.$top-bar-base-button-border-width solid
			v.$mode-top-bar-button-border-color-light;
		border-radius: v.$top-bar-buttton-border-radius;
		background-color: v.$mode-top-bar-button-background-color-light;
		height: v.$top-bar-button-height;
		width: 110px;
		color: v.$mode-top-bar-button-text-color-light;
		font-size: v.$top-bar-button-font-size;
		text-align: center;
		cursor: pointer;
	}

	.centering-container__new-item-button--tutorial {
		border: v.$top-bar-tutorial-button-border-width solid
			v.$default-theme-mode-new-item-tutorial-border-text-color;
	}

	.centering-container__new-item-button__text {
		@include m.dead-center();
		white-space: nowrap;
	}

	.centering-container__bar-and-button-container {
		@include m.dead-center();

		width: 100%;
	}

	.centering-container__bar-and-button-container__search-bar {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		display: inline-block;
		outline: none;

		border: v.$top-bar-search-bar-border-width solid
			v.$default-theme-base-border-background-color;
		border-right: none;
		border-radius: v.$top-bar-buttton-border-radius 0 0
			v.$top-bar-buttton-border-radius;
		padding: 0px v.$top-bar-search-bar-padding 0px v.$top-bar-search-bar-padding;
		background-color: v.$mode-top-bar-search-bar-background-color-light;
		height: v.$top-bar-search-bar-height;
		line-height: v.$top-bar-search-bar-height;
		// Width changed by JS
		width: 100%;
		font-size: v.$top-bar-search-bar-font-size;

		&:focus {
			border-width: v.$top-bar-search-bar-focus-border-width;
		}
	}

	.centering-container__bar-and-button-container__search-button {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		// Instead of relative to make sure the button always stays next to the list-search-bar
		position: absolute;
		display: inline-block;
		// Since a agap between searchbar and button will appear in chrome otherwise
		margin-left: -1px;
		//border: v.$top-bar-search-bar-border-width solid black;
		border-radius: 0 v.$top-bar-buttton-border-radius
			v.$top-bar-buttton-border-radius 0;
		background-color: v.$default-theme-base-border-background-color;
		height: v.$top-bar-search-bar-height;
		width: v.$top-bar-search-button-width;
		cursor: pointer;
	}

	.centering-container__bar-and-button-container__search-button__icon {
		@include m.dead-center();
		color: white;
		font-size: v.$top-bar-search-button-icon-font-size;
	}

	// Lets the searchbar resize know when to stop
	// ...and positons filter dropdown to the right
	.filter-area-container {
		position: absolute;
		right: 0px;
		width: 109px;
	}

	.filter-area-container__button {
		@include m.stop-text-selection();

		// Must be more than filter-area-container__content-dropdown
		// ...so its top border can be covered to make the two containers look like one
		z-index: 1;
		position: absolute;
		top: 9px;
		right: 30px;
		border: v.$top-bar-base-button-border-width solid
			v.$mode-top-bar-button-border-color-light;
		border-radius: v.$top-bar-buttton-border-radius;
		background-color: v.$mode-top-bar-button-background-color-light;
		height: v.$top-bar-button-height;
		width: v.$list-view-top-bar-filter-button-width;
		color: v.$mode-top-bar-button-text-color-light;
		font-size: v.$top-bar-button-font-size;
		text-align: center;
		cursor: pointer;
	}

	.filter-area-container__button--clicked {
		// Negative margin because border resize moves the element
		margin: -2px 0px 0px;
		border-width: v.$top-bar-clicked-dropdown-button-border-width;
		border-bottom: none;
		border-radius: v.$top-bar-buttton-border-radius
			v.$top-bar-buttton-border-radius 0 0;
		height: 45px;
		width: v.$list-view-top-bar-filter-button-width -
			(v.$top-bar-clicked-dropdown-button-border-width-difference * 2);
	}

	.filter-area-container__button__text {
		// Used horizontal-center since resize would move the text
		@include m.horizontal-center();
		top: 4px;
		width: 100%;
	}

	.filter-area-container__button__text--active {
		font-weight: bold;
		color: v.$filter-button-active-color;
	}

	.filter-area-container__content-dropdown {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: absolute;
		// Additional 0.2px to fix border overflow in chrome and edge
		top: 52.2px;
		right: 30px;
		border: 3px solid black;
		border-radius: v.$top-bar-buttton-border-radius 0
			v.$top-bar-buttton-border-radius v.$top-bar-buttton-border-radius;
		background-color: white;
		height: v.$top-bar-filter-dropdown-content-container-height;
		width: v.$top-bar-filter-dropdown-content-container-width;
		cursor: default;
		// Made visible using JS
		visibility: hidden;
	}

	.filter-area-container__content-dropdown--shorter {
		height: v.$top-bar-filter-dropdown-content-container-shorter-height;
	}

	.filter-area-container__content-dropdown--visible {
		visibility: visible;
	}

	.filter-area-container__content-dropdown__content {
		float: left;
		margin: v.$top-bar-filter-button-dropdown-title-margin-top 0 0
			v.$top-bar-filter-button-dropdown-title-margin-on-one-side;
		text-align: center;
		font-size: v.$filter-dropdown-content-font-size;
	}

	.filter-area-container__content-dropdown__content--right {
		float: right;
		margin: v.$top-bar-filter-button-dropdown-title-margin-top
			v.$top-bar-filter-button-dropdown-title-margin-on-one-side 0 0;
	}

	.filter-area-container__content-dropdown__content__title {
		display: block;
		margin: 2px 0px 5px 0px;
		border-bottom: 1px solid gray;
		padding-bottom: 3px;
		font-weight: bold;
	}

	.filter-area-container__content-dropdown__content__block {
		text-align: left;
	}

	.filter-area-container__content-dropdown__content__block__checkbox-container {
		display: inline-block;
		margin: v.$top-bar-filter-button-dropdown-checkbox-container-margin;
	}

	.filter-area-container__content-dropdown__content__block__label {
		display: inline-block;
		margin: v.$top-bar-filter-button-dropdown-label-margin;
	}

	.filter-area-container__content-dropdown__content__block__label--active {
		color: v.$filter-button-active-color;
	}

	.new-item-tutorial-container {
		position: absolute;
		top: v.$top-bar-height + 10;
		left: 95px;
	}

	.new-item-tutorial-container__arrow-head {
		height: 0;
		width: 0;
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
		border-bottom: 14px solid
			v.$mode-top-bar-new-item-tutorial-arrow-background-color-light;
	}

	.new-item-tutorial-container__arrow-stock {
		background-color: v.$mode-top-bar-new-item-tutorial-arrow-background-color-light;
		margin-left: 11px;
		height: 66px;
		width: 6px;
	}

	.new-item-tutorial-container__bend-message-centering-container {
		position: absolute;
		margin: -12px 0px 0px 11px;
		height: 30px;
		width: 400px;
	}

	.new-item-tutorial-container__bend-message-centering-container__arrow-bend {
		@include m.vertical-center();

		background-color: v.$mode-top-bar-new-item-tutorial-arrow-background-color-light;
		height: 6px;
		width: 40px;
	}

	.new-item-tutorial-container__bend-message-centering-container__text {
		@include m.vertical-center();

		left: 48px;
		font-size: v.$list-view-top-bar-new-item-tutorial-font-size;
		color: v.$default-theme-mode-new-item-tutorial-border-text-color;
	}
}
