@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.create-item-sidebar-component {
	.blurred-backdrop {
		@include m.full-width-minus-nav-panel();

		// z-index must be more than listViewTopBar.scss
		z-index: 1;
		position: absolute;
		top: v.$navbar-height;
		left: v.$common-left;
		background-color: v.$mode-common-blurred-backdrop-background-color-light;
		opacity: v.$mode-common-blurred-backdrop-opacity-light;
		height: 100vh;
	}

	.sidebar-container {
		// z-index must be more than listViewTopBar.scss
		z-index: 1;
		position: fixed;
		top: v.$create-item-sidebar-top;
		left: v.$common-left;
		border-right: v.$common-sidebar-border-width solid black;
		background-color: v.$mode-create-item-sidebar-background-color-light;
		height: 100vh;
		width: v.$create-item-sidebar-width;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		// Gives sidebar scrolling when content goes beyond height
		overflow-y: auto;
		overflow-x: hidden;
	}

	.exit-icon-button {
		@include m.exit-icon-button();
	}

	.padded-container {
		// No padding on the top because of the header
		padding: 0px 25px 25px 25px;
	}

	.title {
		position: relative;
		padding-top: 24px;
		font-size: 140%;
	}

	.backend-errors {
		@include m.backend-error();
	}

	.form__label,
	.form__group-container__input-container__label,
	.form__group-container__input-container__label {
		float: left;
		margin-top: 5px;
		font-size: v.$create-item-sidebar-label-font-size;
	}

	.form__char-counter {
		float: right;
		margin: 5px 2px 2px 0px;
		font-size: v.$create-item-sidebar-label-font-size;
	}

	.form__input-text {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		margin-top: v.$create-item-sidebar-input-text-margin-top;
		margin-bottom: v.$create-item-sidebar-form-input-margin-bottom;
		outline: none;
		border: v.$common-form-input-text-border-width solid
			v.$mode-common-form-input-border-color-light;
		border-radius: v.$common-form-input-border-radius;
		background: v.$mode-common-form-input-background-color-light;
		padding: v.$create-item-sidebar-padding;
		width: 100%;
		font-size: v.$common-item-form-input-text-font-size;
		font-family: Arial, Helvetica, sans-serif;

		&:focus {
			border-color: v.$default-theme-common-mode-focus-border-color;
		}
	}

	.form__textarea {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		margin-top: v.$create-item-sidebar-input-text-margin-top;
		margin-bottom: v.$create-item-sidebar-form-input-margin-bottom;
		outline: none;
		border: v.$common-form-input-text-border-width solid
			v.$mode-common-form-input-border-color-light;
		border-radius: v.$common-form-input-border-radius;
		background: v.$mode-common-form-input-background-color-light;
		padding: 4px v.$create-item-sidebar-padding 4px
			v.$create-item-sidebar-padding;
		height: 150px;
		width: 100%;
		font-size: v.$common-item-form-input-text-font-size;
		line-height: v.$common-line-height;
		font-family: Arial, Helvetica, sans-serif;
		resize: none;

		&:focus {
			border-color: v.$default-theme-common-mode-focus-border-color;
		}
	}

	.form__group-container {
		float: left;
		width: 45%;
	}

	.form__group-container--right {
		float: right;
	}

	.form__group-container__input-container {
		display: block;
	}

	.form__group-container__input-container__date {
		margin-top: 2px;
		margin-bottom: v.$create-item-sidebar-form-input-margin-bottom;
		outline: none;
		border: 1px solid gray;
		background: v.$mode-common-form-input-background-color-light;
		// Width is 97% since date boxes extend past conatiner
		width: 97%;
		// one pixel smaller than associated label
		font-size: 13px;

		&:focus {
			border-color: v.$default-theme-common-mode-focus-border-color;
		}
	}

	.form__group-container__input-container__select {
		margin-top: 2px;
		margin-bottom: v.$create-item-sidebar-form-input-margin-bottom;
		outline: none;
		border: 1px solid gray;
		background: v.$mode-common-form-input-background-color-light;
		width: 100%;
		// one pixel smaller than associated label
		font-size: 13px;

		&:focus {
			border-color: v.$default-theme-common-mode-focus-border-color;
		}
	}

	.form__submit {
		@include m.common-form-submit-button();

		margin-top: 10px;
		margin-bottom: 15px;
	}
}
