@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.list-view-top-bar-component,
.js-get-list-view-top-bar-component {
	// Must be more than table header so filter button can overlap
	z-index: 1;
	position: fixed;
	top: v.$common-top-bar-top;
	border: v.$common-top-bar-border-width solid
		v.$mode-common-top-bar-border-color-light;
	border-left: none;
	border-right: none;
	background-color: v.$mode-common-top-bar-background-color-light;
	height: v.$common-top-bar-height;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;

	.new-item-centering-container {
		position: relative;
		float: left;
		height: v.$common-top-bar-height;
		width: 152px;
	}

	.new-item-centering-container__button {
		@include m.stop-text-selection();
		@include m.vertical-center();

		left: 30px;
		border: v.$common-top-bar-common-button-border-width solid
			v.$mode-common-top-bar-button-and-dropdown-border-color-light;
		border-radius: v.$common-top-bar-buttton-border-radius;
		background-color: v.$mode-common-top-bar-button-and-dropdown-background-color-light;
		height: v.$common-top-bar-button-height;
		width: 110px;
		color: v.$mode-common-top-bar-button-and-dropdown-text-color-light;
		font-size: v.$common-top-bar-button-font-size;
		text-align: center;
		cursor: pointer;
	}

	.new-item-centering-container__button--tutorial {
		border: v.$common-top-bar-tutorial-button-border-width solid
			v.$default-theme-common-mode-new-item-tutorial-border-text-color;
	}

	.new-item-centering-container__button__text {
		@include m.dead-center();
		white-space: nowrap;
	}

	.search-centering-container {
		position: relative;
		float: left;
		height: v.$common-top-bar-height;
		// Width is changed by JS, but set here to an arbitrary value encase
		// JS were to fail for some reason.
		width: 500px;
	}

	.search-centering-container__centered-container {
		@include m.dead-center();

		width: 100%;
	}

	.search-centering-container__centered-container__search-bar {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		display: inline-block;
		outline: none;

		border: v.$common-top-bar-search-bar-border-width solid
			v.$default-theme-common-standard-border-background-color;
		border-right: none;
		border-radius: v.$common-top-bar-buttton-border-radius 0 0
			v.$common-top-bar-buttton-border-radius;
		padding: 0px v.$common-top-bar-search-bar-padding 0px
			v.$common-top-bar-search-bar-padding;
		background-color: v.$mode-common-top-bar-search-bar-background-color-light;
		height: v.$common-top-bar-search-bar-height;
		line-height: v.$common-top-bar-search-bar-height;
		// Width changed by JS
		width: 100%;
		font-size: v.$common-top-bar-search-bar-font-size;

		&:focus {
			border-width: v.$common-top-bar-search-bar-focus-border-width;
		}
	}

	.search-centering-container__centered-container__search-button {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		// Instead of relative to make sure the button always stays next to the list-search-bar
		position: absolute;
		display: inline-block;
		// Since a agap between searchbar and button will appear in chrome otherwise
		margin-left: -1px;
		//border: v.$common-top-bar-search-bar-border-width solid black;
		border-radius: 0 v.$common-top-bar-buttton-border-radius
			v.$common-top-bar-buttton-border-radius 0;
		background-color: v.$default-theme-common-standard-border-background-color;
		height: v.$common-top-bar-search-bar-height;
		width: v.$common-top-bar-search-button-width;
		cursor: pointer;
	}

	.search-centering-container__centered-container__search-button__icon {
		@include m.dead-center();
		color: white;
		font-size: v.$common-top-bar-search-button-icon-font-size;
	}

	// Supposed to contain list-view-top-bar-filter-button-component and
	// list-view-top-bar-filter-dropdown-component. Lets filter components get
	// displayed from the right of the screen. Also width is used by
	// searchBarResizeHookUtils to help in resizing the searchbar.
	.filter-components-container {
		position: absolute;
		right: 0px;
		// Width was figured out by eyeing what gave the searchbar after
		// searchBarResizeHookUtils an equal distance between the new-item and
		// filter buttons
		width: 131px;
	}

	.list-view-top-bar-filter-button-component {
		@include m.stop-text-selection();

		// Must be more than list-view-top-bar-filter-dropdown-component so its
		// top border can be covered to make the two containers look like one
		z-index: 1;
		position: absolute;
		top: 9px;
		right: 30px;
		border: v.$common-top-bar-common-button-border-width solid
			v.$mode-common-top-bar-button-and-dropdown-border-color-light;
		border-radius: v.$common-top-bar-buttton-border-radius;
		background-color: v.$mode-common-top-bar-button-and-dropdown-background-color-light;
		height: v.$common-top-bar-button-height;
		width: v.$list-view-top-bar-filter-button-width;
		color: v.$mode-common-top-bar-button-and-dropdown-text-color-light;
		font-size: v.$common-top-bar-button-font-size;
		text-align: center;
		cursor: pointer;
	}

	.list-view-top-bar-filter-button-component--with-dropdown-displayed {
		// Negative top margin because border resize moves the element
		margin: -(v.$common-top-bar-filter-button-with-dropdown-displayed-border-width-difference)
			0px 0px;
		border-width: v.$common-top-bar-filter-button-with-dropdown-displayed-border-width;
		// No bottom border so button and dropdown both look like one element
		border-bottom: none;
		border-radius: v.$common-top-bar-buttton-border-radius
			v.$common-top-bar-buttton-border-radius 0 0;
		height: 45px;
		width: v.$list-view-top-bar-filter-button-width -
			(
				v.$common-top-bar-filter-button-with-dropdown-displayed-border-width-difference *
					2
			);
	}

	.list-view-top-bar-filter-button-component__text {
		// Used horizontal-center instead of dead-center since with-dropdown-displayed
		// modifier would move the text
		@include m.horizontal-center();
		// Top found by eyeing it
		top: 5px;
		width: 100%;
	}

	.list-view-top-bar-filter-button-component__text--active {
		font-weight: bold;
		color: v.$common-top-bar-filter-button-active-color;
	}

	.list-view-top-bar-filter-dropdown-component {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: absolute;
		// Additional 0.2px to fix border overflow in chrome and edge
		top: 52.2px;
		right: 30px;
		border: 3px solid black;
		border-radius: v.$common-top-bar-buttton-border-radius 0
			v.$common-top-bar-buttton-border-radius
			v.$common-top-bar-buttton-border-radius;
		background-color: white;
		height: v.$common-top-bar-filter-sort-dropdown-content-container-height;
		width: v.$common-top-bar-filter-dropdown-content-container-width;
		cursor: default;
	}

	.list-view-top-bar-filter-dropdown-component--height-for-bugs {
		height: v.$common-top-bar-filter-dropdown-content-container-for-bugs-height;
	}

	.list-view-top-bar-filter-dropdown-component__content {
		float: left;
		margin: v.$common-top-bar-filter-button-dropdown-title-margin-top 0 0
			v.$common-top-bar-filter-button-dropdown-title-margin-on-one-side;
		text-align: center;
		font-size: v.$common-top-bar-filter-dropdown-content-font-size;
	}

	.list-view-top-bar-filter-dropdown-component__content--right {
		float: right;
		margin: v.$common-top-bar-filter-button-dropdown-title-margin-top
			v.$common-top-bar-filter-button-dropdown-title-margin-on-one-side 0 0;
	}

	.list-view-top-bar-filter-dropdown-component__content__title {
		display: block;
		margin: 2px 0px 5px 0px;
		border-bottom: 1px solid gray;
		padding-bottom: 3px;
		font-weight: bold;
	}

	.list-view-top-bar-filter-dropdown-component__content__block {
		text-align: left;
	}

	.list-view-top-bar-filter-dropdown-component__content__block__checkbox-container {
		display: inline-block;
		margin: v.$common-top-bar-filter-button-dropdown-checkbox-container-margin;
	}

	.list-view-top-bar-filter-dropdown-component__content__block__label {
		display: inline-block;
		margin: v.$common-top-bar-filter-button-dropdown-label-margin;
	}

	.list-view-top-bar-filter-dropdown-component__content__block__label--active {
		color: v.$common-top-bar-filter-button-active-color;
	}

	.new-item-tutorial-container {
		position: absolute;
		top: v.$common-top-bar-height + 10;
		left: 95px;
	}

	.new-item-tutorial-container__arrow-head {
		height: 0;
		width: 0;
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
		border-bottom: 14px solid
			v.$mode-common-top-bar-new-item-tutorial-arrow-background-color-light;
	}

	.new-item-tutorial-container__arrow-stock {
		background-color: v.$mode-common-top-bar-new-item-tutorial-arrow-background-color-light;
		margin-left: 11px;
		height: 66px;
		width: 6px;
	}

	.new-item-tutorial-container__bend-message-centering-container {
		position: absolute;
		margin: -12px 0px 0px 11px;
		height: 30px;
		width: 400px;
	}

	.new-item-tutorial-container__bend-message-centering-container__arrow-bend {
		@include m.vertical-center();

		background-color: v.$mode-common-top-bar-new-item-tutorial-arrow-background-color-light;
		height: 6px;
		width: 40px;
	}

	.new-item-tutorial-container__bend-message-centering-container__text {
		@include m.vertical-center();

		left: 48px;
		font-size: v.$list-view-top-bar-new-item-tutorial-font-size;
		color: v.$default-theme-common-mode-new-item-tutorial-border-text-color;
	}
}
