@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.list-view-top-bar,
.js-calc-list-view-top-bar {
	// Must be more than table header so filter button can overlap
	z-index: 1;
	position: fixed;
	top: v.$search-filter-sort-and-top-bar-top;
	border: v.$search-filter-sort-bar-border-width solid black;
	border-left: none;
	border-right: none;
	background-color: v.$mode-top-bar-background-color-light;
	height: v.$search-filter-sort-bar-height;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;

	.centering-container {
		position: relative;
		float: left;
		height: v.$search-filter-sort-bar-height;
		// This width is for the new item button. Searchbars width is changed by JS
		width: 152px;
	}

	.centering-container__new-item-button {
		@include m.stop-text-selection();
		@include m.vertical-center();

		left: 30px;
		border: v.$search-top-bar-base-button-border-width solid v.$mode-top-bar-border-color-button-light;
		border-radius: v.$search-top-bar-buttton-border-radius;
		background-color: v.$mode-top-bar-background-color-button-light;
		height: v.$search-filter-sort-bar-button-height;
		width: 110px;
		color: v.$mode-top-bar-text-color-button-light;
		font-size: v.$search-filter-sort-bar-button-font-size;
		text-align: center;
		cursor: pointer;
	}

	.centering-container__new-item-button--highlighted {
		border: (v.$search-top-bar-base-button-border-width + 1) solid red;
	}

	.centering-container__new-item-button__text {
		@include m.dead-center();
		white-space: nowrap;
	}

	.centering-container__search-group-container {
		@include m.dead-center();
		// This border color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in app.scss
		border: 0px solid black;
		border-radius: v.$search-top-bar-buttton-border-radius;
		width: 100%;
	}

	.centering-container__search-group-container__search-bar {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		display: inline-block;
		outline: none;
		// This border color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in app.scss
		border: v.$list-search-bar-button-border-width solid black;
		border-radius: v.$search-top-bar-buttton-border-radius 0 0 v.$search-top-bar-buttton-border-radius;
		padding: 0px v.$list-item-search-bar-padding 0px v.$list-item-search-bar-padding;
		background-color: v.$mode-top-bar-background-color-search-bar-light;
		height: v.$list-item-search-bar-height;
		line-height: v.$list-item-search-bar-height;
		// Width changed by JS
		width: 100%;
		font-size: v.$list-item-search-bar-font-size;
	}

	.centering-container__search-group-container__search-bar-button {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		// Instead of relative to make sure the button always stays next to the list-search-bar
		position: absolute;
		display: inline-block;
		// Since a agap between searchbar and button will appear in chrome otherwise
		margin-left: -1px;
		border: v.$list-search-bar-button-border-width solid black;
		border-radius: 0 v.$search-top-bar-buttton-border-radius v.$search-top-bar-buttton-border-radius 0;
		// This background color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in app.scss
		background-color: black;
		height: v.$list-item-search-bar-height;
		width: v.$list-item-search-bar-button-width;
		cursor: pointer;
	}

	.centering-container__search-group-container__search-bar-button__icon {
		@include m.dead-center();
		color: white;
		font-size: v.$list-item-search-bar-button-icon-font-size;
	}

	// Lets the searchbar resize know when to stop
	// ...and positons filter dropdown to the right
	.filter-area-container {
		position: absolute;
		right: 0px;
		width: 109px;
	}

	.search-bar-and-button-thick-border {
		border-width: v.$list-item-search-bar-button-focus-border-width;
		height: v.$search-filter-sort-bar-button-focus-height;
	}

	.filter-area-container__button {
		@include m.stop-text-selection();

		// Must be more than filter-area-container__content-dropdown
		// ...so its top border can be covered to make the two containers look like one
		z-index: 1;
		position: absolute;
		top: 9px;
		right: 30px;
		border: v.$search-top-bar-base-button-border-width solid v.$mode-top-bar-border-color-button-light;
		border-radius: v.$search-top-bar-buttton-border-radius;
		background-color: v.$mode-top-bar-background-color-button-light;
		height: v.$search-filter-sort-bar-button-height;
		width: v.$search-top-bar-filter-button-width;
		color: v.$mode-top-bar-text-color-button-light;
		font-size: v.$search-filter-sort-bar-button-font-size;
		text-align: center;
		cursor: pointer;
	}

	.filter-area-container__button--clicked {
		// Negative margin because border resize moves the element
		margin: -2px 0px 0px;
		border-width: v.$search-top-bar-clicked-dropdown-button-border-width;
		border-bottom: none;
		border-radius: v.$search-top-bar-buttton-border-radius v.$search-top-bar-buttton-border-radius 0 0;
		height: 45px;
		width: v.$search-top-bar-filter-button-width - (v.$search-top-bar-clicked-dropdown-button-border-width-difference * 2); 
	}

	.filter-area-container__button__text {
		// Used horizontal-center since resize would move the text
		@include m.horizontal-center();
		top: 4px;
		width: 100%;
	}

	.filter-area-container__button__text--active {
		font-weight: bold;
		color: v.$filter-active-color;
	}

	.filter-area-container__content-dropdown {
		position: absolute;
		// Additional 0.2px to fix border overflow in chrome and edge
		top: 52.2px;
		right: 30px;
		border: 3px solid black;
		border-radius: v.$search-top-bar-buttton-border-radius 0 v.$search-top-bar-buttton-border-radius v.$search-top-bar-buttton-border-radius;
		background-color: white;
		height: v.$filter-dropdown-content-container-height;
		width: v.$search-top-bar-filter-dropdown-content-container-width;
		cursor: default;
		// Made visible using JS
		visibility: hidden;
	}

	.filter-area-container__content-dropdown--shorter {
		height: 155px;
	}

	.filter-area-container__content-dropdown--visible {
		visibility: visible;
	}

	.filter-area-container__content-dropdown__content {
		float: left;
		margin: v.$search-top-bar-filter-button-dropdown-title-margin-top 0 0 v.$search-top-bar-filter-button-dropdown-title-margin-on-one-side;
		text-align: center;
		font-size: v.$filter-dropdown-content-font-size;
	}

	.filter-area-container__content-dropdown__content--right {
		float: right;
		margin: v.$search-top-bar-filter-button-dropdown-title-margin-top v.$search-top-bar-filter-button-dropdown-title-margin-on-one-side 0 0;
	}

	.filter-area-container__content-dropdown__content__title {
		display: block;
		margin: 2px 0px 5px 0px;
		border-bottom: 1px solid gray;
		padding-bottom: 3px;
		font-weight: bold;
	}

	.filter-area-container__content-dropdown__content__block {
		text-align: left;
	}

	.filter-area-container__content-dropdown__content__block__checkbox,
	.filter-area-container__content-dropdown__content__block__label {
		margin: 5px 3px 5px 3px;
	}

	.filter-area-container__content-dropdown__content__block__label--active {
		color: v.$filter-active-color;
	}

	.create-item-message-container {
		position: absolute;
		top: v.$search-filter-sort-bar-height + 10;
		left: 95px;
	}

	.create-item-message-container__arrow-head {
		height: 0;
		width: 0;
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
		border-bottom: 14px solid black;
	}

	.create-item-message-container__arrow-stock {
		background-color: black;
		margin-left: 11px;
		height: 50px;
		width: 6px;
	}

	.create-item-message-container__bend-message-centering-container {
		position: relative;
		margin: -12px 0px 0px 11px;
		height: 30px;
		width: 300px;
	}

	.create-item-message-container__bend-message-centering-container__arrow-bend {
		@include m.vertical-center();

		background-color: black;
		height: 6px;
		width: 20px;
	}

	.create-item-message-container__bend-message-centering-container__message {
		@include m.vertical-center();

		left: 25px;
		font-size: v.$search-filter-sort-create-item-message-font-size;
		color: red;
	}
}
