@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.create-item-component {
	.blurred-background {
		// Must be more than listViewSearchFilterSortBar.scss
		z-index: 1;
		position: absolute;
		top: v.$navbar-height;
		background-color: v.$blurred-background-color;
		opacity: v.$blurred-background-opacity;
		height: 100vh;
		width: 100vw;
	}

	.create-item-sidebar {
		// Must be more than listViewSearchFilterSortBar.scss
		z-index: 1;
		position: fixed;
		top: v.$navbar-height;
		// Used by JS during resize to give margin to bottom
		margin-bottom: 20px;
		border: v.$base-sidebar-border-width solid black;
		border-width: v.$base-sidebar-border-width - 1 v.$base-sidebar-border-width v.$base-sidebar-border-width 0;
		background-color: white;
		height: v.$create-item-sidebar-height;
		width: v.$create-item-sidebar-width;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		// Gives sidebar scrolling when content goes beyond height
		overflow-y: auto !important;
		overflow-x: hidden !important;
	}

	.create-item-sidebar--taller {
		height: v.$create-item-sidebar-height + 100;
	}

	.take-up-space {
		height: 1000px;
	}

	.x-button {
		@include m.exit-button();
	}

	.padded-container {
		// No padding on the top because of the header
		padding: 0px 25px 25px 25px;
	}

	.title {
		position: relative;
		padding-top: 24px;
		font-size: 140%;
	}

	.backend-errors {
		@include m.backend-error();
		
		font-size: v.$create-item-sidebar-label-font-size;
	}

	.form__label,
	.form__group-container__input-container__label,
	.form__group-container__input-container__label {
		float: left;
		margin-top: 5px;
		font-size: v.$create-item-sidebar-label-font-size;
	}

	.form__char-counter {
		float: right;
		margin: 5px 2px 2px 0px;
		font-size: v.$create-item-sidebar-label-font-size;
	}

	.form__text-input {
		margin-top: v.$create-item-sidebar-text-input-margin-top;
		margin-bottom: v.$edit-account-create-item-form-input-margin-bottom;
		outline: none;
		border: v.$form-input-text-base-border-width solid gray;
		border-radius: v.$form-input-border-radius;
		box-sizing: border-box;
		background: v.$light-gray-level-5;
		padding: v.$create-item-sidebar-padding;
		width: 100%;
		font-size: v.$item-form-text-input-font-size;
		font-family: Arial, Helvetica, sans-serif;
	}

	.form__textarea {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box; /* Firefox, other Gecko */
		box-sizing: border-box; /* Opera/IE 8+ */
		resize: none;

		margin-top: v.$create-item-sidebar-text-input-margin-top;
		margin-bottom: v.$edit-account-create-item-form-input-margin-bottom;
		outline: none;
		border: v.$form-input-text-base-border-width solid gray;
		border-radius: v.$form-input-border-radius;
		background-color: v.$light-gray-level-5;
		padding: 4px v.$create-item-sidebar-padding 4px
			v.$create-item-sidebar-padding;
		height: 150px;
		width: 100%;
		font-size: v.$item-form-text-input-font-size;
		line-height: v.$common-line-height;
		font-family: Arial, Helvetica, sans-serif;
	}

	.form__group-container {
		float: left;
		width: 45%;
	}

	.form__group-container--right {
		float: right;
	}

	.form__group-container__input-container {
		display: block;
	}

	.form__group-container__input-container__date {
		margin-top: 2px;
		margin-bottom: v.$edit-account-create-item-form-input-margin-bottom;
		outline: none;
		border: 1px solid gray;
		background-color: v.$light-gray-level-5;
		// Width is 97% since date boxes extend past conatiner
		width: 97%;
		// one pixel smaller than associated label
		font-size: 13px;
	}

	.form__group-container__input-container__select {
		margin-top: 2px;
		margin-bottom: v.$edit-account-create-item-form-input-margin-bottom;
		border: 1px solid gray;
		background-color: v.$light-gray-level-5;
		width: 100%;
		// one pixel smaller than associated label
		font-size: 13px;
	}

	.form__submit {
		margin-top: 10px;
		margin-bottom: 15px;
		outline: none;
		border: 0;
		border-radius: v.$base-buttton-border-radius;
		// This background color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in app.scss
		background-color: black;
		padding: 10px;
		width: 100%;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		cursor: pointer;
	}

	// These classes are used by the custom hook that handles appearance
	// ...of completion date based of the status of the project
	.grayed-out-unclickable-label {
		color: v.$gray-level-2;
		pointer-events: none;
	}

	.grayed-out-unclickable-date {
		background-color: white;
		color: v.$gray-level-2;
		pointer-events: none;
	}
}
