@use "../../utils/variables" as v;
@use "../../utils/mixins" as m;

// SCSS for classNames only used by the hamburger component
.hamburger-container,
.js-calc-hamburger-container {
	.blurred-background {
		// Must be more than navbar-container--increased-z-index in navbar.scss
		z-index: 3;
		position: absolute;
		top: 0;
		left: 0;
		background-color: black;
		opacity: v.$blurred-background-opacity;
		height: 100vh;
		width: 100vw;
	}

	.hamburger-button-container {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box; /* Firefox, other Gecko */
		box-sizing: border-box; /* Opera/IE 8+ */

		position: absolute;
		top: 9px;
		left: v.$navbar-hamburger-button-left;
		border: v.$navbar-hamburger-border-width solid black;
		border-radius: 25%;
		background-color: white;
		height: 38px;
		width: v.$navbar-hamburger-button-width;
	}

	.hamburger-button-container__icon {
		@include m.dead-center();

		color: black;
		font-size: 24px;
	}

	.hamburger-dropdown {
		// Must be more than blurred-background
		z-index: 4;
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box; /* Firefox, other Gecko */
		box-sizing: border-box; /* Opera/IE 8+ */

		position: absolute;
		top: 9px;
		left: 10px;
		border: v.$navbar-hamburger-border-width solid black;
		border-radius: v.$navbar-hamburger-dropdown-border-radius;
		background-color: white;
	}

	.hamburger-dropdown__top-space {
		position: relative;
		display: block;
		height: 34px;
	}

	.hamburger-dropdown__top-space__icon {
		@include m.dead-center();

		font-size: 24px;
	}

	.hamburger-dropdown__option {
		display: block;
		border-top: 1px solid gray;
		padding: 12px;
		cursor: pointer;

		&:hover,
		&:active {
			background-color: v.$light-gray;
		}
	}

	.hamburger-dropdown__option__arrow-icon {
		margin: 0px 6px 0px 7px;
	}

	@mixin round-bottom-border($border-radius) {
		border-bottom: v.$navbar-hamburger-border-width solid transparent;
		border-radius: 0 0 $border-radius $border-radius;
	}

	// Should be applied to first option when is also the last
	.hamburger-dropdown__option--round-bottom-border-first-button {
		@include round-bottom-border(v.$navbar-hamburger-dropdown-border-radius);
	}

	// Should be applied to third option when it is also the last
	.hamburger-dropdown__option--round-bottom-border-third-button {
		@include round-bottom-border(v.$navbar-hamburger-dropdown-border-radius + 5);
	}

	// Should be applied to last option when it is also the last
	.hamburger-dropdown__option--round-bottom-border-last-button {
		@include round-bottom-border(v.$navbar-hamburger-dropdown-border-radius + 10);
	}

	.hamburger-title,
	.js-calc-hamburger-title {
		@include m.stop-text-selection();

		position: absolute;
		left: v.$navbar-hamburger-title-left;
		padding-top: 18px;
		height: v.$navbar-height;
		font-family: Verdana, Geneva, sans-serif;
		font-size: v.$navbar-button-font-size;
		color: white;
		text-align: center;
	}
}
