@use "../../utils/variables" as v;
@use "../../utils/mixins" as m;

// SCSS for classNames only used by the hamburger component
.navbar-hamburger-component,
.js-get-navbar-hamburger-component {
	.blurred-backdrop {
		// Must be same as navbar-container--increased-z-index in navbar.scss
		z-index: 3;
		position: absolute;
		top: 0;
		left: 0;
		background-color: v.$mode-common-blurred-backdrop-background-color-light;
		opacity: v.$mode-common-blurred-backdrop-click-to-close-opacity-light;
		height: 100vh;
		width: 100vw;
	}

	.hamburger-button-container,
	.js-get-navbar-hamburger-button-container {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: absolute;
		top: 9px;
		left: v.$navbar-hamburger-button-left;
		border: v.$navbar-hamburger-border-width solid black;
		border-radius: v.$navbar-hamburger-border-radius;
		background-color: white;
		height: 38px;
		width: v.$navbar-hamburger-button-width;
		cursor: pointer;
	}

	.hamburger-button-container__icon {
		@include m.dead-center();

		color: black;
		font-size: 24px;
	}

	.hamburger-dropdown {
		// Must be more than blurred-backdrop
		z-index: 5;
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: absolute;
		top: 9px;
		left: 10px;
		border: v.$navbar-hamburger-border-width solid black;
		border-radius: v.$navbar-hamburger-border-radius;
		background-color: v.$mode-navbar-hamburger-dropdown-background-color-light;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 14px;
	}

	.hamburger-dropdown__top-space {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: relative;
		display: block;
		height: 34px;
	}

	.hamburger-dropdown__top-space__icon {
		@include m.dead-center();

		font-size: 24px;
		cursor: pointer;
	}

	.hamburger-dropdown__option {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: relative;
		display: block;
		border-top: 1px solid v.$mode-navbar-hamburger-dropdown-option-border-color-light;
		padding-left: 12px;
		height: v.$hamburger-dropdown-option-height;
		line-height: v.$hamburger-dropdown-option-height;
		white-space: nowrap;
		overflow: hidden;
		cursor: pointer;

		&:hover,
		&:active {
			background-color: v.$mode-navbar-hamburger-dropdown-option-hover-background-color-light;
		}
	}

	.hamburger-dropdown__option--selected {
		background-color: v.$mode-navbar-hamburger-dropdown-option-selected-background-color-light;

		&:hover,
		&:active {
			background-color: v.$mode-navbar-hamburger-dropdown-option-selected-background-color-light;
		}
	}

	.hamburger-dropdown__option--item-name {
		color: v.$mode-navbar-hamburger-dropdown-option-name-text-color-light;
	}

	.hamburger-dropdown__option--last-option-round-bottom-border {
		border-radius: 0 0 v.$navbar-hamburger-border-radius
			v.$navbar-hamburger-border-radius;
	}

	.hamburger-dropdown__option__icon {
		color: v.$mode-navbar-hamburger-dropdown-option-icon-text-color-light;
	}

	.hamburger-dropdown__option__svg-arrow-option-2 {
		margin: 0px 6px 0px 7px;
	}

	.hamburger-dropdown__option__svg-arrow-option-3 {
		margin: 0px 6px 0px 17px;
	}

	.hamburger-dropdown__option__svg-arrow-option-4 {
		margin: 0px 6px 0px 27px;
	}

	.hamburger-dropdown__option__close-button {
		@include m.vertical-center();
		@include m.stop-text-selection();

		padding: 1px 0px 0px 5px;
		color: v.$gray-level-4;
		opacity: 0.6;
		font-size: 17px;
		cursor: pointer;

		&:hover,
		&:active {
			opacity: 1;
			color: v.$breadcrumb-hamburger-close-button-text-color;
		}
	}

	.hamburger-title,
	.js-get-navbar-hamburger-title {
		@include m.stop-text-selection();

		position: absolute;
		left: v.$navbar-hamburger-title-left;
		height: v.$navbar-height;
		font-family: Verdana, Geneva, sans-serif;
		font-size: v.$navbar-button-font-size;
		color: white;
		text-align: center;
		vertical-align: middle;
		// Allows vertical-align: middle to work
		line-height: v.$navbar-height;
		// maxWidth (which allows ellipse to work) set using JS
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ". . .   ";
		cursor: pointer;
	}

	.hamburger-title--item-name {
		color: v.$basic-yellow-level-1;
	}
}
