@use "../../utils/variables" as v;
@use "../../utils/mixins" as m;

// SCSS for classNames only used by the hamburger component
.hamburger-container,
.js-calc-hamburger-container {
	.blurred-background {
		// Must be more than navbar-container--increased-z-index in navbar.scss
		z-index: 3;
		position: absolute;
		top: 0;
		left: 0;
		background-color: black;
		opacity: v.$blurred-background-opacity;
		height: 100vh;
		width: 100vw;
	}

	.hamburger-button-container,
	.js-calc-hamburger-button-container {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box; /* Firefox, other Gecko */
		box-sizing: border-box; /* Opera/IE 8+ */

		position: absolute;
		top: 9px;
		left: v.$navbar-hamburger-button-left;
		border: v.$navbar-hamburger-border-width solid black;
		border-radius: v.$navbar-hamburger-border-radius;
		background-color: white;
		height: 38px;
		width: v.$navbar-hamburger-button-width;
	}

	.hamburger-button-container__icon {
		@include m.dead-center();

		color: black;
		font-size: 24px;
	}

	.hamburger-dropdown {
		// Must be more than blurred-background
		z-index: 4;
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box; /* Firefox, other Gecko */
		box-sizing: border-box; /* Opera/IE 8+ */

		position: absolute;
		top: 9px;
		left: 10px;
		border: v.$navbar-hamburger-border-width solid black;
		border-radius: v.$navbar-hamburger-border-radius;
		background-color: white;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 14px;
	}

	.hamburger-dropdown__top-space {
		position: relative;
		display: block;
		height: 34px;
	}

	.hamburger-dropdown__top-space__icon {
		@include m.dead-center();

		font-size: 24px;
	}

	.hamburger-dropdown__option { 
		position: relative;
		display: block;
		border-top: 1px solid gray;
		padding-left: 12px;
		height: v.$hamburger-dropdown-item-height;
		line-height: v.$hamburger-dropdown-item-height;
		white-space: nowrap;
		overflow: hidden;
		cursor: pointer;

		&:hover,
		&:active {
			background-color: v.$light-gray-level-2;
		}
	}

	.hamburger-dropdown__option--selected {
		background-color: v.$light-gray-level-5;

		&:hover,
		&:active {
			background-color: v.$light-gray-level-5;
		}
	}

	.hamburger-dropdown__option--item-name {
		color: blue;
	}

	.hamburger-dropdown__option--last-button-round-bottom-border {
		border-radius: 0 0 v.$navbar-hamburger-border-radius
			v.$navbar-hamburger-border-radius;
	}

	.hamburger-dropdown__option__icon {
		color: v.$dark-gray-level-3;
	}

	.hamburger-dropdown__option__svg-arrow-option-2 {
		margin: 0px 6px 0px 7px;
	}

	.hamburger-dropdown__option__svg-arrow-option-3 {
		margin: 0px 6px 0px 17px;
	}

	.hamburger-dropdown__option__svg-arrow-option-4 {
		margin: 0px 6px 0px 27px;
	}

	.hamburger-dropdown__option__close-button {
		@include m.vertical-center();
		@include m.stop-text-selection();

		padding: 1px 0px 0px 5px;
		color: v.$dark-gray-level-1;
		opacity: 0.6;
		font-size: 17px;
		cursor: pointer;

		&:hover,
		&:active {
			opacity: 1;
			color: v.$bright-red;
		}
	}

	.hamburger-title,
	.js-calc-hamburger-title {
		@include m.stop-text-selection();

		position: absolute;
		left: v.$navbar-hamburger-title-left;
		height: v.$navbar-height;
		font-family: Verdana, Geneva, sans-serif;
		font-size: v.$navbar-button-font-size;
		color: white;
		text-align: center;
		vertical-align: middle;
		// Allows vertical-align: middle to work
		line-height: v.$navbar-height;
		// maxWidth (which allows ellipse to work) set using JS
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ". . .   ";
	}

	.hamburger-title--item-name {
		color: v.$yellow;
	}
}
