@use "../../utils/variables" as v;
@use "../../utils/mixins" as m;

// SCSS for classNames shared by the navbar, breadcrumb, and hamburger components
.navbar-container {
	position: fixed;
	height: v.$navbar-height;
	width: 100%;
	top: 0;

	.navbar {
		// This background color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in home.scss
		background-color: black;
		height: v.$navbar-height;
		width: 100%;
	}

	.navbar__account-button {
		// Postion absolute instead of float right so that account button
		// ...will always remain on screen during screen resizing
		position: absolute;
		right: 0;
		// Padding instead of margin since padding is include in size to be
		// ...used for breadcrumb font-resize
		padding-left: 40px;
		height: v.$navbar-account-button-height;
		width: v.$navbar-account-button-width;
	}

	.navbar__account-button__text {
		@include m.stop-text-selection();

		position: relative;
		margin: 0 auto 0 auto;
		height: v.$navbar-account-button-height;
		color: white;
		font-family: Verdana, Geneva, sans-serif;
		font-size: v.$navbar-button-font-size;
		text-align: center;
		vertical-align: middle;
		// Allows vertical-align: middle to work
		line-height: v.$navbar-account-button-height;
	}
}

/*
Increases navbar z-index for when the hamburger menu is present so hamburger
dropdown can overlap all other components
*/
.navbar-container--increased-z-index {
	// Must be more than listViewSearchFilterSortBar.scss and itemViewTopBar.scss
	z-index: 3;
}
