@use "../../utils/variables" as v;
@use "../../utils/mixins" as m;

// SCSS for classNames shared by the navbar, breadcrumb, and hamburger components
.navbar-container {
	position: fixed;
	height: v.$navbar-height;
	width: 100%;
	top: 0;

	.navbar {

		// This background color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in home.scss
		background-color: black;
		height: v.$navbar-height;
		width: 100%;
	}

	.navbar__button {
		position: relative;
		float: left;
		// This background color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in home.scss
		background-color: black;
		height: v.$navbar-height;
	}

	.navbar__button--right {
		// Postion absolute instead of float right so that account button
		// ...will always remain on screen during screen resizing
		position: absolute;
		right: 0;
	}

	.navbar__button__outer-text-container {
		position: relative;
		float: left;
		height: v.$navbar-height;
	}

	.navbar__button__outer-text-container__inner-text-container {
		@include m.stop-text-selection();

		margin: 18px v.$navbar-button-text-container-margin-right 0px v.$navbar-button-text-container-margin-left;
		font-family: Verdana, Geneva, sans-serif;
		font-size: v.$navbar-button-font-size;
		color: white;
		text-align: center;
		// Text cutoff with ellipise only takes place when max-width is added by JS
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.navbar__button__outer-text-container__inner-text-container--right {
		// Reverse of the unmoddified version
		margin-right: v.$navbar-button-text-container-margin-left;
		margin-left: v.$navbar-button-text-container-margin-right;
	}

	.navbar__button__outer-text-container__inner-text-container--item-name {
		color: v.$yellow;
		font-style: italic;
	}
}

/*
Increases navbar z-index for when the hamburger menu is present so hamburger
dropdown can overlap all other components
*/
.navbar-container--increased-z-index {
	// Must be more than listViewSearchFilterSortBar.scss
	z-index: 2;
}
