@import "../utils/variables";
@import "../utils//mixins";

.home-container,
.js-calc-home-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	//======================================================
	// Bellow class selectors are used by JS across project
	//======================================================
	// Used to turn character counters red when limit is gone over
	.text-red {
		color: red;
	}

	// Used to to gray-out the word "none" for empty item fields
	.grayed-out-none {
		@include stop-text-selection();

		color: $dark-gray;
		opacity: 0.7;
	}

	// Standard background colors
	.js-set-project-background-color-dark {
		background-color: $dark-blue-teal;
		/* background-color: #0096db; */
		/* background-color: #a16161; */
	}
	.js-set-project-background-color-light {
		background-color: $blue-teal;
		/* background-color: #39b3eb; */
		/* background-color: #c98b8b; */
	}
	.js-set-bug-background-color-dark {
		background-color: $navy-blue;
	}
	.js-set-bug-background-color-light {
		background-color: $light-navy-blue;
	}


	// Hover background colors
	// Standard background colors
	.js-set-project-background-color-with-hover {
		background-color: $blue-teal;
		/* background-color: #39b3eb; */
		/* background-color: #c98b8b; */
	}
	.js-set-project-background-color-with-hover:hover,
	.js-set-project-background-color-with-hover:active {
		background-color: $dark-blue-teal;
		/* background-color: #0096db; */
		/* background-color: #a16161; */
	}
	.js-set-bug-background-color-with-hover {
		background-color: $light-navy-blue;
	}
	.js-set-bug-background-color-with-hover:hover,
	.js-set-bug-background-color-with-hover:active {
		background-color: $navy-blue;
	}


	// Border colors
	.js-set-project-border-color-dark {
		border-color: $dark-blue-teal;
		/* background-color: #0096db; */
		/* background-color: #a16161; */
	}
	.js-set-project-border-color-light {
		border-color: $blue-teal;
		/* background-color: #39b3eb; */
		/* background-color: #c98b8b; */
	}
	.js-set-bug-border-color-dark {
		border-color: $navy-blue;
	}
	.js-set-bug-border-color-light {
		border-color: $light-navy-blue;
	}


	// Text and link color
	.js-set-project-text-color {
		color: $teal-link;
	}
	.js-set-bug-text-color {
		color: $blue-link;
	}


	// Used for changing the background color of status-boxes
	// ...also used to store colors in redux for bug-pie-chart
	.status-box-background-color-gray,
	.js-calc-status-box-background-color-gray {
		background-color: $status-gray;
	}
	.status-box-background-color-blue,
	.js-calc-status-box-background-color-blue {
		background-color: $status-blue;
	}
	.status-box-background-color-purple,
	.js-calc-status-box-background-color-purple {
		background-color: $status-purple;
	}
	.status-box-background-color-orange,
	.js-calc-status-box-background-color-orange {
		background-color: $status-orange;
	}
	.status-box-background-color-green,
	.js-calc-status-box-background-color-green {
		background-color: $status-green;
	}
	.status-box-background-color-red,
	.js-calc-status-box-background-color-red {
		background-color: $status-red;
	}


	// Used to change text color in status combo-boxes
	.status-box-text-color-gray {
		color: $status-gray;
	}
	.status-box-text-color-blue {
		color: $status-blue;
	}
	.status-box-text-color-purple {
		color: $status-purple;
	}
	.status-box-text-color-orange {
		color: $status-orange;
	}
	.status-box-text-color-green {
		color: $status-green;
	}
	.status-box-text-color-red {
		color: $status-red;
	}
}
