@import "../utils/variables";
@import "../utils//mixins";

.navbar-and-other-components-container {
	// Must be more than table header so filter button can overlap
	z-index: 1;
	// Sticky instead of fixed for positioning of other components
	/* position: -webkit-sticky;
	position: sticky; */
	position: fixed;
	width: 100%;
	top: 0;

	.navbar-component {
		background-color: $blue-gray;
		height: $navbar-height;
		width: 100%;
	}

	.navbar-button {
		position: relative;
		float: left;
		background-color: $blue-gray;
		height: $navbar-height;
	}

	.navbar-button--right {
		// Postion absolute instead of float right so that account button
		// ...will always remain on screen during screen resizing
		position: absolute;
		right: 0;
	}

	.navbar-button--selected {
		background-color: $light-blue-gray;
	}

	.navbar-button__text-container {
		@include stop-text-selection();

		margin: 18px 10px 0px 10px;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 20px;
		color: white;
		text-align: center;
		// Text cutoff with ellipise only takes place when max-width is added by JS
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.navbar-button__text-container--main {
		color: yellow;
	}

	.navbar-button__close-button {
		position: absolute;
		top: 5px;
		right: 5px;
		background-color: $light-red;
		border-radius: 100%;
		height: 16px;
		width: 16px;
		opacity: 0.4;
		cursor: pointer;
	}
	.navbar-button__close-button:hover,
	.navbar-button__close-button:active {
		background-color: $bright-red;
		opacity: 1;
	}

	.navbar-button__close-button__icon {
		@include stop-text-selection();
		@include dead-center();

		color: white;
		font-size: 12px;
	}

	.account-dropdown {
		// Must be absolute so it doesn't affect the postion of other components
		position: absolute;
		right: 0px;
		width: 200px;
		height: 300px;
	}
}
