@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.navbar-breadcrumb-component,
.js-get-navbar-breadcrumb-component {
	padding-left: 10px;
	.breadcrumb-button {
		position: relative;
		float: left;
		height: v.$navbar-height;
		font-family: Verdana, Geneva, sans-serif;
		font-size: v.$common-navbar-button-font-size;
		// Allows vertical-align: middle to work (located below)
		line-height: v.$navbar-height;
		text-align: center;
		vertical-align: middle;
	}

	.breadcrumb-button__text {
		padding: v.$navbar-breadcrumb-button-text-padding-left-right;
		color: v.$mode-navbar-button-inactive-text-color-light;
		cursor: pointer;
	}

	.breadcrumb-button__text--active {
		color: inherit;
	}
	
	.breadcrumb-button__icon {
		color: v.$mode-navbar-button-inactive-text-color-light;
	}
}
