@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.navbar-component {
	@include m.full-width-minus-nav-panel();

	position: fixed;
	top: 0;
	left: v.$common-left;
	border-bottom: v.$navbar-border-width solid v.$mode-navbar-border-color-light;
	height: v.$navbar-height;
	font-family: Verdana, Geneva, sans-serif;

	.navbar-breadcrumb-component {
		float: left;
		padding: v.$navbar-breadcrumb-padding;
	}

	// shared styles between breadcrumb buttons and dividers
	.breadcrumb-button,
	.breadcrumb-divider {
		@include m.set-transition(
			width v.$navbar-breadcrumb-button-and-divider-width-transition-time
				ease-in-out,
			color v.$navbar-breadcrumb-button-and-divider-text-color-transition-time
				ease-in-out
		);

		float: left;
		height: v.$navbar-height;
		color: v.$mode-navbar-breadcrumb-button-and-divider-text-color-light;
		font-size: v.$common-navbar-font-size;
		line-height: v.$navbar-height;
		// nowrap encase of rounding errors when changing width in JS
		white-space: nowrap;
		text-align: center;
		cursor: pointer;
	}

	// styles unique to breadcrumb dividers
	.breadcrumb-divider {
		padding: 0 15px 0 13px;
		cursor: default;
	}

	@include m.set-fade-in-fade-out-rules();

	.breadcrumb-button--fade-in,
	.breadcrumb-divider--fade-in {
		@include m.set-animation(
			fadeIn v.$navbar-breadcrumb-button-and-divider-fade-transition-time linear
				forwards
		);
	}

	.breadcrumb-button--fade-out,
	.breadcrumb-divider--fade-out {
		@include m.set-animation(
			fadeOut v.$navbar-breadcrumb-button-and-divider-fade-transition-time
				linear forwards
		);
	}

	.breadcrumb-divider--zero-padding {
		padding: 0 0 0 0;
	}

	.breadcrumb-button--opened {
		color: v.$mode-navbar-breadcrumb-button-opened-text-color-light;
	}

	.breadcrumb-button--cursor-default {
		cursor: default;
	}

	.padding-container {
		// Postion absolute instead of float right so that account button
		// ...will always remain on screen during screen resizing
		position: absolute;
		top: 0;
		right: 0;
		// Padding instead of margin so it's included in the element size when
		// ...getting navbarAccountButtonWidth via JS
		padding-right: 10px;
		height: v.$navbar-account-button-height;
		font-size: v.$common-navbar-font-size - 1;
		// Allows vertical-align: middle to work (located below)
		line-height: v.$navbar-height;
		text-align: center;
		vertical-align: middle;
	}

	.padding-container__account-button {
		color: v.$mode-navbar-account-button-text-color-light;
		cursor: pointer;
	}
}
