@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.navbar-component {
	@include m.full-width-minus-nav-panel();

	position: fixed;
	top: 0;
	left: v.$common-left;
	border-bottom: v.$navbar-border-width solid v.$mode-navbar-border-color-light;
	height: v.$navbar-height;

	.navbar-breadcrumb-component {
		float: left;
		padding: v.$navbar-breadcrumb-padding;
	}

	@mixin breadcrumbAndSoloTitleShared() {
		float: left;
		height: v.$navbar-height;
		font-family: Verdana, Geneva, sans-serif;
		// Allows vertical-align: middle to work (located below)
		line-height: v.$navbar-height;
		text-align: center;
	}

	.breadcrumb-button {
		@include breadcrumbAndSoloTitleShared();

		color: v.$mode-navbar-breadcrumb-button-text-color-light;
		font-size: v.$common-navbar-font-size;
	}

	.breadcrumb-button__title {
		cursor: pointer;
	}

	.breadcrumb-button__title--opened {
		color: v.$mode-navbar-breadcrumb-button-title-opened-text-color-light;
	}

	.breadcrumb-button__icon {
		padding: v.$navbar-breadcrumb-button-icon-padding;
	}

	.navbar-solo-title-component {
		@include breadcrumbAndSoloTitleShared();
		padding: v.$navbar-solo-title-padding;
		font-size: v.$common-navbar-font-size;
	}

	.breadcrumb--invisible,
	.solo-title--invisible {
		// Instead of display: none so the component can still be measurued
		visibility: hidden;
		// So it will not interfere with any other components/buttons on the navbar
		position: absolute;
	}

	.padding-container {
		// Postion absolute instead of float right so that account button
		// ...will always remain on screen during screen resizing
		position: absolute;
		top: 0;
		right: 0;
		// Padding instead of margin so it's included in the element size when
		// ...getting navbarAccountButtonWidth via JS
		padding-right: 10px;
		height: v.$navbar-account-button-height;
		font-family: Verdana, Geneva, sans-serif;
		font-size: v.$common-navbar-font-size - 1;
		// Allows vertical-align: middle to work (located below)
		line-height: v.$navbar-height;
		text-align: center;
		vertical-align: middle;
	}

	.padding-container__account-button {
		color: v.$mode-navbar-account-button-text-color-light;
		cursor: pointer;
	}
}
