@import "../../utils/variables";

.delete-project-modal-component {
	.blurred-background {
		z-index: 4;
		position: absolute;
		top: 0px;
		left: 0px;
		margin-top: -($navBarHeight + $viewProjectModalMargin + $viewProjectModalBorderWidth);
		margin-left: -($viewProjectModalMargin + $viewProjectModalBorderWidth);
		background-color: black;
		opacity: 0.5;
		height: 100vh;
		width: 100vw;
	}

	.delete-account-modal {
		z-index: 4;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 5px solid black;
		background: white;
		height: 150px;
		width: 300px;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
	}

	.outer-container {
		// Moves warning message down
		margin-top: 35px;
		width: 100%;
	}

	.warning-message {
		font-size: 22px;
		color: red;
	}

	.centered-buttons-container {
		position: absolute;
		top: 90px;
		left: 50%;
		transform: translate(-50%);
		width: 265px;
	}

	.centered-buttons-container__delete {
		float: left;
		border: 1px solid black;
		background: #d36464;
		// Only top and bottom because of inconsistencies
		// ...with button vs divs.
		padding: 10px 0px 10px 0px;
		// 2px bigger than cancel button because of inconsistencies
		// ...with buttons vs divs.
		width: 127px;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		cursor: pointer;
	}
	.centered-buttons-container__delete:hover,
	.centered-buttons-container__delete:active {
		background: #d84848;
	}

	.centered-buttons-container__cancel {
		float: right;
		border: 1px solid black;
		background: #e7e7e7;
		// Only top and bottom because of inconisistencies
		// ...with button and div padding.
		padding: 10px 0px 10px 0px;
		width: 125px;
		color: black;
		text-align: center;
		font-size: 16px;
		cursor: pointer;
	}
	.centered-buttons-container__cancel:hover,
	.centered-buttons-container__cancel:active {
		background: #dad9d9;
	}
}
