// The DisplayProjectInfo component also uses shared SCSS in viewProjectModal.scss
// This file is for SCSS used only by  the DisplayProjectInfo component
@import "../../utils/variables";
@import "../../utils//mixins";

.view-project-modal-component {

	.project-name {
		padding: 43px 0px 2px 0px;
		text-align: center;
		font-size: 175%;
	}

	.project-box__description {
		display: block;
		margin-bottom: 10px;
		padding: 5px;
		line-height: $common-line-height;
	}

	.project-box__group__field__type {
		font-weight: bold;
	}

	.project-box__group__field_content {
		margin-left: 11px;
	}
}
