@import "../../utils/variables";
@import "../../utils//mixins";

.view-project-modal-component {
	.blurred-background {
		position: fixed;
		top: $navbar-height;
		background-color: black;
		opacity: 0.5;
		height: 100vh;
		width: 100vw;
	}

	.view-project-modal {
		position: fixed;
		top: $navbar-height;
		margin: $view-project-bug-modal-margin;
		border: $view-project-bug-modal-border-width solid black;
		background-color: white;
		// Height and width values were found through trial and error
		// ...to make modal resize (using js) look less jumpy
		height: 88.5vh;
		width: 97vw;
		font-family: Arial, Helvetica, sans-serif;
	}

	.top-buttons-bar {
		border-bottom: 1px solid black;
		background-color: silver;
		height: 46px;
		width: 100%;
	}

	.project-options-container {
		z-index: 2;
		position: absolute;
		top: 8px;
		right: 50px;
		width: 135px;
	}

	.project-options-container__button {
		z-index: 3;
		position: absolute;
		right: 6px;
		border: 2px solid transparent;
		border-bottom: none;
		padding: 0px 3px 0px 5px;
		background: none;
		height: 29px;
		width: 23px;
		color: $dark-gray;
		font-size: 28px;
		cursor: pointer;
	}
	.project-options-container__button:hover,
	.project-options-container__button:active {
		color: $black;
	}

	.project-options-container__button--selected {
		border-color: black;
		border-bottom-color: white;
		background-color: white;
	}

	.project-options-container__dropdown {
		position: absolute;
		top: 29px;
		border: 2px solid black;
		background-color: white;
		// Made visible using JS
		visibility: hidden;
	}

	.project-options-container__dropdown__option {
		display: block;
		border-bottom: 1px solid gray;
		padding: 12px;
		cursor: pointer;
	}
	.project-options-container__dropdown__option:hover,
	.project-options-container__dropdown__option:active {
		background-color: $light-gray;
	}

	.project-options-container__dropdown__option--no-display {
		display: none;
	}

	.project-options-container__dropdown__option--no-border {
		border-bottom: none;
	}

	.x-button {
		@include back-exit-buttons();
		right: 20px;
		color: $dark-gray;
	}
	.x-button:hover,
	.x-button:active {
		color: $black;
	}

	.project-content-container {
		// Gives modal scrolling when content goes beyond modal height
		overflow-y: scroll !important;
		overflow-x: hidden !important;
	}

	// Must be a seperate div inside .project-content-container so the padding
	// ...does not affect the resize so it goes beyond the modal 
	.padding-container {
		padding: 0px 25px 25px 25px;
	}

	.project-creation-date {
		margin: 5px;
		text-align: center;
		font-size: 115%;
	}

	.outer-dividing-container {
		float: left;
		width: 100%;
	}

	.outer-dividing-container-one-third {
		width: 33.33%;
		min-width: 300px;
	}

	.project-box {
		margin: 10px;
		border: 2px solid black;
		background-color: $light-gray;
		padding: 0px 20px 20px 20px;
		overflow-wrap: anywhere;
	}

	.project-box--smaller-padding {
		padding: 0px 15px 20px 15px;
	}

	.project-box__title {
		position: relative;
		text-align: center;
		font-size: 140%;
	}

	.project-box__title--no-bottom-margin {
		margin-bottom: 0px;
	}

	.horizontal-line {
		margin-bottom: 25px;
		border: 1px solid gray;
	}

	.project-box__group__field {
		margin-bottom: 25px;
	}

	.project-box__group__field--no-bottom-margin {
		margin-bottom: 0px;
	}

	.project-box__group__field--inline-flex {
		display: inline-flex;
	}

	.bottom-row-height-filler {
		height: 65px;
	}
}
