@import "../../utils/variables";
@import "../../utils//mixins";

.view-project-modal-component {
	.blurred-background {
		position: absolute;
		background-color: black;
		opacity: 0.5;
		height: 100vh;
		width: 100vw;
	}

	.view-project-modal {
		position: fixed;
		margin: $viewProjectModalMargin;
		border: $viewProjectModalBorderWidth solid black;
		background: #e6e9ee;
		// This width tends to have the least appearance of change
		// ...when the width is calculated and overwritten using js
		width: 96.5vw;
		min-width: 1265px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.project-options-container {
		z-index: 2;
		position: absolute;
		top: 10px;
		right: 50px;
		width: 135px;
	}

	.project-options-container__button {
		z-index: 3;
		position: absolute;
		right: 7px;
		border: 2px solid transparent;
		border-bottom: none;
		padding: 0px 3px 0px 5px;
		background: none;
		height: 29px;
		width: 23px;
		color: $mediumGray;
		font-size: 26px;
		cursor: pointer;
	}
	.project-options-container__button:hover,
	.project-options-container__button:active {
		color: $black;
	}

	.project-options-container__button--selected {
		border-color: black;
		border-bottom-color: white;
		background-color: white;
	}

	.project-options-container__dropdown {
		position: absolute;
		top: 29px;
		border: 2px solid black;
		background-color: white;
		// Made visible using JS
		visibility: hidden;
	}

	.project-options-container__dropdown__option {
		display: block;
		border-bottom: 1px solid gray;
		padding: 12px;
		cursor: pointer;
	}
	.project-options-container__dropdown__option:hover,
	.project-options-container__dropdown__option:active {
		background-color: $lightGray;
	}

	.project-options-container__dropdown__option--no-display {
		display: none;
	}

	.project-options-container__dropdown__option--no-border {
		border-bottom: none;
	}

	.x-button {
		@include back-exit-buttons();
		right: 20px;
	}
	.x-button:hover,
	.x-button:active {
		color: $black;
	}

	.padded-container {
		// No padding on the top because of the header
		padding: 0px 25px 25px 25px;
	}

	.project-creation-date {
		margin: 5px;
		text-align: center;
		font-size: 105%;
	}

	.display-edit-project-table {
		width: 100%;
	}

	.display-edit-project-table__data {
		width: 33.33%;
		min-width: 400px;
	}

	.project-box {
		margin: 10px;
		border: 2px solid black;
		background-color: white;
		padding: 0px 20px 20px 20px;
		min-height: 400px;
		overflow-wrap: anywhere;
	}

	.project-box__title {
		position: relative;
		text-align: center;
		font-size: 140%;
	}

	.project-box__title--no-bottom-margin {
		margin-bottom: 0px;
	}

	.horizontal-line {
		margin-bottom: 25px;
		border: 1px solid gray;
	}

	.project-box__group__field {
		margin-bottom: 25px;
	}

	.project-box__group__field--no-bottom-margin {
		margin-bottom: 0px;
	}

	.project-box__group__field--inline-flex {
		display: inline-flex;
	}

	.bottom-row-height-filler {
		height: 65px;
	}
}
