@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.nav-panel-table-component {
	position: relative;
	// Left/right paddings not placed here so rows do not extend outside container
	padding-top: 10px;
	width: v.$nav-panel-table-width;
	font-size: v.$common-font-size;
	font-family: Arial, Helvetica, sans-serif;

	.table {
		// Width will may not be correct if display is not block
		display: block;
		padding: 0 v.$nav-panel-table-padding-left-right;
		width: v.$nav-panel-table-width;
	}

	// Styles used for both a row element inside NavPanelTable component
	// ...and the outermost element for NavPanelTableRow component
	.table__row,
	.nav-panel-table-row-component {
		height: 40px;
		cursor: pointer;
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
		user-select: none; /* Standard syntax */
	}

	.table__empty-row {
		height: v.$nav-panel-table-row-empty-height;
		cursor: default;
	}

	.table__row__header {
		padding: 0;
		text-align: left;
	}

	.table__row__header__info {
		padding: 0px v.$nav-panel-table-row-header-info-padding-left-right;
	}
	.table__row__header__info i {
		padding-right: 8px;
	}

	.table__row__data {
		padding: 0 0 0 v.$nav-panel-table-row-data-padding-left;
	}

	.table__row__data__overflow-container {
		width: v.$nav-panel-table-row-data-overflow-container-width;
		max-width: v.$nav-panel-table-row-data-overflow-container-width;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.table__row__data__overflow-container__info {
		cursor: pointer;
	}

	.table__row__data__overflow-container__info__completed-icon {
		margin-right: 5px;
	}
}
