@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.nav-panel-button-list-component,
.js-get-nav-panel-button-list-component {
	width: auto;
	font-size: v.$common-font-size;
	font-family: Arial, Helvetica, sans-serif;

	.sub-overflow-container,
	.js-get-nav-panel-button-list-component-sub-overflow-container {
		transition: v.$nav-panel-button-list-sub-overflow-container-transition;

		overflow-y: auto;
		overflow-x: hidden;

		scrollbar-width: thin;
		scrollbar-color: #cdcdcd #ffffff00;

		/* width */
		::-webkit-scrollbar {
			width: 10px;
		}

		/* Track */
		::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background: #888;
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
	}

	.sub-overflow-container--scrollbar-present,
	.js-get-nav-panel-button-list-component-sub-overflow-container--scrollbar-present {
		margin-top: v.$nav-panel-button-list-sub-overflow-container-margin-top-bottom;
		padding: 10px 0 20px 0;
		box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.1);

		transition: v.$nav-panel-button-list-sub-overflow-container-transition;
	}

	.sub-overflow-container--bottom-spacing,
	.js-get-nav-panel-button-list-component-sub-overflow-container--bottom-spacing {
		margin-bottom: v.$nav-panel-button-list-sub-overflow-container-margin-top-bottom;
		box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.1),
			inset 0 -7px 9px -7px rgba(0, 0, 0, 0.1);

		transition: v.$nav-panel-button-list-sub-overflow-container-transition;
	}

	@mixin buttonsShared() {
		display: flex;
		margin: 0 v.$nav-panel-button-margin-left-right;
		border-radius: 5px;
		height: 40px;
		cursor: pointer;
		align-items: center;
	}

	.nav-panel-button-list-sub-item-component {
		@include buttonsShared();
		padding: 0 5px 0 v.$nav-panel-button-list-sub-item-padding-left;
	}

	.list-button,
	.js-get-nav-panel-button-list-component-list-button {
		@include buttonsShared();
		padding: 0px v.$nav-panel-button-list-main-item-padding-left-right;
	}

	.list-button--top-spacing,
	.js-get-nav-panel-button-list-component-list-button--top-spacing {
		margin-top: 10px;
	}

	.list-button--bottom-spacing,
	.js-get-nav-panel-button-list-component-list-button--bottom-spacing {
		margin-bottom: 20px;
	}

	.list-button--selected,
	.sub-item-button--selected {
		box-shadow: v.$common-button-box-shadow;
	}

	.list-button__icon,
	.sub-item-button__icon {
		margin-right: v.$nav-panel-button-icon-margin-right;
		width: v.$nav-panel-button-icon-width;
	}

	.sub-item-button__tooltip-container {
		position: relative;
		margin-right: v.$nav-panel-button-icon-margin-right;
	}

	.sub-item-button__tooltip-container__icon {
		width: v.$nav-panel-button-icon-width;
	}

	.sub-item-button__ellipsis-container {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
