@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.nav-panel-table-component {
	position: relative;
	padding: 10px 0 0 10px;
	width: v.$nav-panel-width;
	font-size: v.$common-font-size;
	font-family: Arial, Helvetica, sans-serif;

	// Styles used for both a row element inside NavPanelTable component
	// ...and the outermost element for NavPanelTableRow component
	.table__row,
	.nav-panel-table-row-component {
		height: 40px;
	}

	.table__empty-row {
		height: v.$nav-panel-table-row-empty-height;
	}

	.table__row__header {
		width: v.$nav-panel-width;
		text-align: left;
	}

	.table__row__header__info {
		cursor: pointer;
	}
	.table__row__header__info i {
		padding-right: 8px;
	}

	.table__row__data {
		position: relative;
	}

	.table__row__data__overflow-container {
		@include m.dead-center();

		width: v.$nav-panel-width - 25;
		max-width: v.$nav-panel-width - 25;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.table__row__data__overflow-container__info {
		cursor: pointer;
	}

	.table__row__data__overflow-container__info__completed-icon {
		margin-right: 5px;
	}
}
