@use "../../../utils/variables" as v;
@use "../../../utils/mixins" as m;

.nav-panel-button-list-component {
	width: auto;
	font-size: v.$common-font-size;
	font-family: Arial, Helvetica, sans-serif;

	.static-container {
		padding-top: 10px;
	}

	.over-flow-container {
		padding-bottom: 30px;
		// Height found by eyeing it to make resize (using js) look less jumpy
		height: 80vh;
		overflow-y: auto;
		overflow-x: hidden;

		scrollbar-width: thin;
		scrollbar-color: rgb(180, 180, 180) #ffffff00;

		/* width */
		::-webkit-scrollbar {
			width: 10px;
		}

		/* Track */
		::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background: #888;
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
	}

	.item,
	.nav-panel-button-list-sub-item-component {
		display: flex;
		margin: 0 v.$nav-panel-button-margin-left-right;
		border-radius: 5px;
		// Padding only used by sub-items. Overwritten for main items.
		padding: 0 5px 0 v.$nav-panel-button-list-sub-item-padding-left;
		height: 40px;
		cursor: pointer;
		align-items: center;
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
		user-select: none; /* Standard syntax */
	}

	// Overwrites padding for main items
	.item {
		padding: 0px v.$nav-panel-button-list-main-item-padding-left-right;
	}

	.item__icon {
		margin-right: v.$nav-panel-button-icon-margin-right;
		width: v.$nav-panel-button-icon-width;
	}

	.item--selected,
	.sub-item--selected {
		box-shadow: v.$common-button-box-shadow;
	}

	.sub-item__ellipsis-container {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.sub-item__ellipsis-container__icon {
		margin-right: v.$nav-panel-button-icon-margin-right;
		width: v.$nav-panel-button-icon-width;
	}
}
