@use "../../utils/variables" as v;
@use "../../utils/mixins" as m;

.delete-modal-component {
	.blurred-background {
		// Must be the same or more than listViewSearchFilterSortBar.scss
		// ...and itemView.scss
		z-index: 1;
		position: fixed;
		top: v.$navbar-height;
		left: 0px;
		background-color: v.$mode-blurred-background-background-color-light;
		opacity: v.$mode-blurred-background-opacity-light;
		height: 100vh;
		width: 100vw;
	}

	.delete-account-modal {
		// Must be the same or more than listViewSearchFilterSortBar.scss
		// ...and itemView.scss
		z-index: 1;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 5px solid black;
		background-color: white;
		height: 170px;
		width: 300px;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
	}

	// Needed to move the warning message down
	.warning-container {
		margin-top: 45px;
		width: 100%;
	}

	.warning-container__message {
		font-size: 22px;
	}

	.backend-errors {
		@include m.backend-error();

		margin-top: 10px;
	}

	.centered-buttons-container {
		@include m.horizontal-center();

		top: 110px;
		width: 265px;
	}

	.centered-buttons-container__delete {
		float: left;
		border: 1px solid black;
		border-radius: v.$base-buttton-border-radius;
		background-color: v.$red-dark-level-1;
		// Only top and bottom because of inconsistencies
		// ...with button vs divs.
		padding: 10px 0px 10px 0px;
		// 2px bigger than cancel button because of inconsistencies
		// ...with buttons vs divs.
		width: 127px;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		cursor: pointer;

		&:hover,
		:active {
			background-color: v.$red-dark-level-2;
		}
	}

	.centered-buttons-container__cancel {
		float: right;
		border: 1px solid black;
		border-radius: v.$base-buttton-border-radius;
		background-color: v.$gray-light-level-4;
		// Only top and bottom because of inconisistencies
		// ...with button and div padding.
		padding: 10px 0px 10px 0px;
		width: 125px;
		color: black;
		text-align: center;
		font-size: 16px;
		cursor: pointer;

		&:hover,
		:active {
			background-color: v.$gray-light-level-6;
		}
	}
}
