@use "../../utils/variables" as v;
@use "../../utils/mixins" as m;

.delete-modal-component {
	.blurred-backdrop {
		// Must be the same or more than listViewTopBar.scss & itemViewTopBar.scss
		z-index: 2;
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: v.$mode-common-blurred-backdrop-background-color-light;
		opacity: v.$mode-common-blurred-backdrop-opacity-light;
		height: 100vh;
		width: 100vw;
	}

	.blurred-backdrop--click-to-close {
		opacity: v.$mode-common-blurred-backdrop-click-to-close-opacity-light;
	}

	.modal-container {
		// Must be the same or more than listViewTopBar.scss & itemViewTopBar.scss
		// ...and itemView.scss
		z-index: 2;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 15px;
		background-color: white;
		height: 195px;
		width: 450px;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
	}

	.modal-container--comment-height {
		height: 165px;
	}
	
	.warning-trapazoid {
		@include m.horizontal-center();

		top: 0px;
		border-top: 26px solid v.$mode-delete-modal-trapazoid-border-color-light;
		border-left: 45px solid transparent;
		border-right: 45px solid transparent;
		height: 0;
		width: 140px;
	}

	.warning-header {
		@include m.horizontal-center();

		top: 2px;
		margin: 0px;
		padding: 0px;
		color: white;
		font-size: 18px;
	}

	// Needed to move the warning message down and centered
	.centered-message-container {
		@include m.horizontal-center();

		top: 48px;
		width: 90%;
	}

	// Allows height to adapt to the length of the text
	.centered-container__relative-container {
		position: relative;
		width: 100%;
	}

	.centered-message-container__relative-container__text {
		font-size: 16px;
		line-height: 28px;
	}

	.error-messages {
		// IMPORTANT! Rework so error messages move buttons down when appearing
		@include m.error-messages();

		margin-top: 5px;
	}

	.centered-buttons-container {
		@include m.horizontal-center();

		bottom: 18px;
		width: 200px;
	}

	.centered-buttons-container__button {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: relative;
		float: left;
		border-radius: v.$common-buttton-border-radius;
		background-color: v.$mode-delete-modal-delete-button-background-color-light;
		// Only top and bottom because of inconsistencies
		// ...with button vs divs.
		padding: 7px 0px 7px 0px;
		height: v.$delete-modal-delete-button-height;
		width: v.$delete-modal-delete-button-width;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		cursor: pointer;

		&:hover,
		&:active {
			background-color: v.$mode-delete-modal-delete-button-hover-background-color-light;
		}
	}

	.centered-buttons-container__button--cancel {
		float: right;
		border: 1px solid v.$mode-delete-modal-cancel-button-border-text-color-light;
		background-color: v.$mode-delete-modal-cancel-button-background-color-light;
		color: v.$mode-delete-modal-cancel-button-border-text-color-light;

		&:hover,
		&:active {
			background-color: v.$mode-delete-modal-cancel-button-hover-background-color-light;
		}
	}

	.centered-buttons-container__button__text {
		@include m.dead-center();
	}
}
