@import "../../utils/variables";

.account-modals-blurred-background {
	// Must be more than searchSortFilter bar and table headers
	z-index: 2;
	position: fixed;
	left: 0;
	top: $navbar-height;
	background-color: black;
	opacity: 0.5;
	height: 100vh;
	width: 100vw;
}