@import "../../utils/variables";
@import "../../utils//mixins";

.edit-account-modal-components {
	.edit-account-modal {
		// Must be the same as account-modals-blurred-background
		z-index: 2;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 5px solid black;
		background-color: white;
		padding: 30px;
		height: $edit-account-modal-height;
		width: $edit-account-modal-width;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
	}

	.back-button {
		@include back-exit-buttons();
		left: 15px;
	}
	.back-button:hover,
	.back-button:active {
		color: $black;
	}

	.exit-button {
		@include back-exit-buttons();
		right: 15px;
	}
	.exit-button:hover,
	.exit-button:active {
		color: $black;
	}

	.title {
		position: relative;
		padding-top: 8px;
		font-size: 150%;
	}

	.form__label {
		float: left;
		margin-top: 5px;
	}

	.form__label--top-margin {
		margin-top: 40px;
	}

	.form__label__captial-delete {
		margin-left: 2px;
		margin-right: 2px;
		font-size: 16px;
		color: red;
	}

	.form__text-input {
		margin-top: 5px;
		margin-bottom: $form-input-margin-bottom;
		outline: none;
		border: 1px solid gray;
		box-sizing: border-box;
		background: $light-gray;
		padding: 8px;
		width: 100%;
		font-size: 14px;
		text-align: center;
	}

	.form__text-input--password {
		// Tries to help with password size disparity between browsers
		font: small-caption;
		font-size: 16px;
	}

	.form__errors {
		display: block;
		color: red;
	}

	.form__submit {
		margin-top: 10px;
		margin-bottom: 5px;
		outline: none;
		border: 0;
		background: $light-blue-gray;
		padding: 10px;
		width: 100%;
		color: white;
		font-size: 16px;
		cursor: pointer;
	}
	.form__submit:hover,
	.form__submit:active {
		background: $blue-gray;
	}

	.modal-links-container {
		position: absolute;
		bottom: 30px;
		width: $edit-account-modal-width;
		text-align: center;
	}

	.modal-link {
		margin-left: 15px;
		margin-right: 15px;
		font-size: 22px;
		font-style: bold;
		text-decoration: none;
		color: blue;
		cursor: pointer;
	}

	.link-spacer {
		margin-left: 10px;
		margin-right: 10px;
		font-size: 20px;
	}
}
