@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.home-container,
.js-calc-home-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	//======================================================
	// Bellow class selectors are used by JS across project
	//======================================================
	// Used to turn character counters red when limit is gone over
	.text-red {
		color: red;
	}

	// Used to to gray-out the word "none" for empty item fields
	.grayed-out-none {
		@include m.stop-text-selection();

		color: v.$dark-gray;
		opacity: 0.7;
	}

	// Standard background colors
	.js-set-project-background-color-dark {
		//background-color: v.$dark-blue-teal !important;
		background-color: v.$darker-navy-blue !important;
	}
	.js-set-project-background-color-light {
		//background-color: v.$blue-teal !important;
		background-color: v.$light-navy-blue !important;
	}
	.js-set-bug-background-color-dark {
		background-color: v.$darker-navy-blue !important;
	}
	.js-set-bug-background-color-light {
		background-color: v.$light-navy-blue !important;
	}

	// Hover background colors
	// Standard background colors
	.js-set-project-background-color-with-hover {
		//background-color: v.$blue-teal !important;
		background-color: v.$light-navy-blue !important;

		&:hover,
		&:active {
			//background-color: v.$dark-blue-teal !important;
			background-color: v.$darker-navy-blue !important;
		}
	}
	.js-set-bug-background-color-with-hover {
		background-color: v.$light-navy-blue !important;

		&:hover,
		&:active {
			background-color: v.$darker-navy-blue !important;
		}
	}

	// Navbar arrow colors
	.js-set-project-navbar-arrow-color-dark {
		//border-left-color: v.$dark-blue-teal !important;
		border-left-color: v.$darker-navy-blue !important;
	}
	.js-set-project-navbar-arrow-color-light {
		//border-left-color: v.$blue-teal !important;
		border-left-color: v.$light-navy-blue !important;
	}
	.js-set-bug-navbar-arrow-color-dark {
		border-left-color: v.$darker-navy-blue !important;
	}
	.js-set-bug-navbar-arrow-color-light {
		border-left-color: v.$light-navy-blue !important;
	}

	// Border colors
	.js-set-project-border-color-dark {
		//border-color: v.$dark-blue-teal !important;
		border-color: v.$darker-navy-blue !important;
	}
	.js-set-project-border-color-light {
		//border-color: v.$blue-teal !important;
		border-color: v.$light-navy-blue !important;
	}
	.js-set-bug-border-color-dark {
		border-color: v.$darker-navy-blue !important;
	}
	.js-set-bug-border-color-light {
		border-color: v.$light-navy-blue !important;
	}

	// Text and link color
	.js-set-project-text-color {
		//color: v.$teal-link !important;
		color: v.$blue-link !important;
	}
	.js-set-bug-text-color {
		color: v.$blue-link !important;
	}

	// Used for changing the background color of status-boxes
	// ...also used to store colors in redux for bug-pie-chart
	.status-box-background-color-gray,
	.js-calc-status-box-background-color-gray {
		background-color: v.$status-gray !important;
	}
	.status-box-background-color-blue,
	.js-calc-status-box-background-color-blue {
		background-color: v.$status-blue !important;
	}
	.status-box-background-color-purple,
	.js-calc-status-box-background-color-purple {
		background-color: v.$status-purple !important;
	}
	.status-box-background-color-orange,
	.js-calc-status-box-background-color-orange {
		background-color: v.$status-orange !important;
	}
	.status-box-background-color-green,
	.js-calc-status-box-background-color-green {
		background-color: v.$status-green !important;
	}
	.status-box-background-color-red,
	.js-calc-status-box-background-color-red {
		background-color: v.$status-red !important;
	}

	// Used to change text color in status combo-boxes
	.status-box-text-color-gray {
		color: v.$status-gray !important;
	}
	.status-box-text-color-blue {
		color: v.$status-blue !important;
	}
	.status-box-text-color-purple {
		color: v.$status-purple !important;
	}
	.status-box-text-color-orange {
		color: v.$status-orange !important;
	}
	.status-box-text-color-green {
		color: v.$status-green !important;
	}
	.status-box-text-color-red {
		color: v.$status-red !important;
	}
}
