@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.home-container,
.js-calc-home-container {
	position: absolute;
	top: 0;
	left: 0;
	background-color: v.$mode-background-color-home-light;
	height: 100%;
	width: 100%;
}
