@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.home-container {
	position: absolute;
	top: 0;
	left: 0;
	background-color: v.$mode-home-background-color-light;
	height: 100%;
	width: 100%;
}
