@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.navbar-and-other-components-container {
	position: fixed;
	width: 100%;
	top: 0;

	.navbar-component {
		// This background color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in home.scss
		background-color: black;
		height: v.$navbar-height;
		width: 100%;
	}

	.navbar-button {
		position: relative;
		float: left;
		height: v.$navbar-height;
	}

	.navbar-button--invisible {
		visibility: hidden;
	}

	.navbar-button--right {
		// Postion absolute instead of float right so that account button
		// ...will always remain on screen during screen resizing
		position: absolute;
		right: 0;
	}

	.navbar-button__outer-text-container {
		position: relative;
		float: left;
		/* border: 1px solid black;
		border-right: none; */
		// This background color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in home.scss
		background-color: black;
		height: v.$navbar-height;
	}

	.navbar-button__outer-text-container__inner-text-container {
		@include m.stop-text-selection();

		margin: 18px 16px 0px 16px;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 20px;
		color: white;
		text-align: center;
		// Text cutoff with ellipise only takes place when max-width is added by JS
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.navbar-button__outer-text-container__inner-text-container__item-name {
		margin: 18px 0px 0px 8px;
		color: v.$yellow;
		font-style: italic;
	}

	.navbar-button__arrow-container {
		position: relative;
		float: left;
		height: (v.$navbar-height / 2);
		width: (v.$navbar-height / 2) + 1;
	}

	.navbar-button__arrow-container__arrow {
		// Must have higher z-index than border-arrow below
		z-index: 1;
		position: absolute;
		left: 0px;
		border-top: (v.$navbar-height / 2) solid transparent;
		border-bottom: (v.$navbar-height / 2) solid transparent;
		border-left: (v.$navbar-height / 2) solid gray;
		height: 0;
		width: 0;
	}

	.navbar-button__arrow-container__border-arrow {
		position: absolute;
		left: 1px;
		border-top: (v.$navbar-height / 2) solid transparent;
		border-bottom: (v.$navbar-height / 2) solid transparent;
		border-left: (v.$navbar-height / 2) solid black;
		height: 0;
		width: 0;
	}

	.navbar-button__outer-text-container__close-button__text-container {
		position: absolute;
		top: 5px;
		right: 5px;
		background-color: v.$light-red;
		border-radius: 100%;
		height: 16px;
		width: 16px;
		opacity: 0.4;
		cursor: pointer;

		&:hover,
		&:active {
			background-color: v.$bright-red;
			opacity: 1;
		}
	}

	.navbar-button__outer-text-container__close-button__text-container__icon {
		@include m.stop-text-selection();
		@include m.dead-center();

		color: white;
		font-size: 12px;
	}
}
