@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.navbar-and-other-components-container {
	position: fixed;
	width: 100%;
	top: 0;

	.navbar-component {
		// This background color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in home.scss
		background-color: black;
		height: v.$navbar-height;
		width: 100%;
	}

	.navbar-button {
		position: relative;
		float: left;
		// This background color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in home.scss
		background-color: black;
		height: v.$navbar-height;
	}

	.navbar-button--invisible {
		visibility: hidden;
	}

	.navbar-button--right {
		// Postion absolute instead of float right so that account button
		// ...will always remain on screen during screen resizing
		position: absolute;
		right: 0;
	}

	/* .navbar-button--selected {
		background-color: v.$light-navy-blue;
	} */

	.navbar-button__text-container {
		@include m.stop-text-selection();

		margin: 18px 16px 0px 16px;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 20px;
		color: white;
		text-align: center;
		// Text cutoff with ellipise only takes place when max-width is added by JS
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.navbar-button__text-container__item-name {
		margin: 18px 0px 0px 8px;
		color: v.$yellow;
		font-style: italic;
	}

	.navbar-button__close-button__text-container {
		position: absolute;
		top: 5px;
		right: 5px;
		background-color: v.$light-red;
		border-radius: 100%;
		height: 16px;
		width: 16px;
		opacity: 0.4;
		cursor: pointer;

		&:hover,
		&:active {
			background-color: v.$bright-red;
			opacity: 1;
		}
	}

	.navbar-button__close-button__text-container__icon {
		@include m.stop-text-selection();
		@include m.dead-center();

		color: white;
		font-size: 12px;
	}

	.account-dropdown {
		// Must be absolute so it doesn't affect the postion of other components
		position: absolute;
		right: 0px;
		width: 200px;
		height: 300px;
	}
}
