@use "./variables" as v;

@mixin stop-text-selection() {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
							supported by Chrome, Edge, Opera and Firefox */
}

@mixin dead-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin horizontal-center() {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

@mixin vertical-center() {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}

@mixin back-exit-buttons-incomplete() {
	// Should be higher than all other z-index's to ensure nothing covers them
	z-index: 100;
	position: absolute;
	top: v.$back-exit-buttons-top;
	border: none;
	background: none;
	color: v.$mode-common-icon-button-text-color-light;
	cursor: pointer;

	&:hover,
	&:active {
		color: v.$mode-common-icon-button-hover-text-color-light;
	}
}

@mixin back-button() {
	@include back-exit-buttons-incomplete();

	top: v.$back-exit-buttons-top + 2;
	left: v.$back-exit-buttons-left-right;
	font-size: 22px;
}

@mixin exit-button() {
	@include back-exit-buttons-incomplete();

	right: v.$back-exit-buttons-left-right;
	font-size: 26px;
}

@mixin backend-error() {
	display: block;
	color: v.$mode-backend-errors-text-color-light;
	text-align: center;
}

@mixin common-form-submit-button() {
	outline: none;
	border: 0;
	// Need to get rid of border for a submit button
	border-radius: v.$common-buttton-border-radius;
	background-color: v.$default-theme-brighter-border-background-color;
	padding: 10px;
	width: 100%;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	cursor: pointer;

	&:hover,
	&:active,
	&:focus {
		background-color: v.$default-theme-standard-border-background-color;
	}
}

@mixin item-view-form-submit-button() {
	// So Submit and cancel buttons are the same size
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	outline: none;
	border: 1px solid black;
	border-radius: v.$common-buttton-border-radius;
	background-color: v.$default-theme-brighter-border-background-color;
	// Only top and bottom because of inconsistencies
	// ...with button vs divs.
	padding: 10px 0px 10px 0px;
	// 2px bigger than cancel button because of inconsistencies
	// ...with buttons vs divs.
	width: 127px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	cursor: pointer;

	&:hover,
	&:active,
	&:focus {
		background-color: v.$default-theme-standard-border-background-color;
	}
}

@mixin item-view-form-cancel-button() {
	@include stop-text-selection();

	// So Submit and cancel buttons are the same size
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border: 1px solid black;
	border-radius: v.$common-buttton-border-radius;
	background-color: v.$mode-item-view-form-cancel-button-background-color-light;
	// Only top and bottom because of inconisistencies
	// ...with button and div padding.
	padding: 10px 0px 10px 0px;
	width: 125px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;

	&:hover,
	&:active {
		background-color: v.$mode-item-view-form-cancel-button-hover-background-color-light;
	}
}
