@use "./variables" as v;
@mixin stop-text-selection() {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
							supported by Chrome, Edge, Opera and Firefox */
}

@mixin dead-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin horizontal-center() {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

@mixin vertical-center() {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}

@mixin back-exit-buttons-incomplete() {
	// Should be higher than all other z-index's to ensure nothing covers them
	z-index: 6;
	position: absolute;
	top: v.$back-exit-buttons-top;
	border: none;
	background: none;
	color: v.$mode-text-color-base-icon-button-light;
	cursor: pointer;

	&:hover,
	&:active {
		color: v.$mode-hover-text-color-base-icon-button-light;
	}
}

@mixin back-button() {
	@include back-exit-buttons-incomplete();

	top: v.$back-exit-buttons-top + 2;
	left: v.$back-exit-buttons-left-right;
	font-size: 22px;
}

@mixin exit-button() {
	@include back-exit-buttons-incomplete();

	right: v.$back-exit-buttons-left-right;
	font-size: 26px;
}

@mixin backend-error {
	display: block;
	color: v.$backend-error-color;
	text-align: center;
}
