//=========
// Colors
//=========
// Grays
$gray-light-level-1: #fbfbfb;
$gray-light-level-2: #f8f8f8;
$gray-light-level-3: #f5f5f5;
$gray-light-level-4: #ebebeb;
$gray-light-level-5: #e5e5e5;
$gray-light-level-6: #e1e1e1;
$gray-light-level-7: #dddddd;
$gray-light-level-8: #d6d6d6;
$gray-light-level-9: #cacaca;
$gray-light-level-10: #bfbfbf;
$gray-light-level-11: #b1b1b1;
$gray-light-level-12: #a9a9a9;
$gray-level-1: #a3a3a3;
$gray-level-2: #919191;
$gray-level-3: #808080;
$gray-level-4: #7c7c7c;
$gray-level-5: #757575;
$gray-level-6: #6d6d6d;
$gray-level-7: #636363;
$gray-level-8: #5e5e5e;
$gray-level-9: #555555;
$gray-level-10: #525252;
$gray-level-11: #505050;
$gray-dark-level-1: #4e4e4e;
$gray-dark-level-2: #484848;
$gray-dark-level-3: #464646;
$gray-dark-level-4: #444444;
$gray-dark-level-5: #3a3a3a;
$gray-dark-level-6: #363636;
$gray-dark-level-7: #333333;
$gray-dark-level-8: #303030;
$gray-dark-level-9: #292929;
$gray-dark-level-10: #272727;
$gray-dark-level-11: #232323;
$gray-dark-level-12: #1d1d1d;
$gray-dark-level-13: #181818;
// Tinted grays
$tinted-gray-light-level-1: #c9d1d9;
$tinted-gray-light-level-2: #bfc8d1;
$tinted-gray-light-level-3: #b7c1ca;
$tinted-gray-light-level-4: #a9b3bb;
// Basic blues
$basic-blue-level-1: #0000ff;
// Baby blues
$baby-blue-level-1: #76bffa;
// B'dazzled blues
$bdazzled-blue-level-1: #266ac4;
$bdazzled-blue-level-2: #245ba3;
// Carolina blues
$carolina-blue-level-1: #57a4e4;
$carolina-blue-level-2: #529bd6;
$carolina-blue-level-3: #4d91c9;
$carolina-blue-level-4: #4885b8;
$carolina-blue-level-5: #3f75a1;
$carolina-blue-level-6: #38678d;
// Egyptian blues
$egyptian-blue-level-1: #006eff;
$egyptian-blue-level-2: #0062e2;
$egyptian-blue-level-3: #0056c7;
// Imperial blues
$imperial-blue-level-1: #1f70b3;
$imperial-blue-level-2: #1e6aa8;
$imperial-blue-level-3: #1c629c;
// Queen blues
$queen-blue-light-level-1: #4d6e92;
$queen-blue-light-level-2: #4d6b8b;
$queen-blue-dark-level-1: #45607e;
$queen-blue-dark-level-2: #3d5774;
// Turkish blues
$turkish-blue-light-level-1: #8ba8b3;
$turkish-blue-light-level-2: #6691a3;
$turkish-blue-dark-level-1: #50798b;
// Turquoise blues
$turquoise-blue-light-level-1: #2ba6c5;
$turquoise-blue-light-level-2: #2692ad;
// Basic reds
$basic-red-light-level-1: #ff3e3e;
$basic-red-light-level-2: #fc1e1e;
$basic-red-level-1: #ff0000;
$basic-red-level-2: #e20000;
$basic-red-level-3: #c50000;
// Faded reds
$faded-red-level-1: #df4f4f;
$faded-red-level-2: #ce4a4a;
$faded-red-level-3: #bb4444;
$faded-red-level-4: #ad3f3f;
$faded-red-level-5: #a83c3c;
$faded-red-level-6: #993636;
// Fiery reds
$fiery-red-level-1: #e21b1b;
$fiery-red-level-2: #ce1919;
$fiery-red-level-3: #c21818;
$fiery-red-level-4: #b11616;
$fiery-red-level-5: #a11414;
// Raspberry Reds
$raspberry-red-level-1: #e95454;
$raspberry-red-level-2: #d44141;
// Yellows
$yellow-level-1: #ffff00;

// Light/Dark mode (General)
$mode-home-background-color-light: white;
$mode-home-background-color-dark: $gray-dark-level-7;
$mode-home-text-color-light: black;
$mode-home-text-color-dark: $tinted-gray-light-level-4;
$mode-backend-errors-text-color-light: $basic-red-level-1;
$mode-backend-errors-text-color-dark: $fiery-red-level-1;
$mode-char-count-limit-reached-text-color-light: $mode-backend-errors-text-color-light;
$mode-char-count-limit-reached-text-color-dark: $mode-backend-errors-text-color-dark;
$mode-blurred-background-background-color-light: black;
$mode-blurred-background-background-color-dark: $mode-blurred-background-background-color-light;
$mode-blurred-background-opacity-light: 0.8;
$mode-blurred-background-opacity-dark: 0.6;
$mode-click-to-close-blurred-background-opacity-light: 0.6;
$mode-click-to-close-blurred-background-opacity-dark: 0.4;
$mode-base-icon-button-text-color-light: $gray-level-4;
$mode-base-icon-button-text-color-dark: $gray-level-6;
$mode-base-icon-button-hover-text-color-light: $gray-dark-level-5;
$mode-base-icon-button-hover-text-color-dark: $gray-level-1;
$mode-custom-checkbox-border-color-light: black;
$mode-custom-checkbox-border-color-dark: $gray-level-1;
$mode-custom-checkbox-background-color-light: $mode-home-background-color-light;
$mode-custom-checkbox-background-color-dark: $mode-home-background-color-dark;
$mode-custom-checkbox-hover-border-color-light: $carolina-blue-level-4;
$mode-custom-checkbox-hover-border-color-dark: $carolina-blue-level-1;
$mode-custom-checkmark-text-color-light: $mode-home-text-color-light;
$mode-custom-checkmark-text-color-dark: $mode-home-text-color-dark;
$mode-custom-checkmark-hover-text-color-light: $mode-custom-checkbox-hover-border-color-light;
$mode-custom-checkmark-hover-text-color-dark: $mode-custom-checkbox-hover-border-color-dark;
$mode-toggle-switch-on-background-color-light: $carolina-blue-level-4;
$mode-toggle-switch-on-background-color-dark: $carolina-blue-level-6;
$mode-toggle-switch-on-border-color-light: $mode-toggle-switch-on-background-color-light; // After background-color since uses it
$mode-toggle-switch-on-border-color-dark: $mode-toggle-switch-on-background-color-dark; // After background-color since uses it
$mode-toggle-switch-on-text-color-light: white;
$mode-toggle-switch-on-text-color-dark: white;
$mode-toggle-switch-on-circle-background-color-light: white;
$mode-toggle-switch-on-circle-background-color-dark: $gray-light-level-3;
$mode-toggle-switch-on-text-color-dark: white;
$mode-toggle-switch-off-background-color-light: $gray-light-level-7;
$mode-toggle-switch-off-background-color-dark: $gray-level-7;
$mode-toggle-switch-off-border-color-light: $mode-toggle-switch-off-background-color-light; // After background-color since uses it
$mode-toggle-switch-off-border-color-dark: $mode-toggle-switch-off-background-color-dark; // After background-color since uses it
$mode-toggle-switch-off-text-color-light: $gray-level-6;
$mode-toggle-switch-off-text-color-dark: $gray-light-level-10;
$mode-toggle-switch-off-circle-background-color-light: $mode-toggle-switch-on-circle-background-color-light;
$mode-toggle-switch-off-circle-background-color-dark: $mode-toggle-switch-on-circle-background-color-dark;
$mode-universal-text-grayed-out-text-color-light: $gray-level-4;
$mode-universal-text-grayed-out-text-color-dark: $gray-level-6;
$mode-base-form-input-border-color-light: $gray-level-5;
$mode-base-form-input-border-color-dark: black;
$mode-base-form-input-focus-border-color-light: $egyptian-blue-level-2;
$mode-base-form-input-focus-border-color-dark: $imperial-blue-level-1;
$mode-base-form-input-background-color-light: $gray-light-level-5;
$mode-base-form-input-background-color-dark: $gray-dark-level-1;
// Light/Dark mode (specific)
$mode-top-bar-border-color-light: black;
$mode-top-bar-border-color-dark: black;
$mode-top-bar-background-color-light: $gray-light-level-5;
$mode-top-bar-background-color-dark: $gray-dark-level-9;
$mode-top-bar-button-border-color-light: $mode-home-text-color-light;
$mode-top-bar-button-border-color-dark: $gray-level-1;
$mode-top-bar-button-background-color-light: $mode-home-background-color-light;
$mode-top-bar-button-background-color-dark: $gray-dark-level-5;
$mode-top-bar-button-text-color-light: $mode-home-text-color-light;
$mode-top-bar-button-text-color-dark: $mode-home-text-color-dark;
$mode-top-bar-search-bar-background-color-light: $mode-home-background-color-light;
$mode-top-bar-search-bar-background-color-dark: $gray-dark-level-6;
$mode-top-bar-search-bar-text-color-light: $mode-home-text-color-light;
$mode-top-bar-search-bar-text-color-dark: $mode-home-text-color-dark;
$mode-account-sidebar-modal-background-color-light: $mode-home-background-color-light;
$mode-account-sidebar-modal-background-color-dark: $mode-home-background-color-dark;
$mode-account-sidebar-theme-button-border-color-light: $gray-dark-level-1;
$mode-account-sidebar-theme-button-border-color-dark: $gray-dark-level-10;
$mode-account-sidebar-theme-button-text-color-light: $gray-dark-level-5;
$mode-account-sidebar-theme-button-text-color-dark: $gray-dark-level-8;
$mode-account-sidebar-theme-button-current-container-background-color-light: $gray-light-level-5;
$mode-account-sidebar-theme-button-current-container-background-color-dark: $gray-light-level-11;
$mode-account-sidebar-theme-button-option-selected-background-color-light: $baby-blue-level-1;
$mode-account-sidebar-theme-button-option-selected-background-color-dark: $carolina-blue-level-1;
$mode-account-sidebar-theme-button-arrow-container-background-color-light: $gray-light-level-10;
$mode-account-sidebar-theme-button-arrow-container-background-color-dark: $gray-level-2;
$mode-account-sidebar-theme-button-arrow-container-text-color-light: $gray-dark-level-5;
$mode-account-sidebar-theme-button-arrow-container-text-color-dark: $gray-dark-level-10;
$mode-account-sidebar-theme-button-dropdown-container-background-color-light: $mode-account-sidebar-theme-button-current-container-background-color-light;
$mode-account-sidebar-theme-button-dropdown-container-background-color-dark: $mode-account-sidebar-theme-button-current-container-background-color-dark;
$mode-account-sidebar-logout-button-hover-background-color-light: $gray-light-level-1;
$mode-account-sidebar-logout-button-hover-background-color-dark: $gray-dark-level-5;
$mode-account-modal-delete-account-capital-delete-text-color-light: $mode-backend-errors-text-color-light;
$mode-account-modal-delete-account-capital-delete-text-color-dark: $mode-backend-errors-text-color-dark;
$mode-account-modal-delete-account-form-input-focus-border-color-light: $raspberry-red-level-1;
$mode-account-modal-delete-account-form-input-focus-border-color-dark: $fiery-red-level-5;
$mode-account-modal-delete-account-form-delete-button-background-color-light: $raspberry-red-level-1;
$mode-account-modal-delete-account-form-delete-button-background-color-dark: $faded-red-level-4;
$mode-account-modal-delete-account-form-delete-button-hover-background-color-light: $raspberry-red-level-2;
$mode-account-modal-delete-account-form-delete-button-hover-background-color-dark: $faded-red-level-6;
$mode-create-item-sidebar-background-color-light: $mode-home-background-color-light;
$mode-create-item-sidebar-background-color-dark: $mode-home-background-color-dark;
$mode-create-item-sidebar-form-disabled-background-color-light: $mode-create-item-sidebar-background-color-light;
$mode-create-item-sidebar-form-disabled-background-color-dark: $mode-create-item-sidebar-background-color-dark;
$mode-create-item-sidebar-form-disabled-text-color-light: $gray-light-level-10;
$mode-create-item-sidebar-form-disabled-text-color-dark: $gray-level-6;
$mode-list-row-border-color-light: $gray-level-2;
$mode-list-row-border-color-dark: $gray-level-6;
$mode-list-row-hover-background-color-light: $gray-light-level-2;
$mode-list-row-hover-background-color-dark: $gray-dark-level-5;
$mode-list-row-selected-background-color-light: $gray-light-level-6;
$mode-list-row-selected-background-color-dark: $gray-dark-level-3;
$mode-list-header-box-shadow-light: 0 1px 0 $mode-list-row-border-color-light;
$mode-list-header-box-shadow-dark: 0 1px 0 $mode-list-row-border-color-dark;
$mode-list-header-background-color-light: $mode-home-background-color-light;
$mode-list-header-background-color-dark: $mode-home-background-color-dark;
$mode-delete-modal-background-color-light: $mode-home-background-color-light;
$mode-delete-modal-background-color-dark: $mode-home-background-color-dark;
$mode-delete-modal-delete-button-background-color-light: $mode-account-modal-delete-account-form-delete-button-background-color-light;
$mode-delete-modal-delete-button-background-color-dark: $mode-account-modal-delete-account-form-delete-button-background-color-dark;
$mode-delete-modal-delete-button-hover-background-color-light: $mode-account-modal-delete-account-form-delete-button-hover-background-color-light;
$mode-delete-modal-delete-button-hover-background-color-dark: $mode-account-modal-delete-account-form-delete-button-hover-background-color-dark;
$mode-delete-modal-cancel-button-border-text-color-light: $mode-delete-modal-delete-button-background-color-light;
$mode-delete-modal-cancel-button-border-text-color-dark: $mode-delete-modal-delete-button-background-color-dark;
$mode-delete-modal-cancel-button-background-color-light: $mode-delete-modal-background-color-light;
$mode-delete-modal-cancel-button-background-color-dark: $mode-delete-modal-background-color-dark;
$mode-delete-modal-cancel-button-hover-background-color-light: $gray-light-level-2;
$mode-delete-modal-cancel-button-hover-background-color-dark: $gray-dark-level-5;
$mode-delete-modal-trapazoid-border-color-light: $mode-delete-modal-delete-button-background-color-light;
$mode-delete-modal-trapazoid-border-color-dark: $mode-delete-modal-delete-button-background-color-dark;
$mode-item-view-top-bar-icon-button-text-color-light: $gray-level-6;
$mode-item-view-top-bar-icon-button-text-color-dark: $gray-level-8;
$mode-item-view-top-bar-icon-button-hover-text-color-light: $gray-dark-level-7;
$mode-item-view-top-bar-icon-button-hover-text-color-dark: $gray-level-1;
$mode-item-view-top-bar-options-dropdown-row-hover-background-color-light: $gray-light-level-4;
$mode-item-view-top-bar-options-dropdown-row-hover-background-color-dark: $gray-dark-level-4;
$mode-item-view-item-box-background-color-light: $mode-top-bar-background-color-light;
$mode-item-view-item-box-background-color-dark: $mode-top-bar-background-color-dark;
$mode-item-view-list-sidebar-border-color-light: $mode-top-bar-border-color-light;
$mode-item-view-list-sidebar-border-color-dark: $mode-top-bar-border-color-dark;
$mode-item-view-list-sidebar-expand-minimize-button-border-color-light: $mode-item-view-list-sidebar-border-color-light;
$mode-item-view-list-sidebar-expand-minimize-button-border-color-dark: $mode-item-view-list-sidebar-border-color-dark;
$mode-item-view-list-sidebar-expand-minimize-button-background-color-light: $mode-item-view-item-box-background-color-light;
$mode-item-view-list-sidebar-expand-minimize-button-background-color-dark: $mode-item-view-item-box-background-color-dark;
$mode-item-view-list-sidebar-expand-minimize-button-hover-background-color-light: $gray-light-level-8;
$mode-item-view-list-sidebar-expand-minimize-button-hover-background-color-dark: $gray-dark-level-11;
$mode-item-view-form-input-border-color-light: black;
$mode-item-view-form-input-border-color-dark: black;
$mode-item-view-form-input-background-color-light: $mode-home-background-color-light;
$mode-item-view-form-input-background-color-dark: $mode-home-background-color-dark;
$mode-item-view-form-disabled-background-color-light: $mode-top-bar-background-color-light;
$mode-item-view-form-disabled-background-color-dark: $mode-top-bar-background-color-dark;
$mode-item-view-form-disabled-text-color-light: $mode-create-item-sidebar-form-disabled-text-color-light;
$mode-item-view-form-disabled-text-color-dark: $mode-create-item-sidebar-form-disabled-text-color-dark;
$mode-item-view-form-cancel-button-background-color-light: $gray-light-level-3;
$mode-item-view-form-cancel-button-background-color-dark: $gray-dark-level-4;
$mode-item-view-form-cancel-button-hover-background-color-light: $gray-light-level-4;
$mode-item-view-form-cancel-button-hover-background-color-dark: $gray-dark-level-3;
$mode-item-view-comment-box-individual-comment-icon-button-text-color-light: $gray-level-6;
$mode-item-view-comment-box-individual-comment-icon-button-text-color-dark: $gray-level-4;
$mode-item-view-comment-box-individual-comment-icon-button-hover-text-color-light: $mode-home-text-color-light;
$mode-item-view-comment-box-individual-comment-icon-button-hover-text-color-dark: $mode-home-text-color-dark;

// Themes
$theme-brighter-border-background-color-blue-turkish: $turkish-blue-light-level-2;
$theme-base-border-background-color-blue-turkish: $turkish-blue-dark-level-1;
$theme-text-color-blue-turkish: $turquoise-blue-light-level-1;
$theme-brighter-border-background-color-blue-queen: $queen-blue-light-level-1;
$theme-base-border-background-color-blue-queen: $queen-blue-dark-level-2;
$theme-text-color-blue_dark: $bdazzled-blue-level-1;
// Themes + Light/Dark mode
$theme-mode-teal-text-color-light: $turquoise-blue-light-level-2;
$theme-mode-teal-text-color-dark: $turquoise-blue-light-level-1;
$theme-mode-blue-queen-text-color-light: $bdazzled-blue-level-2;
$theme-mode-blue-queen-text-color-dark: $bdazzled-blue-level-1;

// Status colors
$status-gray: $gray-level-3;
$status-blue: #568dd5;
$status-purple: #9680ce;
$status-orange: #ff9900;
$status-green: #007e00;
$status-red: #d14242;
// Filter button text colors
$filter-button-active-color-1: #0077ff;
$filter-button-active-color-2: #ae00ff;
$filter-button-active-color-3: #ffbb00;
$filter-button-active-color: $filter-button-active-color-1;

// Components
$register-login-submit-button-border-background-color: $turkish-blue-light-level-1;
$register-login-submit-button-hover-border-background-color: $turkish-blue-light-level-2;
$register-login-bottom-link-text-color: $basic-blue-level-1;
$breadcrumb-hamburger-close-button-text-color: $basic-red-light-level-2;

// Icon button colors
$darker-icon-button-gray: $gray-level-5;
// Links
$light-blues-link: #005ed8;
$red-link: #f34242;

//==========
// Heights
//==========
$basic-toggle-switch-height: 24px;
$basic-custom-checkbox-height: 13px;
$navbar-height: 56px;
$navbar-account-button-height: $navbar-height;
$hamburger-dropdown-item-height: 42px;
$edit-account-modal-height: 390px;
$account-sidebar-appearance-theme-button-selected-arrow-container-height: 22px;
$account-sidebar-logout-button-height: 40px;
$account-modal-settings-content-container-height: $basic-toggle-switch-height;
$delete-modal-delete-button-height: 30px;
$top-bar-height: 46px;
$top-bar-button-height: 26px;
$top-bar-search-bar-height: 28px;
$top-bar-filter-dropdown-content-container-height: 205px;
$top-bar-filter-dropdown-content-container-shorter-height: 160px;
$list-row-height: 50px;
$status-box-height: 27px;
$create-item-sidebar-height: 700px;
$edit-item-name-input-height: 43px;
$edit-item-description-info-item-box-height: 300px;
$edit-item-project-bugs-stats-item-box-height: 320px;

//=========
// Widths
//=========
$navbar-account-button-width: 130px;
$navbar-breadcrumb-button-arrow-top-bottom-width: 30px;
$navbar-breadcrumb-button-arrow-left-width: 20px;
$navbar-hamburger-button-width: 36px;
$account-sidebar-width: 430px;
$edit-account-modal-width: 460px;
$account-sidebar-appearance-theme-button-selected-container-width: 80px;
$account-sidebar-appearance-theme-button-arrow-container-width: 24px;
$account-sidebar-appearance-theme-button-width: $account-sidebar-appearance-theme-button-selected-container-width +
	$account-sidebar-appearance-theme-button-arrow-container-width;
$delete-modal-delete-button-width: 90px;
$top-bar-search-bar-button-width: $top-bar-search-bar-height + 10;
$top-bar-filter-button-width: 90px;
$top-bar-filter-dropdown-content-container-width: 260px;
$top-bar-sort-button-width: 80px;
$top-bar-sort-dropdown-content-container-width: 120px;
$list-table-min-width: 1100px;
$list-table-item-name-width: 250px;
$status-box-width: 110px;
$create-item-sidebar-width: 500px;
$item-view-top-bar-search-bar-width: 290px;
$options-button-width: 36px;
$item-view-list-sidebar-width: 275px;
$expand-minimize-button-width: 25px;
$item-view-outer-dividing-container-min-width: 560px;
$edit-item-name-input-width: 600px;
$edit-item-name-char-counter-container-width: 50px;
$item-view-project-bugs-item-box-stats-container-width: 200px;

//=========
// Margins
//=========
$register-login-form-input-margin-top: 5px;
$register-login-form-input-margin-bottom: 5px;
$account-sidebar-contents-margin-top-bottom: 9px;
$account-sidebar-dividing-line-margin-top-bottom: 34px;
$account-sidebar-dividing-line-margin-top-bottom-half: $account-sidebar-dividing-line-margin-top-bottom /
	2;
$account-sidebar-appearance-contents-container-margin-left-right: 16px;
$edit-account-form-input-margin-top: 5px;
$edit-account-create-item-sidebar-form-input-margin-bottom: 10px;
$edit-account-modal-link-margin: 18px;
$top-bar-filter-button-dropdown-title-margin-top: 13px;
$top-bar-filter-button-dropdown-title-margin-on-one-side: 20px;
$top-bar-filter-button-dropdown-checkbox-container-margin: 0px 3px;
$top-bar-filter-button-dropdown-label-margin: 4px 3px;
$create-item-sidebar-text-input-margin-top: 2px;
$display-item-field-margin-left: 11px;
$item-view-item-box-char-counter-margin: 5px 2px 4px 0px;

//==============
// Border-width
//==============
$form-input-text-border-width: 1px;
$navbar-breadcrumb-border-width: 2px;
$navbar-hamburger-border-width: 3px;
$base-sidebar-border-width: 3px;
$base-modal-border-width: 3px;
$account-modal-border-width: 3px;
$account-modal-toggle-switch-border-width: 3px;
$account-sidebar-appearance-theme-button-border-width: 1px;
$top-bar-border-width: 1px;
$top-bar-base-button-border-width: 1px;
$top-bar-clicked-dropdown-button-border-width: 3px;
$top-bar-clicked-dropdown-button-border-width-difference: $top-bar-clicked-dropdown-button-border-width -
	$top-bar-base-button-border-width;
$top-bar-search-bar-border-width: 2px;
$top-bar-search-bar-focus-border-width: 3px;
$edit-item-name-input-border-width: 2px;
$item-view-list-sidebar-border-width: 2px;

//==============
// Border-radius
//==============
$base-buttton-border-radius: 10px;
$navbar-breadcrumb-round-border-radius: 12px;
$navbar-hamburger-border-radius: 10px;
$base-sidebar-border-radius: 25px;
$account-modal-border-radius: 15px;
$top-bar-buttton-border-radius: 5px;
$form-input-border-radius: 5px;
$status-box-border-radius: 50px;

//=========
// Padding
//=========
$navbar-button-text-container-padding: 0 14px 0 14px;
$account-sidebar-padding-top: 32px;
$account-sidebar-padding-left-right: 18px;
$top-bar-search-bar-padding: 8px;
$create-item-sidebar-padding: 6px;
$edit-item-name-input-padding: 4px;

//======
// Text
//======
$base-font-size: 15px;
$slightly-larger-font-size: $base-font-size + 1px;
$navbar-button-font-size: 18px;
$account-sidebar-account-name-font-size: 18px;
$account-sidebar-account-info-font-size: 15px;
$account-sidebar-appearance-label-font-size: 16px;
$account-sidebar-link-font-size: 15px;
$edit-account-modal-link-font-size: 20px;
$list-view-top-bar-create-item-message-font-size: 24px;
$top-bar-search-bar-font-size: 14px;
$top-bar-search-bar-button-icon-font-size: 14px;
$top-bar-button-font-size: 14px;
$top-bar-filter-button-font-size: $top-bar-button-font-size;
$filter-dropdown-content-font-size: 14px;
$list-container-empty-list-message-font-size: 32px;
$item-view-name-font-size: 28px;
$create-item-sidebar-label-font-size: 15px;
$item-form-text-input-font-size: 13px;
$common-line-height: 20px;

//==========
// Position
//==========
$navbar-breadcrumb-arrow-top: -2px;
$navbar-breadcrumb-arrow-left: -2px;
$navbar-hamburger-button-left: 10px;
$back-exit-buttons-top: 10px;
$back-exit-buttons-left-right: 20px;
$top-bar-top: $navbar-height;
$list-item-view-top: $top-bar-top + $top-bar-height + $top-bar-border-width;
$item-view-top-bar-search-bar-left: 15px;
$item-view-top-bar-sort-button-left: $item-view-top-bar-search-bar-width +
	($item-view-top-bar-search-bar-left * 2);
$item-view-top-bar-filter-button-left: $item-view-top-bar-sort-button-left +
	$top-bar-sort-button-width + ($item-view-top-bar-search-bar-left);

//===============================
// Arithmetic (must be at bottom)
//===============================
$navbar-breadcrumb-button-height: $navbar-height -
	($navbar-breadcrumb-border-width * 2);
// The value added at the end represents the margin between the hamburger button and the title
$navbar-hamburger-title-left: $navbar-hamburger-button-left +
	$navbar-hamburger-button-width + 6px;
$account-sidebar-appearance-theme-button-option-height: $account-sidebar-appearance-theme-button-selected-arrow-container-height -
	($account-sidebar-appearance-theme-button-border-width * 2);
$account-sidebar-appearance-theme-button-option-width: $account-sidebar-appearance-theme-button-selected-container-width -
	($account-sidebar-appearance-theme-button-border-width * 2);
$account-sidebar-appearance-theme-button-option-larger-width: $account-sidebar-appearance-theme-button-width -
	($account-sidebar-appearance-theme-button-border-width * 2);
$account-sidebar-appearance-theme-button-dropdown-container-top: $account-sidebar-appearance-theme-button-option-height +
	($account-sidebar-appearance-theme-button-border-width * 2);
$top-bar-button-focus-height: $top-bar-button-height +
	(
		($top-bar-search-bar-focus-border-width - $top-bar-search-bar-border-width) *
			2
	);
$edit-item-name-centering-container-height: $edit-item-name-input-height +
	($edit-item-name-input-border-width * 2) + ($edit-item-name-input-padding * 2);
