//=========
// Colors
//=========
// Blue teals
$light-blue-teal: #8ba8b3;
$blue-teal: #6691a3;
$dark-blue-teal: #50798b;
// Grays
$very-light-gray: #f8f8f8;
$lighter-gray: #f5f5f5;
$light-gray: #e5e5e5;
$less-light-gray: #dddddd;
$medium-light-gray: #bfbfbf;
$medium-gray: #919191;
$dark-gray: #808080;
$darker-gray: #757575;
// Blue grays
$very-light-blue-gray: #7390af;
$light-blue-gray: #607c99;
$blue-gray: #50677f;
$dark-blue-gray: #215792;
// Navy blues
$lighter-navy-blue: #527294;
$light-navy-blue: #4d6b8b;
$navy-blue: #45607e;
$darker-navy-blue: #3d5774;
// Links
/* $blue-link: #005ed8; */
$blue-link: #22579c;
$teal-link: #2588b3;
$red-link: #f34242;
// Reds
$light-red: #cf8c8c;
$bright-red: #fc1e1e;
$dark-red: #d36464;
$darker-red: #cc4c4c;
// Greens
$light-green: #ccf5cc;
// Yellows
$yellow: #ffff00;
// Components
$search-filter-sort-bar-color: $light-gray;
$list-table-background-color: #ffffff;
$filter-active-color: #ae00ff;
$filter-active-color2: #ffbb00;
// Status colors
$status-gray: $dark-gray;
$status-blue: #568dd5;
$status-purple: #9680ce;
$status-orange: #ff9900;
$status-green: #007e00;
$status-red: #d14242;

//==========
// Heights
//==========
$navbar-height: 56px;
$edit-account-modal-height: 480px;
$search-filter-sort-bar-height: 46px;
$search-filter-sort-bar-button-height: 28px;
$list-item-search-bar-height: 28px;
$filter-dropdown-content-container-height: 200px;
$list-item-table-row-height: 50px;
$status-box-height: 27px;
$create-item-sidebar-height: 700px;
$top-bar-height: $search-filter-sort-bar-height;
$edit-item-name-input-height: 43px;
$edit-item-description-info-item-box-height: 300px;
$edit-item-project-bugs-stats-item-box-height: 320px;

//=========
// Widths
//=========
$navbar-button-arrow-width:($navbar-height / 2);
$edit-account-modal-width: 540px;
$list-item-search-bar-button-width: $list-item-search-bar-height + 10;
$filter-button-width: 90px;
$filter-dropdown-content-container-width: 280px;
$list-table-min-width: 1100px;
$list-table-item-name-width: 250px;
$status-box-width: 110px;
$create-item-sidebar-width: 500px;
$item-search-bar-width: 290px;
$options-button-width: 36px;
$item-container-list-sidebar-width: 275px;
$expand-minimize-button-width: 25px;
$item-container-outer-dividing-container-min-width: 560px;
$edit-item-name-input-width: 600px;
$edit-item-name-char-counter-container-width: 50px;
$item-container-project-bugs-item-box-stats-container-width: 200px;

//==========
// Position
//==========
$item-search-bar-left: 15px;

//=========
// Margins
//=========
$navbar-button-text-container-margin-right: 10px;
$navbar-button-text-container-margin-left: 14px;
$form-input-margin-bottom: 10px;
$create-item-sidebar-text-input-margin-top: 2px;
$display-item-field-margin-left: 11px;

//==========
// Borders
//==========
$search-filter-sort-bar-border-width: 1px;
$search-filter-sort-bar-new-item-button-border-width: 1px;
$list-search-bar-border-width: 2px;
$list-item-search-bar-group-container-border-width: 1px;
$top-bar-border-width: $search-filter-sort-bar-border-width;
$edit-item-name-input-border-width: 2px;
$item-container-list-sidebar-border-width: 2px;

//=========
// Padding
//=========
$list-search-bar-padding: 8px;
$create-item-sidebar-padding: 6px;
$edit-item-name-input-padding: 4px;

//======
// Text
//======
$base-font-size: 15px;
$slightly-larger-font-size: $base-font-size + 1px;
$search-filter-sort-create-item-message-font-size: 24px;
$list-item-search-bar-font-size: 14px;
$list-item-search-bar-button-icon-font-size: 14px;
$search-filter-sort-bar-button-font-size: 14px;
$top-bar-filter-button-font-size: $search-filter-sort-bar-button-font-size;
$filter-dropdown-content-font-size: 14px;
$list-container-empty-list-message-font-size: 32px;
$item-container-name-font-size: 28px;
$create-item-sidebar-label-font-size: 15px;
$create-item-sidebar-text-input-font-size: 13px;
$common-line-height: 20px;

//=========
// Opacity
//=========
$blurred-background-opacity: 0.5;

//===============================
// Arithmetic (must be at bottom)
//===============================
$edit-item-name-centering-container-height: $edit-item-name-input-height +
	($edit-item-name-input-border-width * 2) + ($edit-item-name-input-padding * 2);
