@import "../../../utils/variables";
@import "../../../utils//mixins";

.list-table-component,
.js-calc-list-table-component {
	position: fixed;
	top: $navbar-height + $search-filter-sort-bar-height +
		$search-filter-sort-bar-border-width;
	left: 0px;
	background-color: $list-table-background-color;
	// Height and width values were found through trial and error
	// ...to make modal resize (using js) look less jumpy
	height: 90vh;
	width: 100%;
	font-size: $base-font-size;
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: auto !important;
	overflow-x: auto !important;

	.list-table,
	.js-calc-list-table {
		position: relative;
		// Allows td borders to look like they are a single line
		border-collapse: collapse;
		min-width: $list-table-min-width;
	}

	.list-table__row,
	.js-calc-list-table__row {
		padding: 5px;
		height: $list-item-table-row-height;
		text-align: center;
	}

	.list-table__row--hover-highlight:hover {
		background-color: $very-light-gray;
	}

	.list-table__row--selected {
		background-color: $less-light-gray;
	}

	.list-table__row--empty {
		height: $list-item-table-row-height + ($list-item-table-row-height * 0.5);
	}

	.list-table__header {
		// Must be more than table__data rows below do not overlap when scrolling
		z-index: 1;
		position: -webkit-sticky;
		position: sticky;
		top: 0px;
		background-color: $list-table-background-color;
		// Used box shadow since the header row being sticky with
		// ...background-color applied keeps the bottom-border from appearing
		box-shadow: 0 1px 0 $medium-gray;
		width: 300px;
	}

	.list-table__header--for-mass-delete {
		width: 80px;
		min-width: 80px;
	}

	.list-table__header__mass-delete-options-container {
		@include dead-center();
		width: 100%;
	}

	.list-table__header__mass-delete-options-container__button {
		display: inline-block;
		margin: 4px;
		padding: 2px;
		text-align: center;
		color: black;
		cursor: pointer;
	}

	.list-table__header__mass-delete-options-container__button--disabled {
		color: lightgray;
		cursor: default;
		pointer-events: none;
	}

	.list-table__data {
		@include border-line();

		padding: 0px 7px 0px 7px;
		cursor: default;
	}

	.list-table__data--name {
		/* width: $list-table-item-name-width; */
		max-width: $list-table-item-name-width;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.list-table__data--project-color {
		color: $blue-link;
	}

	.list-table__data--bug-color {
		color: $red-link;
	}

	.list-table__data--completed-color {
		color: $status-green;
		font-weight: bold;
	}

	.list-table__data__info__completed-icon {
		margin-right: 5px;
		color: $status-green;
	}

	.list-table__data__centering-container {
		position: relative;
		height: 100%;
		width: 100%;
	}

	.list-table__data__centering-container__status-box {
		@include dead-center();

		background-color: gray;
		color: white;
		height: $status-box-height;
		width: 110px;
	}

	.list-table__data__centering-container__status-box--purple {
		background-color: $status-purple;
	}

	.list-table__data__centering-container__status-box--blue {
		background-color: $status-blue;
	}

	.list-table__data__centering-container__status-box--orange {
		background-color: $status-orange;
	}

	.list-table__data__centering-container__status-box--green {
		background-color: $status-green;
	}

	.list-table__data__centering-container__status-box--red {
		background-color: $status-red;
	}

	.list-table__data__centering-container__status-box__centered-info {
		@include dead-center();
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.list-table__data__checkbox {
		cursor: pointer;
	}

	.empty-list-message-centering-container {
		position: relative;
		height: 90%;
		min-height: 300px;
		width: 100%;
	}

	.empty-list-message-centering-container__message {
		@include dead-center();
		
		width: 90%;
		text-align: center;
		font-size: $list-container-empty-list-message-font-size;
		color: gray;
	}
}

.list-table-component--no-scroll {
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}
