@import "../../../utils/variables";
@import "../../../utils//mixins";

.list-table-component {
	.list-table__data__centering-container {
		position: relative;
		height: 100%;
		width: 100%;
	}
	
	.list-table__data__centering-container__status-box {
		@include dead-center();
	
		// This color should never appear (here just encase so text is still visible)
		background-color: gray;
		color: white;
		height: 25px;
		width: 125px;
	}

	.list-table__data__centering-container__status-box--purple {
		background-color: $status-purple;
	}

	.list-table__data__centering-container__status-box--blue {
		background-color: $status-blue;
	}

	.list-table__data__centering-container__status-box--orange {
		background-color: $status-orange;
	}

	.list-table__data__centering-container__status-box--green {
		background-color: $status-green;
	}

	.list-table__data__centering-container__status-box--red {
		background-color: $status-red;
	}
	
	.list-table__data__centering-container__status-box__centered-info {
		@include dead-center();
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}