@import "../../../utils/variables";
@import "../../../utils//mixins";

.list-table-component {
	font-family: Arial, Helvetica, sans-serif;
	background-color: $list-table-background-color;

	.list-table {
		// Allows td borders to look like they are a single line
		border-collapse: collapse;
	}

	.list-table__row {
		padding: 5px;
		height: $list-table-row-height;
		text-align: center;
	}

	/* .list-table__row--sticky {
		position: -webkit-sticky;
		position: sticky;
		top: $navbar-height + $search-filter-sort-bar-height + 2;
		background-color: $list-table-background-color;
	} */

	.list-table__row--empty {
		height: $list-table-row-height + ($list-table-row-height * 0.5);
	}

	.list-table__row--clickable:hover,
	.list-table__row--clickable:active {
		background-color: $very-light-gray;
	}

	.list-table__header {
		position: -webkit-sticky;
		position: sticky;
		top: $navbar-height + $search-filter-sort-bar-height + 2;
		background-color: $list-table-background-color;
		// Used box shadow since the header row being sticky with 
		// ...background-color applied keeps the bottom-border from appearing
		box-shadow: 0 1px 0 $medium-gray;
		width: 300px;
	}

	.list-table__header--for-mass-delete {
		width: 80px;
		min-width: 80px;
	}

	.list-table__header__mass-delete-options-container {
		@include dead-center();
		width: 100%;
	}

	.list-table__header__mass-delete-options-container__button {
		display: inline-block;
		margin: 4px;
		padding: 2px;
		text-align: center;
		color: black;
		cursor: pointer;
	}

	.list-table__header__mass-delete-options-container__button--disabled {
		color: lightgray;
		cursor: default;
		pointer-events: none;
	}

	.list-table__data {
		@include border-line();
		padding: 0px 7px 0px 7px;
	}

	.list-table__data__info--blue-link {
		color: $blue-link;
		cursor: pointer;
	}

	.list-table__data__checkbox {
		cursor: pointer;
	}
}
