@import "../../../utils/variables";
@import "../../../utils//mixins";

.search-filter-sort-component {
	// Must be more than table header so filter button can overlap
	z-index: 1;
	/* position: -webkit-sticky;
	position: sticky; */
	position: fixed;
	width: 100%;
	top: $navbar-height;
	font-family: Arial, Helvetica, sans-serif;
	background-color: $list-table-background-color;

	.search-filter-sort-bar {
		border: 1px solid black;
		border-left: none;
		border-right: none;
		background-color: $search-filter-sort-bar-color;
		height: $search-filter-sort-bar-height;
		width: 100%;
	}

	.search-filter-sort-bar__centering-container {
		position: relative;
		float: left;
		height: $search-filter-sort-bar-height;
		// This width is for the new item button. Searchbars width is changed by JS
		width: 152px;
	}

	.search-filter-sort-bar__centering-container__new-item-button {
		@include stop-text-selection();
		@include vertical-center();

		margin-left: 15px;
		border: 1px solid black;
		background-color: white;
		padding: 7px;
		width: 120px;
		text-align: center;
		cursor: pointer;
	}

	.search-filter-sort-bar__centering-container__search-group-container {
		@include dead-center();
		width: 100%;
	}

	.search-filter-sort-bar__centering-container__search-group-container--with-border {
		border: 1px solid $blue-gray;
	}

	.search-filter-sort-bar__centering-container__search-group-container__search-bar {
		display: inline-block;
		outline: none;
		border: $search-bar-border-width solid $light-blue-gray;
		padding: 0px 8px 0px 8px;
		height: $search-bar-height;
		// Width changed by JS
		width: 100%;
		font-size: 14px;
	}

	.search-filter-sort-bar__centering-container__search-group-container__search-bar-button {
		display: inline-block;
		// Instead of relative to make sure the button always stays next to the search-bar
		position: absolute;
		background-color: $light-blue-gray;
		height: $search-bar-button-height;
		width: $search-bar-button-width;
		cursor: pointer;
	}
	.search-filter-sort-bar__centering-container__search-group-container__search-bar-button:hover,
	.search-filter-sort-bar__centering-container__search-group-container__search-bar-button:active {
		background-color: $blue-gray;
	}

	.search-filter-sort-bar__centering-container__search-group-container__search-bar-button__icon {
		@include dead-center();
		color: white;
	}

	// Lets the searchbar resize know when to stop 
	// ...and positons filter dropdown to the right
	.search-filter-sort-bar__filter-area-container {
		position: absolute;
		right: 0px;
		width: 109px;
	}

	.search-filter-sort-bar__filter-area-container__dropdown-container {
		float: right;
		margin-left: 50px;
	}

	.search-filter-sort-bar__filter-area-container__dropdown-container__button {
		@include stop-text-selection();

		// Must be more than search-filter-sort-bar__filter-area-container__dropdown-container__content-dropdown
		// ...so its top border can be covered to make the two containers look like one
		z-index: 1;
		position: absolute;
		top: 13px;
		right: 16px;
		border: 1px solid black;
		background-color: white;
		height: 30px;
		width: $filter-button-width;
		font-size: 20px;
		text-align: center;
		cursor: pointer;
	}

	.search-filter-sort-bar__filter-area-container__dropdown-container__button--clicked {
		// Negative margin because border resize moves the element
		margin: -2px -2px 0px;
		border: 3px solid black;
		border-bottom: none;
		height: 54px;
	}

	.search-filter-sort-bar__filter-area-container__dropdown-container__button__text {
		// Used horizontal-center since resize would move the text
		@include horizontal-center();
		top: 4px;
		width: $filter-button-width;
	}

	.search-filter-sort-bar__filter-area-container__dropdown-container__content-dropdown {
		position: absolute;
		/* top: 41px; */
		top: 65px;
		// 2px less than button since border resize moves the button
		right: 14px;
		border: 3px solid black;
		background-color: white;
		height: 200px;
		width: 330px;
		cursor: default;
		// Made visible using JS
		visibility: hidden;
	}

	.search-filter-sort-bar__filter-area-container__dropdown-container__content-dropdown__content {
		float: left;
		margin: 15px 0px 5px 20px;
		text-align: center;
	}

	.search-filter-sort-bar__filter-area-container__dropdown-container__content-dropdown__content--right {
		float: right;
		margin: 15px 20px 5px 0px;
	}

	.search-filter-sort-bar__filter-area-container__dropdown-container__content-dropdown__content__title {
		display: block;
		margin: 2px 0px 5px 0px;
		border-bottom: 1px solid gray;
		padding-bottom: 3px;
		font-weight: bold;
	}

	.search-filter-sort-bar__filter-area-container__dropdown-container__content-dropdown__content__block {
		text-align: left;
	}

	.search-filter-sort-bar__filter-area-container__dropdown-container__content-dropdown__content__block__checkbox,
	.search-filter-sort-bar__filter-area-container__dropdown-container__content-dropdown__content__block__label {
		margin: 5px 3px 5px 3px;
	}
}
