@import "../../../utils/variables";
@import "../../../utils//mixins";

.list-sidebar-component {
	// Width must be set here so width can be calculated and stored in redux
	width: $list-sidebar-width;

	.expand-minimize-button {
		// EDIT Must be more than searchFilterSortBar and displayInfo/editInfo
		z-index: 2;
		position: absolute;
		top: $navbar-height + $top-bar-height + $top-bar-border-width + 15;
		left: $list-sidebar-width + $list-sidebar-border-width;
		border: $list-sidebar-border-width solid black;
		border-left: none;
		background-color: $medium-lighter-gray;
		height: 80px;
		width: 17px;
		cursor: pointer;
	}
	.expand-minimize-button:hover,
	.expand-minimize-button:active {
		background-color: $medium-light-gray;
	}

	.expand-minimize-button--minimized {
		left: $list-sidebar-border-width;
	}

	.expand-minimize-button__centering-container {
		height: 100%;
		width: 100%;
	}

	.expand-minimize-button__centering-container__icon-container {
		@include dead-center();
	}

	.list-sidebar {
		// EDIT Must be more than searchFilterSortBar
		z-index: 2;
		position: fixed;
		top: $navbar-height + $top-bar-height + $top-bar-border-width;
		left: 0px;
		border-right: $list-sidebar-border-width solid black;
		background-color: $list-table-background-color;
		height: 90vh;
		// Width must be set here again to not go beyond
		width: $list-sidebar-width;
		font-family: Arial, Helvetica, sans-serif;
		overflow-y: auto !important;
		overflow-x: hidden !important;
	}

	.list-sidebar--minimized {
		width: 0px;
	}

	.list-sidebar__table {
		// Allows td borders to look like they are a single line
		border-collapse: collapse;
	}

	.list-sidebar__table__row {
		@include border-line();
		background-color: $list-table-background-color;
		padding: 5px;
		height: $list-table-row-height;
		text-align: center;
	}

	.list-sidebar__table__row--empty {
		height: $list-table-row-height + ($list-table-row-height * 0.5);
	}

	.list-sidebar__table__row--selected {
		background-color: $medium-lighter-gray;
	}

	.list-sidebar__table__header {
		position: -webkit-sticky;
		position: sticky;
		background-color: $list-table-background-color;
		// Used box shadow since the header row being sticky with
		// ...background-color applied keeps the bottom-border from appearing
		box-shadow: 0 1px 0 $medium-gray;
	}

	.list-sidebar__table__data {
		padding: 0px 7px 0px 7px;
		width: $list-sidebar-width;
		max-width: $list-sidebar-width;
		color: $blue-link;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: default;
	}

	.list-sidebar__table__data--red {
		color: $red-link;
	}
}
