@import "../../../utils/variables";
@import "../../../utils//mixins";

.item-container-bug-list-component {
	// Must be more than the item-container in item-container.scss
	z-index: 1;
	width: 100%;
	font-size: $base-font-size;
	font-family: Arial, Helvetica, sans-serif;

	.bug-list-table {
		width: 100%;
	}

	.bug-list-table__row {
		padding: 5px;
		height: $list-item-table-row-height;
		text-align: center;
	}

	.bug-list-table__data {
		// Must be realtive so centing works for overflow-container
		position: relative;
	}

	.bug-list-table__data__overflow-container {
		@include horizontal-center();

		width: 50px;
		// Changed using JS
		max-width: 50px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.bug-list-table__data__overflow-container--project-color {
		color: $blue-link;
	}

	.bug-list-table__data__overflow-container--bug-color {
		color: $red-link;
		color: $blue-link;
	}

	.bug-list-table__data__overflow-container--completed-color {
		color: $status-green;
		font-weight: bold;
	}

	.bug-list-table__data__overflow-container__info__completed-icon {
		margin-right: 5px;
		color: $status-green;
	}

	.bug-list-table__data__centering-container {
		position: relative;
		height: 100%;
		width: 100%;
	}

	.bug-list-table__data__centering-container__status-box {
		@include dead-center();

		// This background color should only appear if there was a problem
		// ...assigning a different background color to a status-box.
		// ...the scss for the colors assigned are in home.scss
		background-color: black;
		color: white;
		height: $status-box-height;
		width: 100%;
	}

	.bug-list-table__data__centering-container__status-box__centered-info {
		@include dead-center();
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
