@import "../../../utils/variables";
@import "../../../utils//mixins";

// This file is for SCSS used only by the ItemContainerEditInfo component
// ...SCSS shared with other components is in itemContainer.scss 
.item-container-component {
	.form-errors {
		display: block;
		color: red;
		text-align: center;
	}

	.form-errors--test{
		margin-top: 13px;
	}

	.bottom-form-errors-container {
		margin-top: 5px;
		height: 5px;
	}

	.centering-container {
		margin-bottom: 9px;
		width: 100%;
		text-align: center;
	}

	.centering-container__form-name-input {
		margin-top: 20px;
		border: 2px solid black;
		background-color: white;
		padding: 4px;
		height: 43px;
		width: 600px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 28px;
		font-weight: bold;
		text-align: center;
	}

	.item-box__form-character-counter {
		float: right;
		margin: 5px 2px 2px 0px;
	}

	.item-box__form-textarea {
		outline: none;
		margin-bottom: 10px;
		border: 2px solid black;
		background-color: white;
		padding: 4px 8px 4px 8px;
		height: 180px;
		width: 100%;
		line-height: $common-line-height;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		// sizing
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box; /* Firefox, other Gecko */
		box-sizing: border-box; /* Opera/IE 8+ */
		resize: none;
	}

	.item-box__group__field__form-label {
		// To make form-selects vertically parallel
		display: inline-block;
		// Width decides starting location of the following input element
		width: 70px;
		font-weight: bold;
	}

	.item-box__group__field__form-label--medium-width {
		// Width decides starting location of the following input element
		width: 90px;
	}

	.item-box__group__field__form-label--long-width {
		// Width decides starting location of the following input element
		width: 125px;
	}

	.item-box__group__field__form-text {
		outline: none;
		margin-top: 3px;
		border: 1px solid black;
		box-sizing: border-box;
		background-color: #ffffff;
		padding: 6px;
		width: 100%;
		font-size: 12px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.item-box__group__field__form-select {
		border: 1px solid black;
		background-color: white;
		width: 125px;
		font-size: 14px;
	}

	.item-box__group__field__form-date {
		border: 1px solid black;
		background-color: white;
	}

	.form-buttons-outer-container {
		position: relative;
		height: 55px;
		width: 100%;
	}

	.form-buttons-centered-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 265px;
	}

	.form-buttons-centered-container__submit-button {
		float: left;
		border: 1px solid black;
		outline: none;
		background-color: $light-blue-gray;
		// Only top and bottom because of inconsistencies
		// ...with button vs divs.
		padding: 10px 0px 10px 0px;
		// 2px bigger than cancel button because of inconsistencies
		// ...with buttons vs divs.
		width: 127px;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		cursor: pointer;
	}
	.form-buttons-centered-container__submit-button:hover,
	.form-buttons-centered-container__submit-button:active {
		background-color: $blue-gray;
	}

	.form-buttons-centered-container__cancel-button {
		@include stop-text-selection();

		float: right;
		border: 1px solid black;
		background-color: white;
		// Only top and bottom because of inconisistencies
		// ...with button and div padding.
		padding: 10px 0px 10px 0px;
		width: 125px;
		color: red;
		text-align: center;
		font-size: 16px;
		cursor: pointer;
	}
	.form-buttons-centered-container__cancel-button:hover,
	.form-buttons-centered-container__cancel-button:active {
		background-color: #f1f0f0;
	}

	// These classes are used by the custom hook that handles appearance
	// ...of completion date based of the status of the project
	.grayed-out-label {
		color: $medium-light-gray;
		pointer-events: none;
	}

	.grayed-out-date {
		background-color: $light-gray;
		color: $medium-light-gray;
		pointer-events: none;
	}

	.form__errors {
		display: block;
		// Gives top space for location but not description
		margin-top: 10px;
		color: red;
		text-align: center;
	}
}
