@import "../../../utils/variables";
@import "../../../utils//mixins";

// This file is for SCSS used only by the ItemContainerDisplayInfo component
// ...SCSS shared with other components is in itemContainer.scss 
.item-container-component {
	.item-name {
		margin: 32px 0px 20px 0px;
		text-align: center;
		font-size: $item-container-name-font-size;
	}

	.item-box__group__field__type {
		font-weight: bold;
	}

	.item-box__group__field__centering-container {
		position: relative;
		display: inline-block;
		height: $status-box-height;
		width: 55px;
	}

	.item-box__group__field__centering-container__type {
		@include vertical-center();
	}

	.item-box__group__field_content {
		margin-left: $display-item-field-margin-left;
	}

	.item-box__group__field__status-box {
		position: relative;
		display: inline-block;
		margin-left: $display-item-field-margin-left;
		// This background color should only appear if there was a problem
		// ...assigning a different background color to a status-box
		// ...scss for other colors is in home.scss
		background-color: black;
		color: white;
		height: $status-box-height;
		width: $status-box-width;
	}
	
	.item-box__group__field__status-box__centered-content {
		@include dead-center();
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
