@import "../../../utils/variables";
@import "../../../utils//mixins";

.list-sidebar-component {
	// EDIT Must be more than searchFilterSortBar
	z-index: 1;
	position: fixed;
	top: $navbar-height + $top-bar-height + $top-bar-border-width;
	left: 0px;
	border-right: $list-sidebar-border-width solid black;
	background-color: $list-table-background-color;
	height: 90vh;
	width: $list-sidebar-width;
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: auto !important;
	overflow-x: hidden !important;

	.list-sidebar {
		// Allows td borders to look like they are a single line
		border-collapse: collapse;
	}

	.list-sidebar__row {
		@include border-line();
		background-color: $list-table-background-color;
		padding: 5px;
		height: $list-table-row-height;
		text-align: center;
	}

	.list-sidebar__row--empty {
		height: $list-table-row-height + ($list-table-row-height * 0.5);
	}

	.list-sidebar__row--selected {
		background-color: $medium-lighter-gray;
	}

	.list-sidebar__header {
		position: -webkit-sticky;
		position: sticky;
		background-color: $list-table-background-color;
		// Used box shadow since the header row being sticky with
		// ...background-color applied keeps the bottom-border from appearing
		box-shadow: 0 1px 0 $medium-gray;
	}

	.list-sidebar__data {
		padding: 0px 7px 0px 7px;
		width: $list-sidebar-width;
		max-width: $list-sidebar-width;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: default;
	}

	.list-table__data__info {
		color: $blue-link;
	}

	.list-table__data__info--red {
		color: $red-link;
	}
}
