@import "../../../utils/variables";
@import "../../../utils//mixins";

// This file is for SCSS used only by the ItemContainerDisplayInfo component
// ...SCSS shared with other components is in itemContainer.scss 
.item-container-component {
	.item-name {
		padding: 13px 0px 6px 0px;
		text-align: center;
		font-size: 175%;
	}

	.item-box__group__field__type {
		font-weight: bold;
	}

	.item-box__group__field_content {
		margin-left: 11px;
	}
}
