@import "../../../utils/variables";
@import "../../../utils//mixins";

.top-bar-component,
.js-calc-top-bar-component {
	// Must be more than the item-container in item-container.scss
	z-index: 1;
	position: fixed;
	top: $navbar-height;
	border-bottom: $top-bar-border-width solid black;
	background-color: $search-filter-sort-bar-color;
	height: $top-bar-height;
	/* height: $search-filter-sort-bar-height; */
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;

	.outer-search-container {
		@include vertical-center();

		margin-left: $item-search-bar-margin-left;
		// This border color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in home.scss
		border: 0px solid black;
		width: $item-search-bar-width;
	}

	.outer-search-container--with-border {
		border-width: $list-item-search-bar-group-container-border-width;
	}

	.outer-search-container--invisible {
		visibility: hidden;
	}

	.outer-search-container__search-bar {
		display: inline-block;
		outline: none;
		// This border color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in home.scss
		border: $list-search-bar-border-width solid black;
		padding: 0px $list-search-bar-padding 0px $list-search-bar-padding;
		height: $list-search-bar-height;
		width: $item-search-bar-width - ($list-search-bar-border-width * 2) -
			($list-search-bar-padding * 2) - $list-item-search-bar-button-width;
		font-size: 14px;
	}

	.outer-search-container__search-bar-button {
		// Instead of relative to make sure the button always stays next to the list-search-bar
		position: absolute;
		display: inline-block;
		// This background color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in home.scss
		background-color: black;
		height: $list-item-search-bar-button-height;
		width: $list-item-search-bar-button-width;
		cursor: pointer;
	}

	.outer-search-container__search-bar-button__icon {
		@include dead-center();
		color: white;
	}

	.filter-container {
		position: absolute;
		left: $item-search-bar-width;
		/* width: 109px; */
	}

	.filter-container__button {
		@include stop-text-selection();

		// Must be more than filter-container__content-dropdown
		// ...so its top border can be covered to make the two containers look like one
		z-index: 1;
		position: absolute;
		top: 12px;
		left: 30px;
		border: 1px solid black;
		background-color: white;
		height: $search-filter-sort-bar-button-height;
		width: $filter-button-width;
		font-size: 16px;
		text-align: center;
		cursor: pointer;
	}

	.filter-container__button--clicked {
		// Negative margin because border resize moves the element
		margin: -2px -2px 0px;
		border: 3px solid black;
		border-bottom: none;
		height: 48px;
	}

	.filter-container__button__text {
		// Used horizontal-center since resize would move the text
		@include horizontal-center();
		top: 4px;
		width: $filter-button-width;
	}

	.filter-container__content-dropdown {
		position: absolute;
		/* top: 41px; */
		top: 58px;
		// 2px less than button since border resize moves the button
		left: 28px;
		border: 3px solid black;
		background-color: white;
		height: 200px;
		width: 330px;
		cursor: default;
		// Made visible using JS
		visibility: hidden;
	}

	.filter-container__content-dropdown--shorter {
		height: 155px;
	}

	.filter-container__content-dropdown--visible {
		visibility: visible;
	}

	.filter-container__content-dropdown__content {
		float: left;
		margin: 15px 0px 5px 20px;
		text-align: center;
	}

	.filter-container__content-dropdown__content--right {
		float: right;
		margin: 15px 20px 5px 0px;
	}

	.filter-container__content-dropdown__content__title {
		display: block;
		margin: 2px 0px 5px 0px;
		border-bottom: 1px solid gray;
		padding-bottom: 3px;
		font-weight: bold;
	}

	.filter-container__content-dropdown__content__block {
		text-align: left;
	}

	.filter-container__content-dropdown__content__block__checkbox,
	.filter-container__content-dropdown__content__block__label {
		margin: 5px 3px 5px 3px;
	}

	.item-options-container {
		position: absolute;
		top: 12px;
		right: 50px;
		width: 135px;
	}

	.item-options-container__button {
		// Must be more than item-options-container__dropdown so the two
		// ...containers can look like one
		z-index: 1;
		position: absolute;
		right: 0px;
		// Border given color through JS
		border: 3px solid transparent;
		border-bottom: none;
		background: none;
		height: 29px;
		width: $options-button-width;
		color: $darker-gray;
		font-size: 28px;
		text-align: center;
		cursor: pointer;
	}
	.item-options-container__button:hover,
	.item-options-container__button:active {
		color: $black;
	}

	.item-options-container__button__text {
		@include dead-center();
	}

	.item-options-container__button--clicked {
		border-color: black;
		border-bottom-color: white;
		background-color: white;
	}

	.item-options-container__dropdown {
		position: absolute;
		top: 29px;
		right: 0;
		border: 3px solid black;
		background-color: white;
		width: 129px;
		// Defaults as being hidden
		visibility: hidden;
	}

	.item-options-container__dropdown--visible {
		visibility: visible;
	}

	.item-options-container__dropdown__option {
		display: block;
		border-bottom: 1px solid gray;
		padding: 12px;
		cursor: pointer;
	}
	.item-options-container__dropdown__option:hover,
	.item-options-container__dropdown__option:active {
		background-color: $light-gray;
	}

	.item-options-container__dropdown__option--no-display {
		display: none;
	}

	.item-options-container__dropdown__option--no-border {
		border-bottom: none;
	}

	.x-button {
		@include back-exit-buttons();
		top: 11px;
		right: 20px;
		color: $darker-gray;
	}
	.x-button:hover,
	.x-button:active {
		color: $black;
	}
}
