@import "../../../utils/variables";
@import "../../../utils//mixins";

// The ItemContainerEditInfo component also uses shared SCSS in itemContainer.scss
// This file is for SCSS used only by  the ItemContainerEditInfo component
.view-item-modal-component {
	.form-errors {
		display: block;
		color: red;
		text-align: center;
	}

	.form-errors--test{
		margin-top: 13px;
	}

	.bottom-form-errors-container {
		margin-top: 5px;
		height: 5px;
	}

	.centering-container {
		margin-bottom: 9px;
		width: 100%;
		text-align: center;
	}

	.centering-container__form-name-input {
		margin-top: 20px;
		border: 2px solid black;
		background-color: white;
		padding: 4px;
		height: 43px;
		width: 600px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 28px;
		font-weight: bold;
		text-align: center;
	}

	.item-box__form-character-counter {
		float: right;
		margin: 5px 2px 2px 0px;
	}

	.item-box__form-textarea {
		outline: none;
		margin-bottom: 10px;
		border: 2px solid black;
		background-color: white;
		padding: 4px 8px 4px 8px;
		// Correct height is applied using JS
		height: 0px;
		width: 100%;
		line-height: $common-line-height;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		// sizing
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box; /* Firefox, other Gecko */
		box-sizing: border-box; /* Opera/IE 8+ */
		resize: none;
	}

	.item-box__group__field__form-label {
		// To make form-selects vertically parallel
		display: inline-block;
		// Width decides starting location of the following input element
		width: 70px;
		font-weight: bold;
	}

	.item-box__group__field__form-label--medium-width {
		// Width decides starting location of the following input element
		width: 90px;
	}

	.item-box__group__field__form-label--long-width {
		// Width decides starting location of the following input element
		width: 125px;
	}

	.item-box__group__field__form-select {
		border: 1px solid black;
		background-color: white;
		width: 125px;
		font-size: 14px;
	}

	.item-box__group__field__form-date {
		border: 1px solid black;
		background-color: white;
	}

	.item-box__group__field__tooltip-container {
		// Set to relative so changing the z-index using js can be
		// ...used to control if the tooltip is visible or not.
		position: relative;
		float: right;
		margin: -32px 80px 0px 0px;
		// Becomes visible via a mouseover event added to the completion_date container
		visibility: hidden;
	}

	.item-box__group__field__tooltip-container__arrow-left {
		float: left;
		height: 0;
		width: 0;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-right: 20px solid black;
	}

	.item-box__group__field__tooltip-container__text-box {
		float: left;
		border: 1px solid black;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		background-color: black;
		padding: 11px;
		width: 150px;
		text-align: center;
		font-size: 14px;
		color: white;
	}

	/* .item-box__group__field__tooltip-container__arrow-up {
		margin: 10px 0px 0px 65px;
		height: 0;
		width: 0;
		border-right: 20px solid transparent;
		border-left: 20px solid transparent;
		border-bottom: 20px solid black;
	}

	.item-box__group__field__tooltip-container__text-box {
		background-color: black;
		padding: 12px;
		width: 146px;
		text-align: left;
		font-size: 14px;
		color: white;
	} */

	.form-buttons-outer-container {
		position: relative;
		height: 55px;
		width: 100%;
	}

	.form-buttons-centered-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 265px;
	}

	.form-buttons-centered-container__submit-button {
		float: left;
		border: 1px solid black;
		outline: none;
		background-color: $light-blue-gray;
		// Only top and bottom because of inconsistencies
		// ...with button vs divs.
		padding: 10px 0px 10px 0px;
		// 2px bigger than cancel button because of inconsistencies
		// ...with buttons vs divs.
		width: 127px;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		cursor: pointer;
	}
	.form-buttons-centered-container__submit-button:hover,
	.form-buttons-centered-container__submit-button:active {
		background-color: $blue-gray;
	}

	.form-buttons-centered-container__cancel-button {
		@include stop-text-selection();

		float: right;
		border: 1px solid black;
		background-color: white;
		// Only top and bottom because of inconisistencies
		// ...with button and div padding.
		padding: 10px 0px 10px 0px;
		width: 125px;
		color: red;
		text-align: center;
		font-size: 16px;
		cursor: pointer;
	}
	.form-buttons-centered-container__cancel-button:hover,
	.form-buttons-centered-container__cancel-button:active {
		background-color: #f1f0f0;
	}

	// These classes are used by the custom hook that handles appearance
	// ...of completion date based of the status of the project
	.grayed-out-label {
		color: $medium-light-gray;
	}

	.grayed-out-date {
		background-color: $light-gray;
		color: $medium-light-gray;
	}
}
