@import "../../../utils/variables";
@import "../../../utils//mixins";

.item-container-bug-pie-chart-component {
	position: relative;
	height: 270px;
	width: 100%;

	.centered-container {
		@include horizontal-center();

		height: 270px;
		width: 480px;
	}

	.centering-table {
		width: 100%;
	}

	.centering-table-data {
		position: relative;
		min-width: 200px;
	}

	.pie-chart {
		@include horizontal-center();

		// stats-container is smaller, so centering causes 
		// ...more space on left side than pie-chart
		margin-left: -15px;
		padding-top: 12px;
	}

	.stats-container {
		@include horizontal-center();

		padding-top: 12px;
		width: $item-container-project-bugs-item-box-stats-container-width;
	}

	.stats-container__row {
		width: 100%;
		margin-top: 25px;
	}

	.stats-container__row__status-box {
		position: relative;
		display: inline-block;
		// This background color should only appear if there was a problem
		// ...assigning a different background color to a status-box
		// ...scss for other colors is in home.scss
		background-color: black;
		height: $status-box-height;
		width: $status-box-width;
	}

	.stats-container__row__status-box__centered-info {
		@include dead-center();

		color: white;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.stats-container__row__stats-centering-container {
		position: relative;
		display: inline-block;
		height: $status-box-height;
		width: $item-container-project-bugs-item-box-stats-container-width -
			$status-box-width;
	}

	.stats-container__row__stats-centering-container__stats {
		@include dead-center();

		font-size: $slightly-larger-font-size;
		font-weight: bold;
		white-space: nowrap;
		overflow: hidden;
	}
}
