@import "../../../utils/variables";
@import "../../../utils//mixins";

.view-item-modal-component {
	.view-item-modal {
		// EDIT Must be more than searchFilterSortBar
		z-index: 1;
		position: fixed;
		top: $navbar-height + $top-bar-height + $top-bar-border-width;
		left: $mini-list-table-width + $mini-list-table-border-width;
		/* left: $mini-list-table-width + $mini-list-table-border-width; */
		background-color: white;
		// Height and width values were found through trial and error
		// ...to make modal resize (using js) look less jumpy
		height: 90vh;
		width: 1000px;
		font-family: Arial, Helvetica, sans-serif;
		overflow-y: auto !important;
		overflow-x: auto !important;
	}

	.item-content-container {
		// Gives modal scrolling when content goes beyond modal height
		overflow-y: auto !important;
		overflow-x: auto !important;
	}

	// Must be a seperate div inside .item-content-container so the padding
	// ...does not affect the resize so it goes beyond the modal
	.padding-container {
		padding: 0px 25px 25px 25px;
	}

	.item-creation-date {
		margin: 5px;
		text-align: center;
		font-size: 115%;
	}

	.outer-dividing-container {
		float: left;
		width: 100%;
	}

	.outer-dividing-container--one-third {
		width: 33.33%;
		min-width: 300px;
	}

	.outer-dividing-container--fixed-width-for-info {
		width: 600px;
	}

	.item-box {
		margin: 10px;
		border: 2px solid black;
		background-color: $light-gray;
		padding: 0px 20px 20px 20px;
		overflow-wrap: anywhere;
	}

	// Used in ViewItemModalEditInfo to calculate description size using JS
	.item-box--invisible {
		position: absolute;
		visibility: hidden;
	}

	// Located here since both display and edit components use it
	.item-box__description {
		display: block;
		padding: 13px 5px 13px 5px;
		line-height: $common-line-height;
	}

	.item-box__group {
		display: inline-block;
	}

	.item-box__group--right {
		float: right;
	}

	.item-box__title {
		text-align: center;
		font-size: 140%;
	}

	.item-box__title--no-bottom-margin {
		margin-bottom: 0px;
	}

	.horizontal-line {
		margin-bottom: 25px;
		border: 1px solid gray;
	}

	.item-box__group__field {
		margin-bottom: 25px;
	}

	.item-box__group__field--no-bottom-margin {
		margin-bottom: 0px;
	}

	.item-box__group__field--inline-flex {
		display: inline-flex;
	}

	.bottom-row-height-filler {
		height: 65px;
	}
}
