// The ViewItemModalDisplayInfo component also uses shared SCSS in viewItemModal.scss
// This file is for SCSS used only by  the ViewItemModalDisplayInfo component
@import "../../../utils/variables";
@import "../../../utils//mixins";

.view-project-modal-component {

	.project-name {
		padding: 13px 0px 6px 0px;
		text-align: center;
		font-size: 175%;
	}

	.project-box__group__field__type {
		font-weight: bold;
	}

	.project-box__group__field_content {
		margin-left: 11px;
	}
}
