@import "../../../utils/variables";
@import "../../../utils//mixins";

.view-item-modal-component {
	.blurred-background {
		// Must be more than searchFilterSortBar
		z-index: 2;
		position: fixed;
		top: $navbar-height;
		background-color: black;
		opacity: 0.5;
		height: 100vh;
		width: 100vw;
	}

	.view-item-modal {
		// Must be more than searchFilterSortBar
		z-index: 2;
		position: fixed;
		top: $navbar-height;
		margin: $view-item-bug-modal-margin;
		border: $view-item-bug-modal-border-width solid black;
		background-color: white;
		// Height and width values were found through trial and error
		// ...to make modal resize (using js) look less jumpy
		height: 88.5vh;
		width: 99vw;
		font-family: Arial, Helvetica, sans-serif;
	}

	.top-buttons-bar {
		border-bottom: 1px solid black;
		background-color: silver;
		height: 46px;
		width: 100%;
	}

	.item-options-container {
		z-index: 3;
		position: absolute;
		top: 8px;
		right: 50px;
		width: 135px;
	}

	.item-options-container__button {
		// Must be more than item-options-conatiner so its top border 
		// ...can be covered to make containers look in unison
		z-index: 4;
		position: absolute;
		right: 0px;
		// Border given color through JS
		border: 3px solid transparent;
		border-bottom: none;
		background: none;
		height: 29px;
		width: $options-button-width;
		color: $dark-gray;
		font-size: 28px;
		text-align: center;
		cursor: pointer;
	}
	.item-options-container__button:hover,
	.item-options-container__button:active {
		color: $black;
	}

	.item-options-container__button__text {
		@include dead-center();
	}

	.item-options-container__button--clicked {
		border-color: black;
		border-bottom-color: white;
		background-color: white;
	}

	.item-options-container__dropdown {
		position: absolute;
		top: 29px;
		right: 0;
		border: 3px solid black;
		background-color: white;
		width: 129px;
		// Made visible using JS
		visibility: hidden;
	}

	.item-options-container__dropdown__option {
		display: block;
		border-bottom: 1px solid gray;
		padding: 12px;
		cursor: pointer;
	}
	.item-options-container__dropdown__option:hover,
	.item-options-container__dropdown__option:active {
		background-color: $light-gray;
	}

	.item-options-container__dropdown__option--no-display {
		display: none;
	}

	.item-options-container__dropdown__option--no-border {
		border-bottom: none;
	}

	.x-button {
		@include back-exit-buttons();
		right: 20px;
		color: $dark-gray;
	}
	.x-button:hover,
	.x-button:active {
		color: $black;
	}

	.item-content-container {
		// Gives modal scrolling when content goes beyond modal height
		overflow-y: auto !important;
		overflow-x: hidden !important;
	}

	// Must be a seperate div inside .item-content-container so the padding
	// ...does not affect the resize so it goes beyond the modal 
	.padding-container {
		padding: 0px 25px 25px 25px;
	}

	.item-creation-date {
		margin: 5px;
		text-align: center;
		font-size: 115%;
	}

	.outer-dividing-container {
		float: left;
		width: 100%;
	}

	.outer-dividing-container--one-third {
		width: 33.33%;
		min-width: 300px;
	}

	.outer-dividing-container--fixed-width-for-info {
		width: 600px;
	}

	.item-box {
		margin: 10px;
		border: 2px solid black;
		background-color: $light-gray;
		padding: 0px 20px 20px 20px;
		overflow-wrap: anywhere;
	}

	// Used in ViewItemModalEditInfo to calculate description size using JS
	.item-box--invisible {
		position: absolute;
		visibility: hidden;
	}

	// Located here since both display and edit components use it
	.item-box__description {
		display: block;
		padding: 13px 5px 13px 5px;
		line-height: $common-line-height;
	}

	.item-box__group {
		display: inline-block;
	}

	.item-box__group--right {
		float: right;
	}

	.item-box__title {
		position: relative;
		text-align: center;
		font-size: 140%;
	}

	.item-box__title--no-bottom-margin {
		margin-bottom: 0px;
	}

	.horizontal-line {
		margin-bottom: 25px;
		border: 1px solid gray;
	}

	.item-box__group__field {
		margin-bottom: 25px;
	}

	.item-box__group__field--no-bottom-margin {
		margin-bottom: 0px;
	}

	.item-box__group__field--inline-flex {
		display: inline-flex;
	}

	.bottom-row-height-filler {
		height: 65px;
	}
}
