@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.toggle-switch-component {
	position: relative;
	display: inline-block;

	.toggle-switch {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: relative;
		float: left;
		margin-left: 6px;
		border: solid v.$basic-toggle-switch-on-color 3px;
		border-radius: 25px;
		background-color: v.$basic-toggle-switch-on-color;
		height: v.$basic-toggle-switch-height;
		width: 52px;
		cursor: pointer;
	}

	.toggle-switch--dark-mode {
		border-color: v.$gray-level-4;
		background-color: v.$gray-level-4;
	}

	.toggle-switch--off {
		border-color: v.$basic-toggle-switch-off-color;
		background-color: v.$basic-toggle-switch-off-color;
	}
	
	.toggle-switch__text {
		@include m.vertical-center();
		@include m.stop-text-selection();

		left: 4px;
		color: white;
		font-size: 12px;
		font-weight: bold;
	}

	.toggle-switch__text--off {
		// Resets left
		left: auto;
		right: 3px;
		color: v.$gray-level-3;
	}

	.toggle-switch__circle {
		@include m.vertical-center();

		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		right: 1px;
		border: solid silver 1px;
		border-radius: 100px;
		background-color: white;
		height: 18px;
		width: 18px;
	}

	.toggle-switch__circle--off {
		right: auto;
		left: 1px;
	}
}