@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.toggle-switch-component {
	position: relative;
	display: inline-block;

	.invisible-checkbox {
		display: none;
	}

	.toggle-switch {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: relative;
		float: left;
		border: solid v.$mode-toggle-switch-off-border-background-color-light 3px;
		border-radius: 25px;
		background-color: v.$mode-toggle-switch-off-border-background-color-light;
		height: v.$basic-toggle-switch-height;
		width: v.$basic-toggle-switch-width;
		color: v.$mode-toggle-switch-off-text-color-light;
		cursor: pointer;
	}

	.invisible-checkbox:checked + .toggle-switch {
		border-color: v.$default-theme-mode-toggle-switch-on-border-background-color;
		background-color: v.$default-theme-mode-toggle-switch-on-border-background-color;
		color: v.$mode-toggle-switch-on-text-color-light;
	}

	.toggle-switch__text {
		@include m.vertical-center();
		@include m.stop-text-selection();
		
		right: 3px;
		font-size: 12px;
		font-weight: bold;
	}

	.invisible-checkbox:checked + .toggle-switch > .toggle-switch__text {
		// Resets right
		right: auto;
		left: 4px;
	}

	.toggle-switch__circle {
		@include m.vertical-center();

		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		left: 1px;
		border: solid silver 1px;
		border-radius: 100px;
		background-color: v.$mode-toggle-switch-off-circle-background-color-light;
		height: 18px;
		width: 18px;
	}

	.invisible-checkbox:checked + .toggle-switch > .toggle-switch__circle {
		// Resets left
		left: auto;
		right: 1px;
		background-color: v.$mode-toggle-switch-on-circle-background-color-light;
	}
}
