@import '../utils/variables';

.register-login-background {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/BlueBackground_1920.jpg);
	height: 100vh;
	width: 100vw;
	font-family: Verdana, Geneva, sans-serif;

	.register-login-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 25px;
		border: 5px solid #202024;
		background: white;
		padding: 25px;
		width: 500px;
		text-align: center;
		
	}

	.title {
		display: inline-block;
		margin-bottom: 25px;
		font-size: 225%;
		
	}

	.form__input-label {
		float: left;
		width: 100%;
		text-align: left;
	}

	.form__input {
		margin-top: 5px;
		margin-bottom: 5px;
		box-sizing: border-box;
		background: #e5e5e5;
		padding: 8px;
		width: 100%;
		text-align: center;
		font-size: 14px;
	}
	
	.form__errors {
		width: 100%;
		color: red;
	}

	.form__submit {
		margin-top: 10px;
		margin-bottom: 5px;
		border: 0;
		background: $lightBlueTeal;
		padding: 10px;
		width: 100%;
		color: white;
		font-size: 14px;
		cursor: pointer;
	}
	.form__submit:hover,
	.form__submit:active {
		background: $darkBlueTeal;
	}

	.footer {
		margin-top: 20px;
		font-size: 20px;
	}

	.footer__link {
		margin-left: 15px;
		color: blue;
		font-size: 120%;
		text-decoration: none;
	}
}