@use "../../utils/variables" as v;
@use "../../utils/mixins" as m;

.account-sidebar-component {
	.sidebar-container {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		// Must be the same as accountBlurredBackground.scss
		z-index: 3;
		position: fixed;
		top: v.$navbar-height;
		right: 0;
		// Used by JS during resize to give margin to bottom
		margin-bottom: 20px;
		border: v.$base-sidebar-border-width solid black;
		border-top: none;
		border-right: none;
		background: white;
		height: 390px;
		width: v.$account-sidebar-width;
		text-align: left;
		font-family: Arial, Helvetica, sans-serif;
		// Gives sidebar scrolling when content goes beyond height
		overflow-y: auto !important;
		overflow-x: hidden !important;
	}

	.settings-button {
		position: absolute;
		top: 10px;
		left: 13px;
		border: none;
		background: none;
		color: v.$darker-icon-button-gray;
		font-size: 22px;
		cursor: pointer;

		&:hover,
		:active {
			color: v.$mode-base-icon-button-hover-text-color-light;
			font-size: 23px;
		}
	}

	// Used so that the padding does not affect the size of the sidebar-container
	.padded-container {
		padding: v.$account-sidebar-padding-top
			v.$account-sidebar-padding-left-right 0px;
	}

	.account-info {
		display: block;
		margin-bottom: 5px;
		font-size: v.$account-sidebar-account-info-font-size;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
	}

	.account-info--name {
		font-size: v.$account-sidebar-account-name-font-size;
		font-weight: bold;
	}

	.link-container {
		padding-top: 5px;
		text-align: center;
	}

	.link-container__text {
		font-size: v.$account-sidebar-link-font-size;
		font-style: bold;
		text-decoration: none;
		cursor: pointer;

		&:hover,
		:active {
			text-decoration: underline;
		}
	}

	.horizontal-dividing-line {
		position: relative;
		margin: v.$account-sidebar-dividing-line-margin-top-bottom 0px;
		border-top: solid silver 2px;
	}

	// Used to allow backend-errors to be positioned half way between content
	// ...and the dividing line
	.horizontal-dividing-line--half-top-margin {
		margin-top: v.$account-sidebar-dividing-line-margin-top-bottom-half;
	}

	.button-container {
		position: relative;
		// Needed so resize will keep space between container and the bottom
		padding-bottom: v.$account-sidebar-dividing-line-margin-top-bottom;
		height: v.$account-sidebar-logout-button-height;
	}

	.button-container__logout-button {
		@include m.horizontal-center();

		border: solid silver 1px;
		border-radius: 5px;
		height: v.$account-sidebar-logout-button-height;
		width: 80px;
		cursor: pointer;

		&:hover,
		:active {
			background-color: v.$gray-light-level-1;
		}
	}

	.button-container__logout-button__text {
		@include m.dead-center();

		font-size: v.$base-font-size;
	}
}
