@use "../../utils/variables" as v;

.account-sidebar-component {
	.sidebar-container {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		// Must be the same as accountBlurredBackground.scss
		z-index: 3;
		position: fixed;
		top: v.$navbar-height;
		right: 0;
		// Used by JS during resize to give margin to bottom
		margin-bottom: 20px;
		border: v.$base-sidebar-border-width solid black;
		border-right: none;
		border-radius: v.$base-sidebar-border-radius 0 0 v.$base-sidebar-border-radius;
		background: white;
		height: 200px;
		width: v.$account-sidebar-width;
		text-align: left;
		font-family: Arial, Helvetica, sans-serif;
		// Gives sidebar scrolling when content goes beyond height
		overflow-y: auto !important;
		overflow-x: hidden !important;
	}

	// Used so that the padding does not affect the size of the sidebar-container
	.padded-container {
		padding: 20px 10px 10px 15px;
	}

	.account-info {
		display: block;
		margin-bottom: 8px;
		font-size: 16px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.account-info--large-bold {
		font-size: 19px;
		font-weight: bold;
	}

	.account-link-container {
		margin-top: 30px;
	}

	.account-link {
		display: block;
		margin-bottom: 8px;
		font-style: bold;
		text-decoration: none;
		cursor: pointer;

		&:hover,
		&:active {
			text-decoration: underline;
		}
	}
}
