@use "../../utils/variables" as v;
@use "../../utils/mixins" as m;

.account-sidebar-change-theme-component {
	.content-container {
		display: inline-block;
		// Bottom margin needed so backend-errors can be positioned half way
		// ...between content and the dividing line
		margin: 0 0 v.$account-sidebar-dividing-line-margin-top-bottom-half v.$account-sidebar-appearance-contents-container-margin-left-right;
	}

	.content-container--right {
		float: right;
		// Bottom margin needed so backend-errors can be positioned half way
		// ...between content and the dividing line
		margin: 0 v.$account-sidebar-appearance-contents-container-margin-left-right v.$account-sidebar-dividing-line-margin-top-bottom-half 0;
	}

	.content-container__label {
		display: block;
		margin-bottom: 6px;
		font-size: v.$account-sidebar-appearance-label-font-size;
	}

	.content-container__theme-option {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: relative;
		display: inline-block;
		margin-right: 6px;
		border-radius: 10px;
		// This background color should only appear if there was a problem
		// ...assigning a different background color to a the circle.
		// ...the scss for the colors assigned are in app.scss
		background-color: black;
		height: 30px;
		width: 30px;
		cursor: pointer;
	}

	.content-container__theme-option__selected-checkmark {
		@include m.dead-center();
		@include m.stop-text-selection();

		color: white;
	}

	.content-container__toggle-switch-centering-container {
		width: v.$basic-toggle-switch-width;
		margin: 0 auto;
	}

	.backend-errors {
		@include m.backend-error();
	}
}