@use "../../utils/variables" as v;

.account-modals-blurred-background {
	// Must be more than listViewSearchFilterSortBar.scss,
	// ...itemViewTopBar.scss, and itemViewSidebarTablesAndRows.scss
	z-index: 3;
	position: fixed;
	left: 0;
	top: 0;
	background-color: black;
	opacity: v.$blurred-background-opacity;
	height: 100vh;
	width: 100vw;
}

.account-modals-blurred-background--account-sidebar {
	top: v.$navbar-height;
	opacity: v.$click-to-close-blurred-background-opacity;
}