@use "../../utils/variables" as v;

.account-modals-blurred-backdrop-component {
	// Must be more than listViewTopBar.scss,
	// ...itemViewTopBar.scss, and itemViewSidebarTablesAndRows.scss
	z-index: 3;
	position: fixed;
	left: 0;
	top: 0;
	background-color: v.$mode-common-blurred-backdrop-background-color-light;
	opacity: v.$mode-common-blurred-backdrop-opacity-light;
	height: 100vh;
	width: 100vw;
}

.account-modals-blurred-backdrop-component--below-navbar {
	top: v.$navbar-height;
	opacity: v.$mode-common-blurred-backdrop-click-to-close-opacity-light;
}