@use "../../utils/variables" as v;

.account-modals-blurred-background {
	// Must be more than listViewTopBar.scss,
	// ...itemViewTopBar.scss, and itemViewSidebarTablesAndRows.scss
	z-index: 3;
	position: fixed;
	left: 0;
	top: 0;
	background-color: v.$mode-blurred-background-background-color-light;
	opacity: v.$mode-blurred-background-opacity-light;
	height: 100vh;
	width: 100vw;
}

.account-modals-blurred-background--account-sidebar {
	top: v.$navbar-height;
	opacity: v.$mode-click-to-close-blurred-background-opacity-light;
}