@use "../../utils/variables" as v;
@use "../../utils/mixins" as m;

.edit-account-modal-component {
	.edit-account-modal {
		// Must be the same as accountBlurredBackgorund.scss
		z-index: 3;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		//border: v.$account-modal-border-width solid black;
		border-radius: v.$account-modal-border-radius;
		background-color: v.$mode-account-sidebar-modal-background-color-light;
		padding: 30px;
		height: v.$edit-account-modal-height;
		width: v.$edit-account-modal-width;

		//text-align: center;
		font-family: Arial, Helvetica, sans-serif;
	}

	.back-button {
		@include m.back-button();
	}

	.exit-button {
		@include m.exit-button();
	}

	.title {
		position: relative;
		display: block;
		padding-top: 8px;
		font-size: 150%;
		text-align: center;
	}

	.form__label {
		float: left;
		margin-top: 5px;
		font-size: v.$slightly-larger-font-size;
	}

	.form__label--top-margin {
		margin-top: 40px;
	}

	.form__label__captial-delete {
		margin-left: 2px;
		margin-right: 2px;
		font-size: 16px;
		color: v.$mode-account-modal-delete-account-capital-delete-text-color-light;
	}

	.form__char-counter {
		float: right;
		margin: 5px 2px 0px 0px;
		font-size: v.$slightly-larger-font-size;
	}

	.form__input-text {
		margin-top: v.$edit-account-form-input-margin-top;
		margin-bottom: v.$edit-account-create-item-sidebar-form-input-margin-bottom;
		outline: none;
		border: v.$form-input-text-border-width solid
			v.$mode-base-form-input-border-color-light;
		border-radius: v.$form-input-border-radius;
		box-sizing: border-box;
		background: v.$mode-base-form-input-background-color-light;
		padding: 8px;
		width: 100%;
		font-size: 14px;
		text-align: center;

		&:focus {
			border-color: v.$default-theme-mode-focus-border-color;
		}
	}

	.backend-errors {
		@include m.backend-error();
	}

	.form__submit {
		@include m.base-form-submit-button();

		margin-top: 15px;
		margin-bottom: v.$edit-account-create-item-sidebar-form-input-margin-bottom;
	}

	.form__submit--delete {
		background-color: v.$mode-account-modal-delete-account-form-delete-button-background-color-light;

		&:hover,
		&:active,
		&:focus {
			background-color: v.$mode-account-modal-delete-account-form-delete-button-hover-background-color-light;
		}
	}

	.modal-links-container {
		position: absolute;
		bottom: 30px;
		width: v.$edit-account-modal-width;
		text-align: center;
	}

	.modal-link {
		margin-left: v.$edit-account-modal-link-margin;
		margin-right: v.$edit-account-modal-link-margin;
		font-size: v.$edit-account-modal-link-font-size;
		font-style: bold;
		text-decoration: none;
		cursor: pointer;
	}

	.modal-link--no-left-margin {
		margin-left: 0;
	}

	.modal-link--no-right-margin {
		margin-right: 0;
	}

	.link-spacer {
		font-size: 20px;
	}

	.category-container {
		position: relative;
		margin: 30px 0px 10px;
		position: relative;
		border: solid black 2px;
		border-radius: 10px;
		padding: 15px 20px;
	}

	.category-container__heading {
		// Must be higher than category-container
		z-index: 1;
		position: absolute;
		top: -12px;
		left: 20px;
		margin: 0px;
		background-color: white;
		padding: 0px 8px;
		font-size: v.$base-font-size + 3;
	}

	.category-container__content-container {
		margin-top: 15px;
		height: v.$account-modal-settings-content-container-height;
	}

	.category-container__content-container--smaller-top-margin {
		margin-top: 5px;
	}

	.category-container__content-container__label {
		float: left;
		margin-right: 10px;
		// Subtracting 2px for better alignment
		height: v.$account-modal-settings-content-container-height - 2;
		font-size: v.$base-font-size;
		vertical-align: middle;
		// Subtracting 2px for better alignment
		line-height: v.$account-modal-settings-content-container-height - 2;
	}
}
