@use "../../utils/variables" as v;
@use "../../utils/mixins" as m;

.edit-account-modal-component {
	.edit-account-modal {
		// Must be the same as accountBlurredBackgorund.scss
		z-index: 3;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: v.$base-modal-border-width solid black;
		border-radius: 15px;
		background-color: white;
		padding: 30px;
		height: v.$edit-account-modal-height;
		width: v.$edit-account-modal-width;
		//text-align: center;
		font-family: Arial, Helvetica, sans-serif;
	}

	.back-button {
		@include m.back-exit-buttons();
		left: 15px;
	}

	.exit-button {
		@include m.back-exit-buttons();
		right: 15px;
	}

	.title {
		position: relative;
		display: block;
		padding-top: 8px;
		font-size: 150%;
		text-align: center;
	}

	.form__label {
		float: left;
		margin-top: 5px;
		font-size: v.$slightly-larger-font-size;
	}

	.form__label--top-margin {
		margin-top: 40px;
	}

	.form__label__captial-delete {
		margin-left: 2px;
		margin-right: 2px;
		font-size: 16px;
		color: red;
	}

	.form__char-counter {
		float: right;
		margin: 5px 2px 0px 0px;
		font-size: v.$slightly-larger-font-size;
	}

	.form__text-input {
		margin-top: v.$edit-account-form-input-margin-top;
		margin-bottom: v.$edit-account-create-item-form-input-margin-bottom;
		outline: none;
		border: v.$form-input-text-base-border-width solid gray;
		border-radius: v.$form-input-border-radius;
		box-sizing: border-box;
		background: v.$light-gray-level-5;
		padding: 8px;
		width: 100%;
		font-size: 14px;
		text-align: center;

		&:focus {
			border: v.$form-input-text-focus-border-width solid v.$focus-blue;
			margin-top: v.$edit-account-form-input-margin-top -
				v.$form-input-text-focus-border-width-difference;
			margin-bottom: v.$edit-account-create-item-form-input-margin-bottom -
				v.$form-input-text-focus-border-width-difference;
		}
	}

	.form__errors {
		display: block;
		color: red;
		text-align: center;
	}

	.form__submit {
		margin-top: 15px;
		margin-bottom: v.$edit-account-create-item-form-input-margin-bottom;
		outline: none;
		border: 0;
		border-radius: v.$base-buttton-border-radius;
		// This background color should only appear if there was a problem
		// ...assigning a different background color to this element.
		// ...the scss for the colors assigned are in app.scss
		background-color: black;
		padding: 10px;
		width: 100%;
		color: white;
		font-size: 16px;
		cursor: pointer;
	}

	.modal-links-container {
		position: absolute;
		bottom: 30px;
		width: v.$edit-account-modal-width;
		text-align: center;
	}

	.modal-link {
		margin-left: v.$edit-account-modal-link-margin;
		margin-right: v.$edit-account-modal-link-margin;
		font-size: v.$edit-account-modal-link-font-size;
		font-style: bold;
		text-decoration: none;
		cursor: pointer;
	}

	.modal-link--no-left-margin {
		margin-left: 0;
	}

	.modal-link--no-right-margin {
		margin-right: 0;
	}

	.link-spacer {
		font-size: 20px;
	}

	.category-container {
		position: relative;
		margin: 20px 0px 10px;
	}

	.category-container--larger-top-margin {
		margin-top: 40px;
	}

	.category-container__heading {
		// Must be higher than category-container__border-container
		z-index: 1;
		position: absolute;
		top: -10px;
		left: 15px;
		margin: 0px;
		background-color: white;
		padding: 0px 8px;
		font-size: v.$base-font-size + 3;
	}

	.category-container__border-container {
		position: relative;
		border: solid black 2px;
		border-radius: 10px;
		padding: 15px 20px;
	}

	.category-container__border-container__content-container {
		margin-top: 15px;
		height: v.$account-modal-settings-content-container-height;
	}

	.category-container__border-container__content-container--smaller-top-margin {
		margin-top: 5px;
	}

	.category-container__border-container__content-container__label {
		float: left;
		height: v.$account-modal-theme-button-selected-arrow-container-height;
		font-size: v.$base-font-size;
		vertical-align: middle;
		line-height: v.$account-modal-theme-button-selected-arrow-container-height;
	}

	.category-container__border-container__content-container__theme-button {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: relative;
		float: left;
		margin-left: 10px;
		width: v.$account-modal-theme-button-width;
		cursor: pointer;
	}

	.category-container__border-container__content-container__theme-button__selected-container {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: relative;
		float: left;
		border: solid v.$account-modal-theme-button-border-color v.$account-modal-theme-button-border-width;
		border-right: none;
		background-color: v.$account-modal-theme-button-background-color;
		height: v.$account-modal-theme-button-selected-arrow-container-height;
		width: v.$account-modal-theme-button-selected-container-width;
	}

	.category-container__border-container__content-container__theme-button__option {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: relative;
		height: v.$account-modal-theme-button-option-height;
		width: v.$account-modal-theme-button-option-width;
	}

	.category-container__border-container__content-container__theme-button__option--larger {
		height: v.$account-modal-theme-button-option-height + 10;
		width: v.$account-modal-theme-button-option-larger-width;
	}

	.category-container__border-container__content-container__theme-button__option--selected {
		background-color: v.$account-modal-theme-button-option-selected-color;
	}

	.category-container__border-container__content-container__theme-button__option__centering-container {
		position: relative;
		display: inline-block;
		margin-left: 3px;
		height: 100%;
		width: 15px;
	}

	.category-container__border-container__content-container__theme-button__option__centering-container__circle {
		@include m.vertical-center();

		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		border-radius: 100px;
		// This background color should only appear if there was a problem
		// ...assigning a different background color to a the circle.
		// ...the scss for the colors assigned are in app.scss
		background-color: black;
		height: 14px;
		width: 14px;
	}

	.category-container__border-container__content-container__theme-button__option__centering-container__text {
		@include m.vertical-center();
		@include m.stop-text-selection();

		color: v.$account-modal-theme-button-option-text-color;
		font-size: 12px;
		font-weight: bold;
		
	}

	.category-container__border-container__content-container__theme-button__arrow-container {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		position: relative;
		float: left;
		border: solid v.$account-modal-theme-button-border-color v.$account-modal-theme-button-border-width;
		background-color: v.$account-modal-theme-button-arrow-container-color;
		height: v.$account-modal-theme-button-selected-arrow-container-height;
		width: v.$account-modal-theme-button-arrow-container-width;
	}

	.category-container__border-container__content-container__theme-button__arrow-container__icon {
		@include m.dead-center();
		@include m.stop-text-selection();

		color: v.$account-modal-theme-button-option-text-color;
	}

	.category-container__border-container__content-container__theme-button__options-container {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		z-index: 1;
		position: absolute;
		top: v.$account-modal-theme-button-options-container-top;
		border: solid v.$account-modal-theme-button-border-color v.$account-modal-theme-button-border-width;
		border-top: none;
		background-color: v.$account-modal-theme-button-background-color;
		width: v.$account-modal-theme-button-width;
	}
}
