@mixin stop-text-selection() {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
							supported by Chrome, Edge, Opera and Firefox */
}

@mixin dead-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin horizontal-center() {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

@mixin vertical-center() {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}

@mixin back-exit-buttons() {
	// Should be higher than all other z-index's to ensure nothing covers them
	z-index: 3;
	position: absolute;
	top: 7px;
	border: none;
	background: none;
	color: $medium-gray;
	font-size: 26px;
	cursor: pointer;
}

@mixin border-line() {
	border-bottom: 1px solid $medium-gray;
}