@mixin back-exit-buttons() {
	// Makes sure other elements don't cover over
	z-index: 3;
	position: absolute;
	top: 12px;
	border: none;
	background: none;
	color: $medium-gray;
	font-size: 22px;
	cursor: pointer;
}