//=========
// Colors
//=========
// Basic
$black: #000000;
// Blue teals
$light-blue-teal: #8ba8b3;
$blue-teal: #6691a3;
$dark-blue-teal: #50798b;
// Grays
$very-light-gray: #f5f5f5;
$light-gray: #e5e5e5;
$less-light-gray: #dddddd;
$medium-light-gray: #bfbfbf;
$medium-gray: #919191;
$dark-gray: #808080;
$darker-gray: #757575;
// Blue grays
$very-light-blue-gray: #7390af;
$light-blue-gray: #607c99;
$blue-gray: #50677f;
$dark-blue-gray: #215792;
// Navy blues
$light-navy-blue: #527294;
$navy-blue: #45607e;
// Blue for links
$blue-link: #005ed8;
// Reds
$light-red: #cf8c8c;
$bright-red: #fc1e1e;
$dark-red: #d36464;
$darker-red: #d84848;
$red-link: #f34242;
// Greens
$light-green: #ccf5cc;
// Components
$search-filter-sort-bar-color: $light-gray;
$list-table-background-color: #ffffff;
// Status colors
$status-gray: $dark-gray;
$status-blue: #568dd5;
$status-purple: #9680ce;
$status-orange: #ff9900;
$status-green: #007e00;
$status-red: #d14242;

//==========
// Heights
//==========
$navbar-height: 60px;
$edit-account-modal-height: 480px;
$search-filter-sort-bar-height: 52px;
$search-filter-sort-bar-button-height: 28px;
$list-search-bar-height: 28px;
$list-item-table-row-height: 50px;
$status-box-height: 27px;
$create-item-sidebar-height: 700px;
$top-bar-height: 52px;
$edit-item-name-input-height: 43px;
$edit-item-description-info-item-box-height: 300px;
$edit-item-project-bugs-stats-item-box-height: 320px;

//=========
// Widths
//=========
$edit-account-modal-width: 540px;
$filter-button-width: 90px;
$list-table-min-width: 1100px;
$list-table-item-name-width: 250px;
$status-box-width: 110px;
$create-item-sidebar-width: 500px;
$item-container-list-sidebar-width: 275px;
$expand-minimize-button-width: 25px;
$options-button-width: 36px;
$item-container-outer-dividing-container-min-width: 560px;
$edit-item-name-input-width: 600px;
$edit-item-name-char-counter-container-width: 50px;
$item-container-project-bugs-item-box-stats-container-width: 200px;

//=========
// Margins
//=========
$form-input-margin-bottom: 10px;
$display-item-field-margin-left: 11px;
$item-search-bar-margin-left: 10px;

//==========
// Borders
//==========
$search-filter-sort-bar-border-width: 1px;
$search-filter-sort-bar-new-item-button-border-width: 1px;
$list-search-bar-border-width: 2px;
$list-item-search-bar-group-container-border-width: 1px;
$top-bar-border-width: 1px;
$edit-item-name-input-border-width: 2px;
$item-container-list-sidebar-border-width: 2px;

//=========
// Padding
//=========
$list-search-bar-padding: 8px;
$edit-item-name-input-padding: 4px;

//======
// Text
//======
$base-font-size: 15px;
$slightly-larger-font-size: $base-font-size + 1px;
$search-filter-sort-create-item-message-font-size: 24px;
$list-container-empty-list-message-font-size: 32px;
$item-container-name-font-size: 28px;
$common-line-height: 20px;

//=========
// Opacity
//=========
$blurred-background-opacity: 0.5;

//============
// Arithmetic
//============
$list-item-search-bar-button-height: $list-search-bar-height +
	$list-search-bar-border-width * 2;
$list-item-search-bar-button-width: $list-search-bar-height +
	$list-search-bar-border-width * 2 + 10;
$item-search-bar-width: $item-container-list-sidebar-width + ($item-container-list-sidebar-border-width * 2) +
	$expand-minimize-button-width - $item-search-bar-margin-left -
	($list-item-search-bar-group-container-border-width * 2);
$edit-item-name-name-centering-container-height: $edit-item-name-input-height +
	($edit-item-name-input-border-width * 2) + ($edit-item-name-input-padding * 2);
