//=========
// Colors
//=========
// Basic
$black: #000000;
// Grays
$very-light-gray: #f3f2f1;
$light-gray: #e5e5e5;
$medium-light-gray: #bfbfbf;
$medium-gray: #919191;
$dark-gray: #757575;
// Blue grays
$light-blue-gray: #607c99;
$blue-gray: #50677f;
// Blue teals
$light-blue-teal: #8ba8b3;
$dark-blue-teal: #50798b;
// Blue for links
$blue-link: #0062e2;
// Components
$project-table-background-color: #ffffff;
$account-dropdown-button-color: $light-blue-gray;

//==========
// Heights
//==========
$navbar-height: 60px;
$search-filter-sort-bar-height:  60px;
$search-bar-height: 28px;
$project-bug-table-row-height: 50px;

//=========
// Widths
//=========
$home-min-width: 1000px;
$edit-account-modal-width:  540px;
$create-project-bug-sidebar-width: 500px;
$filter-button-width: 90px;
$options-button-width: 36px;

//=========
// Margins
//=========
$view-project-bug-modal-margin: 5px;
$form-input-margin-bottom: 10px;

//==========
// Borders
//==========
$search-bar-border-width: 1px;
$view-project-bug-modal-border-width: 5px;

//======
// Text
//======
$common-line-height: 20px;

//============
// Arithmetic
//============
$search-bar-button-height: $search-bar-height + $search-bar-border-width * 2;
$search-bar-button-width: $search-bar-height + $search-bar-border-width * 2 + 10;