//=========
// Colors
//=========
// Basic
$black: #000000;
// Grays
$very-light-gray: #f3f2f1;
$light-gray: #e5e5e5;
$medium-light-gray: #bfbfbf;
$medium-gray: #919191;
$dark-gray: #757575;
// Blue grays
$light-blue-gray: #607c99;
$blue-gray: #50677f;
// Blue teals
$light-blue-teal: #8ba8b3;
$dark-blue-teal: #50798b;

//==========
// Heights
//==========
$navbar-height: 60px;

//=========
// Widths
//=========
$edit-account-modal-width:  540px;
$create-project-bug-sidebar-width: 500px;

//===========
// Components
//===========
$view-project-bug-modal-margin: 20px;
$view-project-bug-modal-border-width: 5px;

//=======
// Forms
//=======
$form-input-margin-bottom: 10px;

//======
// Text
//======
$common-line-height: 20px;