@use "./utils/variables" as v;
@use "./utils/mixins" as m;

html,
body {
	width: 100%;
	overflow: hidden;
}

.app-component,
.js-calc-app-component {
	width: 100%;
	color: v.$mode-base-primary-text-color-light;

	// Used to to gray-out the word "none" for empty item fields
	.universal-text-grayed-out {
		@include m.stop-text-selection();

		color: v.$mode-universal-text-grayed-out-text-color-light;
		opacity: 0.7;
	}

	//=================
	// Light/Dark mode
	//=================
	// Light/Dark mode -- Base -- background and text colors
	.js-set-base-background-and-text-color-dark-mode-false {
		background-color: v.$mode-base-background-color-light;
		color: v.$mode-base-primary-text-color-light;
	}
	.js-set-base-background-and-text-color-dark-mode-true {
		background-color: v.$mode-base-background-color-dark;
		color: v.$mode-base-primary-text-color-dark;
	}

	// Light/Dark mode -- Base secondary -- text colors
	.js-set-base-secondary-text-color-dark-mode-false {
		color: v.$mode-base-secondary-text-color-light;
	}
	.js-set-base-secondary-text-color-dark-mode-true {
		color: v.$mode-base-secondary-text-color-dark;
	}

	// Light/Dark mode -- backend-errors -- text colors
	.js-set-backend-errors-text-color-dark-mode-false {
		color: v.$mode-backend-errors-text-color-light;
	}
	.js-set-backend-errors-text-color-dark-mode-true {
		color: v.$mode-backend-errors-text-color-dark;
	}

	// Light/Dark mode -- char-count limit reached -- text colors
	.js-set-char-count-limit-reached-text-color-dark-mode-false {
		color: v.$mode-char-count-limit-reached-text-color-light;
	}
	.js-set-char-count-limit-reached-text-color-dark-mode-true {
		color: v.$mode-char-count-limit-reached-text-color-dark;
	}

	// Light/Dark mode -- blurred-background -- background color and opacity
	.js-set-blurred-background-background-color-and-opacity-dark-mode-false {
		background-color: v.$mode-blurred-background-background-color-light;
		opacity: v.$mode-blurred-background-opacity-light;
	}
	.js-set-blurred-background-background-color-and-opacity-dark-mode-true {
		background-color: v.$mode-blurred-background-background-color-dark;
		opacity: v.$mode-blurred-background-opacity-dark;
	}

	// Light/Dark mode -- click-to-close-blurred-background -- background color and opacity
	.js-set-click-to-close-blurred-background-background-color-and-opacity-dark-mode-false {
		background-color: v.$mode-blurred-background-background-color-light;
		opacity: v.$mode-click-to-close-blurred-background-opacity-light;
	}
	.js-set-click-to-close-blurred-background-background-color-and-opacity-dark-mode-true {
		background-color: v.$mode-blurred-background-background-color-dark;
		opacity: v.$mode-click-to-close-blurred-background-opacity-dark;
	}

	// Light/Dark mode -- base icon-buttons -- text colors with hover
	.js-set-base-icon-button-text-color-with-hover-dark-mode-false {
		color: v.$mode-base-icon-button-text-color-light;

		&:hover,
		&:active {
			color: v.$mode-base-icon-button-hover-text-color-light;
		}
	}
	.js-set-base-icon-button-text-color-with-hover-dark-mode-true {
		color: v.$mode-base-icon-button-text-color-dark;

		&:hover,
		&:active {
			color: v.$mode-base-icon-button-hover-text-color-dark;
		}
	}

	// Light/Dark mode -- ToggleSwitch -- border, background, amd text colors
	.js-set-toggle-switch-border-background-text-colors-dark-mode-false {
		& > .toggle-switch {
			border-color: v.$mode-toggle-switch-off-border-color-light;
			background-color: v.$mode-toggle-switch-off-background-color-light;
			color: v.$mode-toggle-switch-off-text-color-light;
		}

		& > .invisible-checkbox:checked + .toggle-switch {
			border-color: v.$mode-toggle-switch-on-border-color-light;
			background-color: v.$mode-toggle-switch-on-background-color-light;
			color: v.$mode-toggle-switch-on-text-color-light;
		}

		& > .toggle-switch > .toggle-switch__circle {
			background-color: v.$mode-toggle-switch-off-circle-background-color-light;
		}

		& > .invisible-checkbox:checked + .toggle-switch > .toggle-switch__circle {
			background-color: v.$mode-toggle-switch-on-circle-background-color-light;
		}
	}
	.js-set-toggle-switch-border-background-text-colors-dark-mode-true {
		& > .toggle-switch {
			border-color: v.$mode-toggle-switch-off-border-color-dark;
			background-color: v.$mode-toggle-switch-off-background-color-dark;
			color: v.$mode-toggle-switch-off-text-color-dark;
		}

		& > .invisible-checkbox:checked + .toggle-switch {
			border-color: v.$mode-toggle-switch-on-border-color-dark;
			background-color: v.$mode-toggle-switch-on-background-color-dark;
			color: v.$mode-toggle-switch-on-text-color-dark;
		}

		& > .toggle-switch > .toggle-switch__circle {
			background-color: v.$mode-toggle-switch-off-circle-background-color-dark;
		}

		& > .invisible-checkbox:checked + .toggle-switch > .toggle-switch__circle {
			background-color: v.$mode-toggle-switch-on-circle-background-color-dark;
		}
	}

	// Light/Dark mode -- universal-text-grayed-out -- text colors
	.js-set-universal-text-grayed-out-text-color-dark-mode-false {
		color: v.$mode-universal-text-grayed-out-text-color-light;
	}
	.js-set-universal-text-grayed-out-text-color-dark-mode-true {
		color: v.$mode-universal-text-grayed-out-text-color-dark;
	}

	// Light/Dark mode -- base form-input -- border, background, and text color
	.js-set-base-form-input-border-background-text-color-dark-mode-false {
		border-color: v.$mode-base-form-input-border-color-light;
		background-color: v.$mode-base-form-input-background-color-light;
		color: v.$mode-base-primary-text-color-light;
	}
	.js-set-base-form-input-border-background-text-color-dark-mode-true {
		border-color: v.$mode-base-form-input-border-color-dark;
		background-color: v.$mode-base-form-input-background-color-dark;
		color: v.$mode-base-primary-text-color-dark;
	}

	// Light/Dark mode -- NavbarHamburger dropdown -- border, background (with hover and selected), and text colors
	.js-set-navbar-hamburger-dropdown-border-background-text-color-dark-mode-false {
		background-color: v.$mode-account-sidebar-modal-background-color-light;

		& > .hamburger-dropdown__option {
			border-color: v.$mode-navbar-hamburger-dropdown-option-border-color-light;

			&:hover,
			&:active {
				background-color: v.$mode-navbar-hamburger-dropdown-option-hover-background-color-light;
			}

			& > .hamburger-dropdown__option__icon {
				color: v.$mode-navbar-hamburger-dropdown-option-icon-text-color-light;
			}
		}

		& > .hamburger-dropdown__option--selected {
			background-color: v.$mode-navbar-hamburger-dropdown-option-selected-background-color-light;

			&:hover,
			&:active {
				background-color: v.$mode-navbar-hamburger-dropdown-option-selected-background-color-light;
			}
		}

		& > .hamburger-dropdown__option--item-name {
			color: v.$mode-navbar-hamburger-dropdown-option-name-text-color-light;
		}
	}
	.js-set-navbar-hamburger-dropdown-border-background-text-color-dark-mode-true {
		background-color: v.$mode-account-sidebar-modal-background-color-dark;

		& > .hamburger-dropdown__option {
			border-color: v.$mode-navbar-hamburger-dropdown-option-border-color-dark;

			&:hover,
			&:active {
				background-color: v.$mode-navbar-hamburger-dropdown-option-hover-background-color-dark;
			}

			& > .hamburger-dropdown__option__icon {
				color: v.$mode-navbar-hamburger-dropdown-option-icon-text-color-dark;
			}
		}

		& > .hamburger-dropdown__option--selected {
			background-color: v.$mode-navbar-hamburger-dropdown-option-selected-background-color-dark;

			&:hover,
			&:active {
				background-color: v.$mode-navbar-hamburger-dropdown-option-selected-background-color-dark;
			}
		}

		& > .hamburger-dropdown__option--item-name {
			color: v.$mode-navbar-hamburger-dropdown-option-name-text-color-dark;
		}
	}

	// Light/Dark mode -- AccountSidebar and AccountModal -- background colors
	.js-set-account-sidebar-modal-background-color-dark-mode-false {
		background-color: v.$mode-account-sidebar-modal-background-color-light;
	}
	.js-set-account-sidebar-modal-background-color-dark-mode-true {
		background-color: v.$mode-account-sidebar-modal-background-color-dark;
	}

	// Light/Dark mode -- AccountSidebar and AccountModal -- background colors
	.js-set-account-sidebar-modal-background-color-dark-mode-false {
		background-color: v.$mode-account-sidebar-modal-background-color-light;
	}
	.js-set-account-sidebar-modal-background-color-dark-mode-true {
		background-color: v.$mode-account-sidebar-modal-background-color-dark;
	}

	// Light/Dark mode -- AccountSidebar logout-button -- hover background colors
	.js-set-account-sidebar-logout-button-hover-background-color-dark-mode-false {
		&:hover,
		&:active {
			background-color: v.$mode-account-sidebar-logout-button-hover-background-color-light;
		}
	}
	.js-set-account-sidebar-logout-button-hover-background-color-dark-mode-true {
		&:hover,
		&:active {
			background-color: v.$mode-account-sidebar-logout-button-hover-background-color-dark;
		}
	}

	// Light/Dark mode -- AccountModalDeleteAccount capital-delete -- text colors
	.js-set-account-modal-delete-account-capital-delete-text-color-dark-mode-false {
		color: v.$mode-account-modal-delete-account-capital-delete-text-color-light;
	}
	.js-set-account-modal-delete-account-capital-delete-text-color-dark-mode-true {
		color: v.$mode-account-modal-delete-account-capital-delete-text-color-dark;
	}

	// Light/Dark mode -- AccountModalDeleteAccount form-input -- focus background colors
	.js-set-account-modal-delete-account-form-input-focus-border-color-dark-mode-false {
		&:focus {
			border-color: v.$mode-account-modal-delete-account-form-input-focus-border-color-light;
		}
	}
	.js-set-account-modal-delete-account-form-input-focus-border-color-dark-mode-true {
		&:focus {
			border-color: v.$mode-account-modal-delete-account-form-input-focus-border-color-dark;
		}
	}

	// Light/Dark mode -- AccountModalDeleteAccount form-submit button -- background (with hover) colors
	.js-set-account-modal-delete-account-form-submit-button-background-color-dark-mode-false {
		background-color: v.$mode-account-modal-delete-account-form-delete-button-background-color-light;

		&:hover,
		&:active,
		&:focus {
			background-color: v.$mode-account-modal-delete-account-form-delete-button-hover-background-color-light;
		}
	}
	.js-set-account-modal-delete-account-form-submit-button-background-color-dark-mode-true {
		background-color: v.$mode-account-modal-delete-account-form-delete-button-background-color-dark;

		&:hover,
		&:active,
		&:focus {
			background-color: v.$mode-account-modal-delete-account-form-delete-button-hover-background-color-dark;
		}
	}

	// Light/Dark mode -- AccountModalChangeSettings category container -- border, background, text color
	.js-set-account-modal-change-settings-category-container-border-background-text-color-dark-mode-false {
		border-color: v.$mode-account-modal-change-settings-category-container-border-color-light;

		& > .category-container__heading {
			background-color: v.$mode-base-background-color-light;
		}

		& > .category-container__content-container {
			color: v.$mode-base-secondary-text-color-light;
		}
	}
	.js-set-account-modal-change-settings-category-container-border-background-text-color-dark-mode-true {
		border-color: v.$mode-account-modal-change-settings-category-container-border-color-dark;

		& > .category-container__heading {
			background-color: v.$mode-base-background-color-dark;
		}

		& > .category-container__content-container {
			color: v.$mode-base-secondary-text-color-dark;
		}
	}

	// Light/Dark mode -- TopBar -- border and background colors
	.js-set-top-bar-border-and-background-color-dark-mode-false {
		border-color: v.$mode-top-bar-border-color-light;
		background-color: v.$mode-top-bar-background-color-light;
	}
	.js-set-top-bar-border-and-background-color-dark-mode-true {
		border-color: v.$mode-top-bar-border-color-dark;
		background-color: v.$mode-top-bar-background-color-dark;
	}

	// Light/Dark mode -- TopBar buttons -- border, background, and text color
	.js-set-top-bar-button-border-background-text-color-dark-mode-false {
		border-color: v.$mode-top-bar-button-border-color-light;
		background-color: v.$mode-top-bar-button-background-color-light;
		color: v.$mode-top-bar-button-text-color-light;
	}
	.js-set-top-bar-button-border-background-text-color-dark-mode-true {
		border-color: v.$mode-top-bar-button-border-color-dark;
		background-color: v.$mode-top-bar-button-background-color-dark;
		color: v.$mode-top-bar-button-text-color-dark;
	}

	// Light/Dark mode -- TopBar new-item-button during tutorial -- border color
	.js-set-top-bar-new-item-button-tutorial-border-color-dark-mode-false {
		border-color: v.$mode-top-bar-new-item-tutorial-border-text-color-light;
	}
	.js-set-top-bar-new-item-button-tutorial-border-color-dark-mode-true {
		border-color: v.$mode-top-bar-new-item-tutorial-border-text-color-dark;
	}

	// Light/Dark mode -- TopBar new-item-tutorial -- border, arrow, and text colors
	.js-set-top-bar-new-item-tutorial-border-background-text-color-dark-mode-false {
		& > .new-item-tutorial-container__arrow-head {
			border-bottom-color: v.$mode-top-bar-new-item-tutorial-arrow-background-color-light;
		}

		& > .new-item-tutorial-container__arrow-stock {
			background-color: v.$mode-top-bar-new-item-tutorial-arrow-background-color-light;
		}

		& > .new-item-tutorial-container__bend-message-centering-container {
			&
				> .new-item-tutorial-container__bend-message-centering-container__arrow-bend {
				background-color: v.$mode-top-bar-new-item-tutorial-arrow-background-color-light;
			}

			& > .new-item-tutorial-container__bend-message-centering-container__text {
				color: v.$mode-top-bar-new-item-tutorial-border-text-color-light;
			}
		}
	}
	.js-set-top-bar-new-item-tutorial-border-background-text-color-dark-mode-true {
		& > .new-item-tutorial-container__arrow-head {
			border-bottom-color: v.$mode-top-bar-new-item-tutorial-arrow-background-color-dark;
		}

		& > .new-item-tutorial-container__arrow-stock {
			background-color: v.$mode-top-bar-new-item-tutorial-arrow-background-color-dark;
		}

		& > .new-item-tutorial-container__bend-message-centering-container {
			&
				> .new-item-tutorial-container__bend-message-centering-container__arrow-bend {
				background-color: v.$mode-top-bar-new-item-tutorial-arrow-background-color-dark;
			}

			& > .new-item-tutorial-container__bend-message-centering-container__text {
				color: v.$mode-top-bar-new-item-tutorial-border-text-color-dark;
			}
		}
	}

	// Light/Dark mode -- CreateItemSidebar component -- background colors
	.js-set-create-item-sidebar-background-color-dark-mode-false {
		background-color: v.$mode-create-item-sidebar-background-color-light;
	}
	.js-set-create-item-sidebar-background-color-dark-mode-true {
		background-color: v.$mode-create-item-sidebar-background-color-dark;
	}

	// Light/Dark mode -- CreateItemSidebar -- disabled form-label
	.js-set-create-item-sidebar-diabled-label-dark-mode-false {
		color: v.$mode-create-item-sidebar-form-disabled-text-color-light;
		pointer-events: none;
	}
	.js-set-create-item-sidebar-diabled-label-dark-mode-true {
		color: v.$mode-create-item-sidebar-form-disabled-text-color-dark;
		pointer-events: none;
	}

	// Light/Dark mode -- CreateItemSidebar -- disabled form-input type date
	.js-set-create-item-sidebar-diabled-input-date-dark-mode-false {
		background-color: v.$mode-create-item-sidebar-form-disabled-background-color-light;
		color: v.$mode-create-item-sidebar-form-disabled-text-color-dark;
		pointer-events: none;
	}
	.js-set-create-item-sidebar-diabled-input-date-dark-mode-true {
		background-color: v.$mode-create-item-sidebar-form-disabled-background-color-dark;
		color: v.$mode-create-item-sidebar-form-disabled-text-color-dark;
		pointer-events: none;
	}

	// Light/Dark mode -- list rows -- border and text colors
	.js-set-list-row-border-and-text-color-dark-mode-false {
		border-color: v.$mode-list-row-border-color-light;
		color: v.$mode-base-secondary-text-color-light;
	}
	.js-set-list-row-border-and-text-color-dark-mode-true {
		border-color: v.$mode-list-row-border-color-dark;
		color: v.$mode-base-secondary-text-color-dark;
	}

	// Light/Dark mode -- list rows -- hover background colors
	.js-set-list-row-hover-background-color-dark-mode-false {
		// Only hover since active causes td to cover border
		&:hover {
			background-color: v.$mode-list-row-hover-background-color-light;
		}
	}
	.js-set-list-row-hover-background-color-dark-mode-true {
		// Only hover since active causes td to cover border
		&:hover {
			background-color: v.$mode-list-row-hover-background-color-dark;
		}
	}

	// Light/Dark mode -- list rows -- selected background colors
	.js-set-list-row-selected-background-color-dark-mode-false {
		background-color: v.$mode-list-row-selected-background-color-light;
	}
	.js-set-list-row-selected-background-color-dark-mode-true {
		background-color: v.$mode-list-row-selected-background-color-dark;
	}

	// Light/Dark mode -- list headers -- box shadow, background, and text colors
	.js-set-list-header-box-shadow-and-background-color-dark-mode-false {
		box-shadow: v.$mode-list-header-box-shadow-light;
		background-color: v.$mode-list-header-background-color-light;
	}
	.js-set-list-header-box-shadow-and-background-color-dark-mode-true {
		box-shadow: v.$mode-list-header-box-shadow-dark;
		background-color: v.$mode-list-header-background-color-dark;
	}

	// Light/Dark mode -- DeleteModal component -- background color
	.js-set-delete-modal-background-color-dark-mode-false {
		background-color: v.$mode-delete-modal-background-color-light;
	}
	.js-set-delete-modal-background-color-dark-mode-true {
		background-color: v.$mode-delete-modal-background-color-dark;
	}

	// Light/Dark mode -- DeleteModal delete-button -- background (with hover) color
	.js-set-delete-modal-delete-button-background-color-dark-mode-false {
		background-color: v.$mode-delete-modal-delete-button-background-color-light;

		&:hover,
		&:active {
			background-color: v.$mode-delete-modal-delete-button-hover-background-color-light;
		}
	}
	.js-set-delete-modal-delete-button-background-color-dark-mode-true {
		background-color: v.$mode-delete-modal-delete-button-background-color-dark;

		&:hover,
		&:active {
			background-color: v.$mode-delete-modal-delete-button-hover-background-color-dark;
		}
	}

	// Light/Dark mode -- DeleteModal cancel-button -- border, background (with hover), text color
	.js-set-delete-modal-cancel-button-border-background-text-color-dark-mode-false {
		border-color: v.$mode-delete-modal-cancel-button-border-text-color-light;
		background-color: v.$mode-delete-modal-cancel-button-background-color-light;
		color: v.$mode-delete-modal-cancel-button-border-text-color-light;

		&:hover,
		&:active {
			background-color: v.$mode-delete-modal-cancel-button-hover-background-color-light;
		}
	}
	.js-set-delete-modal-cancel-button-border-background-text-color-dark-mode-true {
		border-color: v.$mode-delete-modal-cancel-button-border-text-color-dark;
		background-color: v.$mode-delete-modal-cancel-button-background-color-dark;
		color: v.$mode-delete-modal-cancel-button-border-text-color-dark;

		&:hover,
		&:active {
			background-color: v.$mode-delete-modal-cancel-button-hover-background-color-dark;
		}
	}

	// Light/Dark mode -- DeleteModal warning-trapazoid -- border color
	.js-set-delete-modal-trapazoid-border-color-dark-mode-false {
		border-top-color: v.$mode-delete-modal-trapazoid-border-color-light;
	}
	.js-set-delete-modal-trapazoid-border-color-dark-mode-true {
		border-top-color: v.$mode-delete-modal-trapazoid-border-color-dark;
	}

	// Light/Dark mode -- ItemViewTopBar icon-buttons -- text colors with hover
	.js-set-item-view-top-bar-icon-button-text-color-with-hover-dark-mode-false {
		color: v.$mode-item-view-top-bar-icon-button-text-color-light;

		&:hover,
		&:active {
			color: v.$mode-item-view-top-bar-icon-button-hover-text-color-light;
		}
	}
	.js-set-item-view-top-bar-icon-button-text-color-with-hover-dark-mode-true {
		color: v.$mode-item-view-top-bar-icon-button-text-color-dark;

		&:hover,
		&:active {
			color: v.$mode-item-view-top-bar-icon-button-hover-text-color-dark;
		}
	}

	// Light/Dark mode -- temViewTopBar options-button -- border, background, and text colors
	.js-set-item-view-top-bar-options-button-clicked-border-background-text-color-dark-mode-false {
		border-color: v.$mode-top-bar-button-border-color-light;
		background-color: v.$mode-top-bar-button-background-color-light;
		// Same as hover text color for more distinct icon-buttons
		color: v.$mode-item-view-top-bar-icon-button-hover-text-color-light;
	}
	.js-set-item-view-top-bar-options-button-clicked-border-background-text-color-dark-mode-true {
		border-color: v.$mode-top-bar-button-border-color-dark;
		background-color: v.$mode-top-bar-button-background-color-dark;
		// Same as hover text color for more distinct icon-buttons
		color: v.$mode-item-view-top-bar-icon-button-hover-text-color-dark;
	}

	// Light/Dark mode -- ItemViewTopBar options-dropdown-row -- hover background color
	.js-set-item-view-top-bar-options-dropdown-row-hover-background-color-dark-mode-false {
		&:hover,
		&:active {
			background-color: v.$mode-item-view-top-bar-options-dropdown-row-hover-background-color-light;
		}
	}
	.js-set-item-view-top-bar-options-dropdown-row-hover-background-color-dark-mode-true {
		&:hover,
		&:active {
			background-color: v.$mode-item-view-top-bar-options-dropdown-row-hover-background-color-dark;
		}
	}

	// Light/Dark mode -- ItemView item-box -- background colors
	.js-set-item-view-item-box-background-color-dark-mode-false {
		background-color: v.$mode-item-view-item-box-background-color-light;
	}
	.js-set-item-view-item-box-background-color-dark-mode-true {
		background-color: v.$mode-item-view-item-box-background-color-dark;
	}

	// Light/Dark mode -- ItemViewListSidebar -- border colors
	.js-set-item-view-list-sidebar-border-color-mode-false {
		border-color: v.$mode-item-view-list-sidebar-border-color-light;
	}
	.js-set-item-view-list-sidebar-border-color-mode-true {
		border-color: v.$mode-item-view-list-sidebar-border-color-dark;
	}

	// Light/Dark mode -- ItemViewListSidebar expand-minimize-button -- border, background (with hover), and text colors
	.js-set-item-view-list-sidebar-expand-minimize-button-border-and-background-color-mode-false {
		border-color: v.$mode-item-view-list-sidebar-expand-minimize-button-border-color-light;
		background-color: v.$mode-item-view-list-sidebar-expand-minimize-button-background-color-light;

		&:hover,
		&:active {
			background-color: v.$mode-item-view-list-sidebar-expand-minimize-button-hover-background-color-light;
		}
	}
	.js-set-item-view-list-sidebar-expand-minimize-button-border-and-background-color-mode-true {
		border-color: v.$mode-item-view-list-sidebar-expand-minimize-button-border-color-dark;
		background-color: v.$mode-item-view-list-sidebar-expand-minimize-button-background-color-dark;

		&:hover,
		&:active {
			background-color: v.$mode-item-view-list-sidebar-expand-minimize-button-hover-background-color-dark;
		}
	}

	// Light/Dark mode -- ItemView form-input -- border, background, and text color
	.js-set-item-view-form-input-border-background-text-color-mode-false {
		border-color: v.$mode-item-view-form-input-border-color-light;
		background-color: v.$mode-item-view-form-input-background-color-light;
		color: v.$mode-base-primary-text-color-light;
	}
	.js-set-item-view-form-input-border-background-text-color-dark-mode-true {
		border-color: v.$mode-item-view-form-input-border-color-dark;
		background-color: v.$mode-item-view-form-input-background-color-dark;
		color: v.$mode-base-primary-text-color-dark;
	}

	// Light/Dark mode -- ItemViewEditItemInfo -- disabled form-label
	.js-set-item-view-diabled-label-dark-mode-false {
		color: v.$mode-item-view-form-disabled-text-color-light;
		pointer-events: none;
	}
	.js-set-item-view-diabled-label-dark-mode-true {
		color: v.$mode-item-view-form-disabled-text-color-dark;
		pointer-events: none;
	}

	// Light/Dark mode -- ItemViewEditItemInfo -- disabled form-input type date
	.js-set-item-view-diabled-input-date-dark-mode-false {
		background-color: v.$mode-item-view-form-disabled-background-color-light;
		color: v.$mode-item-view-form-disabled-text-color-dark;
		pointer-events: none;
	}
	.js-set-item-view-diabled-input-date-dark-mode-true {
		background-color: v.$mode-item-view-form-disabled-background-color-dark;
		color: v.$mode-item-view-form-disabled-text-color-dark;
		pointer-events: none;
	}

	// Light/Dark -- ItemView form cancel button -- mode background color (with hover)
	.js-set-item-view-form-cancel-button-button-background-color-mode-false {
		background-color: v.$mode-item-view-form-cancel-button-background-color-light;

		&:hover,
		&:active {
			background-color: v.$mode-item-view-form-cancel-button-hover-background-color-light;
		}
	}
	.js-set-item-view-form-cancel-button-button-background-color-mode-true {
		background-color: v.$mode-item-view-form-cancel-button-background-color-dark;

		&:hover,
		&:active {
			background-color: v.$mode-item-view-form-cancel-button-hover-background-color-dark;
		}
	}

	// Light/Dark mode -- ItemViewCommentBoxIndividualComment icon-button -- text color (with hover)
	.js-set-item-view-comment-box-individual-comment-icon-button-text-color-mode-false {
		color: v.$mode-item-view-comment-box-individual-comment-icon-button-text-color-light;

		&:hover,
		&:active {
			color: v.$mode-item-view-comment-box-individual-comment-icon-button-hover-text-color-light;
		}
	}
	.js-set-item-view-comment-box-individual-comment-icon-button-text-color-mode-true {
		color: v.$mode-item-view-comment-box-individual-comment-icon-button-text-color-dark;

		&:hover,
		&:active {
			color: v.$mode-item-view-comment-box-individual-comment-icon-button-hover-text-color-dark;
		}
	}

	//========
	// Themes
	//========
	// Theme -- border colors
	.js-set-brighter-border-color-theme-blue-turkish {
		border-color: v.$theme-brighter-border-background-color-blue-turkish;
	}
	.js-set-base-border-color-theme-blue-turkish {
		border-color: v.$theme-base-border-background-color-blue-turkish;
	}
	.js-set-brighter-border-color-theme-blue-queen {
		border-color: v.$theme-brighter-border-background-color-blue-queen;
	}
	.js-set-base-border-color-theme-blue-queen {
		border-color: v.$theme-base-border-background-color-blue-queen;
	}

	// Theme -- background colors
	.js-set-brighter-background-color-theme-blue-turkish {
		background-color: v.$theme-brighter-border-background-color-blue-turkish;
	}
	.js-set-base-background-color-theme-blue-turkish {
		background-color: v.$theme-base-border-background-color-blue-turkish;
	}
	.js-set-brighter-background-color-theme-blue-queen {
		background-color: v.$theme-brighter-border-background-color-blue-queen;
	}
	.js-set-base-background-color-theme-blue-queen {
		background-color: v.$theme-base-border-background-color-blue-queen;
	}

	// Theme -- background (with hover) colors
	.js-set-background-color-with-hover-theme-blue-turkish {
		background-color: v.$theme-brighter-border-background-color-blue-turkish;

		&:hover,
		&:active {
			background-color: v.$theme-base-border-background-color-blue-turkish;
		}
	}
	.js-set-background-color-with-hover-theme-blue-queen {
		background-color: v.$theme-brighter-border-background-color-blue-queen;

		&:hover,
		&:active {
			background-color: v.$theme-base-border-background-color-blue-queen;
		}
	}

	// Theme -- breadcrumb arrow -- border colors
	.js-set-brighter-breadcrumb-arrow-color-theme-blue-turkish {
		border-left-color: v.$theme-brighter-border-background-color-blue-turkish;
	}
	.js-set-base-breadcrumb-arrow-color-theme-blue-turkish {
		border-left-color: v.$theme-base-border-background-color-blue-turkish;
	}
	.js-set-brighter-breadcrumb-arrow-color-theme-blue-queen {
		border-left-color: v.$theme-brighter-border-background-color-blue-queen;
	}
	.js-set-base-breadcrumb-arrow-color-theme-blue-queen {
		border-left-color: v.$theme-base-border-background-color-blue-queen;
	}

	// Theme -- form-submit button -- background (with hover/focus) colors
	.js-set-form-submit-button-color-theme-blue-turkish {
		background-color: v.$theme-brighter-border-background-color-blue-turkish;

		&:hover,
		&:active,
		&:focus {
			background-color: v.$theme-base-border-background-color-blue-turkish;
		}
	}
	.js-set-form-submit-button-color-theme-blue-queen {
		background-color: v.$theme-brighter-border-background-color-blue-queen;

		&:hover,
		&:active,
		&:focus {
			background-color: v.$theme-base-border-background-color-blue-queen;
		}
	}

	//==========================
	// Themes + Light/Dark mode
	//==========================
	// Theme + Light/Dark mode -- focus border color
	.js-set-focus-border-color-mode-light-theme-blue-turkish {
		&:focus {
			border-color: v.$theme-mode-blue-turkish-focus-border-color-light;
		}
	}
	.js-set-focus-border-color-mode-dark-theme-blue-turkish {
		&:focus {
			border-color: v.$theme-mode-blue-turkish-focus-border-color-dark;
		}
	}
	.js-set-focus-border-color-mode-light-theme-blue-queen {
		&:focus {
			border-color: v.$theme-mode-blue-queen-focus-border-color-light;
		}
	}
	.js-set-focus-border-color-mode-dark-theme-blue-queen {
		&:focus {
			border-color: v.$theme-mode-blue-queen-focus-border-color-dark;
		}
	}

	// Theme + Light/Dark mode --  text color
	.js-set-text-color-mode-light-theme-blue-turkish {
		color: v.$theme-mode-blue-turkish-text-color-light;
	}
	.js-set-text-color-mode-dark-theme-blue-turkish {
		color: v.$theme-mode-blue-turkish-text-color-dark;
	}
	.js-set-text-color-mode-light-theme-blue-queen {
		color: v.$theme-mode-blue-queen-text-color-light;
	}
	.js-set-text-color-mode-dark-theme-blue-queen {
		color: v.$theme-mode-blue-queen-text-color-dark;
	}

	// Theme + Light/Dark mode -- CustomCheckbox -- border, background, text colors
	.js-set-custom-checkbox-border-background-text-color-mode-light-theme-blue-turkish {
		border-color: v.$mode-custom-checkbox-border-color-light;
		background-color: v.$mode-custom-checkbox-background-color-light;

		&:hover {
			border-color: v.$theme-mode-blue-turkish-text-color-light;
		}

		// For checkmark
		& + i {
			color: v.$mode-custom-checkmark-text-color-light;
		}

		// For checkmark
		&:hover + i {
			color: v.$theme-mode-blue-turkish-text-color-light;
		}
	}
	.js-set-custom-checkbox-border-background-text-color-mode-dark-theme-blue-turkish {
		border-color: v.$mode-custom-checkbox-border-color-dark;
		background-color: v.$mode-custom-checkbox-background-color-dark;

		&:hover {
			border-color: v.$theme-mode-blue-turkish-text-color-dark;
		}

		// For checkmark
		& + i {
			color: v.$mode-custom-checkmark-text-color-dark;
		}

		// For checkmark
		&:hover + i {
			color: v.$theme-mode-blue-turkish-text-color-dark;
		}
	}
	.js-set-custom-checkbox-border-background-text-color-mode-light-theme-blue-queen {
		border-color: v.$mode-custom-checkbox-border-color-light;
		background-color: v.$mode-custom-checkbox-background-color-light;

		&:hover {
			border-color: v.$theme-mode-blue-queen-text-color-light;
		}

		// For checkmark
		& + i {
			color: v.$mode-custom-checkmark-text-color-light;
		}

		// For checkmark
		&:hover + i {
			color: v.$theme-mode-blue-queen-text-color-light;
		}
	}
	.js-set-custom-checkbox-border-background-text-color-mode-dark-theme-blue-queen {
		border-color: v.$mode-custom-checkbox-border-color-dark;
		background-color: v.$mode-custom-checkbox-background-color-dark;

		&:hover {
			border-color: v.$theme-mode-blue-queen-text-color-dark;
		}

		// For checkmark
		& + i {
			color: v.$mode-custom-checkmark-text-color-dark;
		}

		// For checkmark
		&:hover + i {
			color: v.$theme-mode-blue-queen-text-color-dark;
		}
	}

	// Theme + Light/Dark mode -- TopBar search-bar -- border, background, and text colors
	.js-set-top-bar-search-bar-border-background-text-color-mode-light-theme-blue-turkish {
		& > input {
			border-color: v.$theme-brighter-border-background-color-blue-turkish;
			background-color: v.$mode-top-bar-search-bar-background-color-light;
			color: v.$mode-top-bar-search-bar-text-color-light;
		}

		& > div {
			border-color: v.$theme-brighter-border-background-color-blue-turkish;
			background-color: v.$theme-brighter-border-background-color-blue-turkish;
		}
	}
	.js-set-top-bar-search-bar-border-background-text-color-mode-dark-theme-blue-turkish {
		& > input {
			border-color: v.$theme-brighter-border-background-color-blue-turkish;
			background-color: v.$mode-top-bar-search-bar-background-color-dark;
			color: v.$mode-top-bar-search-bar-text-color-dark;
		}

		& > div {
			border-color: v.$theme-brighter-border-background-color-blue-turkish;
			background-color: v.$theme-brighter-border-background-color-blue-turkish;
		}
	}
	.js-set-top-bar-search-bar-border-background-text-color-mode-light-theme-blue-queen {
		& > input {
			border-color: v.$theme-brighter-border-background-color-blue-queen;
			background-color: v.$mode-top-bar-search-bar-background-color-light;
			color: v.$mode-top-bar-search-bar-text-color-light;
		}

		& > div {
			border-color: v.$theme-brighter-border-background-color-blue-queen;
			background-color: v.$theme-brighter-border-background-color-blue-queen;
		}
	}
	.js-set-top-bar-search-bar-border-background-text-color-mode-dark-theme-blue-queen {
		& > input {
			border-color: v.$theme-brighter-border-background-color-blue-queen;
			background-color: v.$mode-top-bar-search-bar-background-color-dark;
			color: v.$mode-top-bar-search-bar-text-color-dark;
		}

		& > div {
			border-color: v.$theme-brighter-border-background-color-blue-queen;
			background-color: v.$theme-brighter-border-background-color-blue-queen;
		}
	}

	// Theme + Light/Dark mode -- ItemViewEditItemInfo form-input for name -- focus border color
	.js-set-item-view-edit-item-info-form-name-input-focus-border-color-mode-light-theme-blue-turkish {
		&:focus {
			border-color: v.$theme-mode-blue-turkish-focus-border-color-light;
		}

		&:focus + .name-centering-container__char-count-centering-container {
			border-color: v.$theme-mode-blue-turkish-focus-border-color-light;
		}
	}
	.js-set-item-view-edit-item-info-form-name-input-focus-border-color-mode-dark-theme-blue-turkish {
		&:focus {
			border-color: v.$theme-mode-blue-turkish-focus-border-color-dark;
		}

		&:focus + .name-centering-container__char-count-centering-container {
			border-color: v.$theme-mode-blue-turkish-focus-border-color-dark;
		}
	}
	.js-set-item-view-edit-item-info-form-name-input-focus-border-color-mode-light-theme-blue-queen {
		&:focus {
			border-color: v.$theme-mode-blue-queen-focus-border-color-light;
		}

		&:focus + .name-centering-container__char-count-centering-container {
			border-color: v.$theme-mode-blue-queen-focus-border-color-light;
		}
	}
	.js-set-item-view-edit-item-info-form-name-input-focus-border-color-mode-dark-theme-blue-queen {
		&:focus {
			border-color: v.$theme-mode-blue-queen-focus-border-color-dark;
		}

		&:focus + .name-centering-container__char-count-centering-container {
			border-color: v.$theme-mode-blue-queen-focus-border-color-dark;
		}
	}

	// Status boxes
	// Used for changing the background color of status-boxes
	// ...also used to store colors in redux for bug-pie-chart
	.js-set-status-box-background-color-gray,
	.js-calc-status-box-background-color-gray {
		background-color: v.$status-gray;
	}
	.js-set-status-box-background-color-blue,
	.js-calc-status-box-background-color-blue {
		background-color: v.$status-blue;
	}
	.js-set-status-box-background-color-purple,
	.js-calc-status-box-background-color-purple {
		background-color: v.$status-purple;
	}
	.js-set-status-box-background-color-orange,
	.js-calc-status-box-background-color-orange {
		background-color: v.$status-orange;
	}
	.js-set-status-box-background-color-green,
	.js-calc-status-box-background-color-green {
		background-color: v.$status-green;
	}
	.js-set-status-box-background-color-red,
	.js-calc-status-box-background-color-red {
		background-color: v.$status-red;
	}

	// Used to change text color in status combo-boxes
	.js-set-status-box-text-color-gray {
		color: v.$status-gray;
	}
	.js-set-status-box-text-color-blue {
		color: v.$status-blue;
	}
	.js-set-status-box-text-color-purple {
		color: v.$status-purple;
	}
	.js-set-status-box-text-color-orange {
		color: v.$status-orange;
	}
	.js-set-status-box-text-color-green {
		color: v.$status-green;
	}
	.js-set-status-box-text-color-red {
		color: v.$status-red;
	}
}
