@use "./utils/variables" as v;
@use "./utils/mixins" as m;

/* html,
body, */
html,
body,
.app-component,
.js-calc-app-component {
	width: 100%;
	overflow: hidden;
	color: v.$mode-home-text-color-light;

	//===========================
	// Universal class selectors
	//===========================
	// Used to turn character counters red when limit is gone over
	.universal-text-red {
		color: red;
	}

	// Used to to gray-out the word "none" for empty item fields
	.universal-text-grayed-out {
		@include m.stop-text-selection();

		color: v.$mode-universal-text-grayed-out-text-color-light;
		opacity: 0.7;
	}

	//======================================
	// Class selectors used by JS functions
	//======================================
	// Light/Dark mode background and text colors for Home component
	.js-set-home-background-and-text-color-dark-mode-false {
		background-color: v.$mode-home-background-color-light;
		color: v.$mode-home-text-color-light;
	}
	.js-set-home-background-and-text-color-dark-mode-true {
		background-color: v.$mode-home-background-color-dark;
		color: v.$mode-home-text-color-dark;
	}

	// Light/Dark mode border and background colors for CustomCheckbox
	.js-set-custom-checkbox-border-and-background-color-dark-mode-false {
		border: 1px solid v.$mode-custom-checkbox-border-color-light;
		background-color: v.$mode-custom-checkbox-background-color-light;

		&:hover {
			border: 1px solid v.$mode-custom-checkbox-hover-border-color-light;
		}

		// For checkmark
		& + i {
			color: v.$mode-custom-checkmark-text-color-light;
		}

		// For checkmark
		&:hover + i {
			color: v.$mode-custom-checkmark-hover-text-color-light;
		}
	}
	.js-set-custom-checkbox-border-and-background-color-dark-mode-true {
		border: 1px solid v.$mode-custom-checkbox-border-color-dark;
		background-color: v.$mode-custom-checkbox-background-color-dark;

		&:hover {
			border: 1px solid v.$mode-custom-checkbox-hover-border-color-dark;
		}

		// For checkmark
		& + i {
			color: v.$mode-custom-checkmark-text-color-dark;
		}

		// For checkmark
		&:hover + i {
			color: v.$mode-custom-checkmark-hover-text-color-dark;
		}
	}

	// Light/Dark mode text colors for universal-text-grayed-out
	.js-set-universal-text-grayed-out-text-color-dark-mode-false {
		color: v.$mode-universal-text-grayed-out-text-color-light;
	}
	.js-set-universal-text-grayed-out-text-color-dark-mode-true {
		color: v.$mode-universal-text-grayed-out-text-color-dark;
	}

	// Light/Dark mode border and background colors for TopBar
	.js-set-top-bar-border-and-background-color-dark-mode-false {
		border-color: v.$mode-top-bar-border-color-light;
		background-color: v.$mode-top-bar-background-color-light;
	}
	.js-set-top-bar-border-and-background-color-dark-mode-true {
		border-color: v.$mode-top-bar-border-color-dark;
		background-color: v.$mode-top-bar-background-color-dark;
	}

	// Light/Dark mode border, background, and text color for TopBar buttons
	.js-set-top-bar-button-border-background-text-color-dark-mode-false {
		border-color: v.$mode-top-bar-button-border-color-light;
		background-color: v.$mode-top-bar-button-background-color-light;
		color: v.$mode-top-bar-button-text-color-light;
	}
	.js-set-top-bar-button-border-background-text-color-dark-mode-true {
		border-color: v.$mode-top-bar-button-border-color-dark;
		background-color: v.$mode-top-bar-button-background-color-dark;
		color: v.$mode-top-bar-button-text-color-dark;
	}

	// Light/Dark mode background and text colors for TopBar search-bar
	.js-set-top-bar-search-bar-background-text-color-dark-mode-false {
		background-color: v.$mode-top-bar-search-bar-background-color-light;
		color: v.$mode-top-bar-search-bar-text-color-light;
	}
	.js-set-top-bar-search-bar-background-text-color-dark-mode-true {
		background-color: v.$mode-top-bar-search-bar-background-color-dark;
		color: v.$mode-top-bar-search-bar-text-color-dark;
	}

	// Light/Dark mode text colors with hover for base icon-buttons
	.js-set-base-icon-button-text-color-with-hover-dark-mode-false {
		color: v.$mode-base-icon-button-text-color-light;

		&:hover,
		:active {
			color: v.$mode-base-icon-button-hover-text-color-light;
		}
	}
	.js-set-base-icon-button-text-color-with-hover-dark-mode-true {
		color: v.$mode-base-icon-button-text-color-dark;

		&:hover,
		:active {
			color: v.$mode-base-icon-button-hover-text-color-dark;
		}
	}

	// Light/Dark mode text colors with hover for more distinct icon-buttons
	.js-set-more-distinct-icon-button-text-color-with-hover-dark-mode-false {
		color: v.$mode-more-distinct-icon-button-text-color-light;

		&:hover,
		:active {
			color: v.$mode-more-distinct-icon-button-hover-text-color-light;
		}
	}
	.js-set-more-distinct-icon-button-text-color-with-hover-dark-mode-true {
		color: v.$mode-more-distinct-icon-button-text-color-dark;

		&:hover,
		:active {
			color: v.$mode-more-distinct-icon-button-hover-text-color-dark;
		}
	}

	// Light/Dark mode background colors for CreateItemSidebar component
	.js-set-create-item-sidebar-background-color-dark-mode-false {
		background-color: v.$mode-create-item-sidebar-background-color-light;
	}
	.js-set-create-item-sidebar-background-color-dark-mode-true {
		background-color: v.$mode-create-item-sidebar-background-color-dark;
	}

	// Light/Dark mode border, background, and text color for for CreateItemSidebar base form-input
	.js-set-create-item-sidebar-form-input-border-background-text-border-text-color-focus-box-shadow-dark-mode-false {
		border-color: v.$mode-create-item-form-input-border-color-light;
		background-color: v.$mode-create-item-form-input-background-color-light;
		color: v.$mode-home-text-color-light;

		&:focus {
			box-shadow: v.$mode-create-item-form-input-focus-box-shadow-color-light;
			-moz-box-shadow: v.$mode-create-item-form-input-focus-box-shadow-color-light;
			-webkit-box-shadow: v.$mode-create-item-form-input-focus-box-shadow-color-light;
		}
	}
	.js-set-create-item-sidebar-form-input-border-background-text-border-text-color-focus-box-shadow-dark-mode-true {
		border-color: v.$mode-create-item-form-input-border-color-dark;
		background-color: v.$mode-create-item-form-input-background-color-dark;
		color: v.$mode-home-text-color-dark;

		&:focus {
			box-shadow: v.$mode-create-item-form-input-focus-box-shadow-color-dark;
			-moz-box-shadow: v.$mode-create-item-form-input-focus-box-shadow-color-dark;
			-webkit-box-shadow: v.$mode-create-item-form-input-focus-box-shadow-color-dark;
		}
	}

	// Light/Dark mode CreateItemSidebar disabled base label 
	.js-set-create-item-sidebar-diabled-label-dark-mode-false {
		color: v.$mode-create-item-form-input-disabled-text-color-light;
		pointer-events: none;
	}
	.js-set-create-item-sidebar-diabled-label-dark-mode-true {
		color: v.$mode-create-item-form-input-disabled-text-color-dark;
		pointer-events: none;
	}

	// Light/Dark mode CreateItemSidebar disabled base input date
	.js-set-create-item-sidebar-diabled-input-date-dark-mode-false {
		background-color: v.$mode-create-item-form-input-disabled-background-color-light;
		color: v.$mode-create-item-form-input-disabled-text-color-dark;
		pointer-events: none;
	}
	.js-set-create-item-sidebar-diabled-input-date-dark-mode-true {
		background-color: v.$mode-create-item-form-input-disabled-background-color-dark;
		color: v.$mode-create-item-form-input-disabled-text-color-dark;
		pointer-events: none;
	}

	// Light/Dark mode focus box shadow for CreateItemSidebar submit button
	.js-set-create-item-sidebar-submit-button-focus-box-shadow-dark-mode-false {
		&:focus {
			box-shadow: v.$mode-create-item-form-submit-button-focus-box-shadow-color-light;
			-moz-box-shadow: v.$mode-create-item-form-submit-button-focus-box-shadow-color-light;
			-webkit-box-shadow: v.$mode-create-item-form-submit-button-focus-box-shadow-color-light;
		}
	}
	.js-set-create-item-sidebar-submit-button-focus-box-shadow-dark-mode-true {
		&:focus {
			box-shadow: v.$mode-create-item-form-submit-button-focus-box-shadow-color-dark;
			-moz-box-shadow: v.$mode-create-item-form-submit-button-focus-box-shadow-color-dark;
			-webkit-box-shadow: v.$mode-create-item-form-submit-button-focus-box-shadow-color-dark;
		}
	}

	// Light/Dark mode border colors for list rows
	.js-set-list-row-border-color-dark-mode-false {
		border-color: v.$mode-list-row-border-color-light;
	}
	.js-set-list-row-border-color-dark-mode-true {
		border-color: v.$mode-list-row-border-color-dark;
	}

	// Light/Dark mode hover background colors for list rows
	.js-set-list-row-hover-background-color-dark-mode-false {
		&:hover,
		:active {
			background-color: v.$mode-list-row-hover-background-color-light;
		}
	}
	.js-set-list-row-hover-background-color-dark-mode-true {
		&:hover,
		:active {
			background-color: v.$mode-list-row-hover-background-color-dark;
		}
	}

	// Light/Dark mode selected background colors for list rows
	.js-set-list-row-selected-background-color-dark-mode-false {
		background-color: v.$mode-list-row-selected-background-color-light;
	}
	.js-set-list-row-selected-background-color-dark-mode-true {
		background-color: v.$mode-list-row-selected-background-color-dark;
	}

	// Light/Dark mode box shadow, background, and text color for list headers
	.js-set-list-header-box-shadow-and-background-color-dark-mode-false {
		box-shadow: v.$mode-list-header-box-shadow-light;
		background-color: v.$mode-list-header-background-color-light;
	}
	.js-set-list-header-box-shadow-and-background-color-dark-mode-true {
		box-shadow: v.$mode-list-header-box-shadow-dark;
		background-color: v.$mode-list-header-background-color-dark;
	}

	// Light/Dark mode border, background, and text color for ItemViewTopBar options-button
	.js-set-item-view-top-bar-options-button-clicked-border-background-text-color-dark-mode-false {
		border-color: v.$mode-top-bar-button-border-color-light;
		background-color: v.$mode-top-bar-button-background-color-light;
		// Same as hover text color for more distinct icon-buttons
		color: v.$mode-more-distinct-icon-button-hover-text-color-light;
	}
	.js-set-item-view-top-bar-options-button-clicked-border-background-text-color-dark-mode-true {
		border-color: v.$mode-top-bar-button-border-color-dark;
		background-color: v.$mode-top-bar-button-background-color-dark;
		// Same as hover text color for more distinct icon-buttons
		color: v.$mode-more-distinct-icon-button-hover-text-color-dark;
	}

	// Light/Dark mode hover background color for ItemViewTopBar options-dropdown-row
	.js-set-item-view-top-bar-options-dropdown-row-hover-background-color-dark-mode-false {
		&:hover,
		:active {
			background-color: v.$mode-item-view-top-bar-options-dropdown-row-hover-background-color-light;
		}
	}
	.js-set-item-view-top-bar-options-dropdown-row-hover-background-color-dark-mode-true {
		&:hover,
		:active {
			background-color: v.$mode-item-view-top-bar-options-dropdown-row-hover-background-color-dark;
		}
	}

	// Light/Dark mode background colors for ItemView item-box
	.js-set-item-view-item-box-background-color-dark-mode-false {
		background-color: v.$mode-item-view-item-box-background-color-light;
	}
	.js-set-item-view-item-box-background-color-dark-mode-true {
		background-color: v.$mode-item-view-item-box-background-color-dark;
	}

	// Light/Dark mode border color for ItemViewListSidebar
	.js-set-item-view-list-sidebar-border-color-mode-false {
		border-color: v.$mode-item-view-list-sidebar-border-color-light;
	}
	.js-set-item-view-list-sidebar-border-color-mode-true {
		border-color: v.$mode-item-view-list-sidebar-border-color-dark;
	}

	// Light/Dark mode border, background (with hover), and text color for ItemViewListSidebar expand-minimize-button
	.js-set-item-view-list-sidebar-expand-minimize-button-border-and-background-color-mode-false {
		border-color: v.$mode-item-view-list-sidebar-expand-minimize-button-border-color-light;
		background-color: v.$mode-item-view-list-sidebar-expand-minimize-button-background-color-light;

		&:hover,
		:active {
			background-color: v.$mode-item-view-list-sidebar-expand-minimize-button-hover-background-color-light;
		}
	}
	.js-set-item-view-list-sidebar-expand-minimize-button-border-and-background-color-mode-true {
		border-color: v.$mode-item-view-list-sidebar-expand-minimize-button-border-color-dark;
		background-color: v.$mode-item-view-list-sidebar-expand-minimize-button-background-color-dark;

		&:hover,
		:active {
			background-color: v.$mode-item-view-list-sidebar-expand-minimize-button-hover-background-color-dark;
		}
	}


	// Theme background colors
	.js-set-dark-background-color-theme-teal {
		background-color: v.$theme-teal-background-color-dark;
	}
	.js-set-light-background-color-theme-teal {
		background-color: v.$theme-teal-background-color-light;
	}
	.js-set-dark-background-color-theme-blue {
		background-color: v.$theme-blue-background-color-dark;
	}
	.js-set-light-background-color-theme-blue {
		background-color: v.$theme-blue-background-color-light;
	}

	// Theme background colors with hover
	.js-set-background-color-with-hover-theme-teal {
		background-color: v.$theme-teal-background-color-light;

		&:hover,
		:active {
			background-color: v.$theme-teal-background-color-dark;
		}
	}
	.js-set-background-color-with-hover-theme-blue {
		background-color: v.$theme-blue-background-color-light;

		&:hover,
		:active {
			background-color: v.$theme-blue-background-color-dark;
		}
	}

	// Theme breadcrumb arrow colors
	.js-set-dark-breadcrumb-arrow-color-theme-teal {
		border-left-color: v.$theme-teal-background-color-dark;
	}
	.js-set-light-breadcrumb-arrow-color-theme-teal {
		border-left-color: v.$theme-teal-background-color-light;
	}
	.js-set-dark-breadcrumb-arrow-color-theme-blue {
		border-left-color: v.$theme-blue-background-color-dark;
	}
	.js-set-light-breadcrumb-arrow-color-theme-blue {
		border-left-color: v.$theme-blue-background-color-light;
	}

	// Theme border colors
	.js-set-dark-border-color-theme-teal {
		border-color: v.$theme-teal-background-color-dark;
	}
	.js-set-light-border-color-theme-teal {
		border-color: v.$theme-teal-background-color-light;
	}
	.js-set-dark-border-color-theme-blue {
		border-color: v.$theme-blue-background-color-dark;
	}
	.js-set-light-border-color-theme-blue {
		border-color: v.$theme-blue-background-color-light;
	}

	// Theme text and link color
	.js-set-text-color-theme-teal {
		color: v.$theme-teal-text-color;
	}
	.js-set-text-color-theme-blue {
		color: v.$theme-blue-text-color;
	}

	// Status boxes
	// Used for changing the background color of status-boxes
	// ...also used to store colors in redux for bug-pie-chart
	.js-set-status-box-background-color-gray,
	.js-calc-status-box-background-color-gray {
		background-color: v.$status-gray;
	}
	.js-set-status-box-background-color-blue,
	.js-calc-status-box-background-color-blue {
		background-color: v.$status-blue;
	}
	.js-set-status-box-background-color-purple,
	.js-calc-status-box-background-color-purple {
		background-color: v.$status-purple;
	}
	.js-set-status-box-background-color-orange,
	.js-calc-status-box-background-color-orange {
		background-color: v.$status-orange;
	}
	.js-set-status-box-background-color-green,
	.js-calc-status-box-background-color-green {
		background-color: v.$status-green;
	}
	.js-set-status-box-background-color-red,
	.js-calc-status-box-background-color-red {
		background-color: v.$status-red;
	}

	// Used to change text color in status combo-boxes
	.js-set-status-box-text-color-gray {
		color: v.$status-gray;
	}
	.js-set-status-box-text-color-blue {
		color: v.$status-blue;
	}
	.js-set-status-box-text-color-purple {
		color: v.$status-purple;
	}
	.js-set-status-box-text-color-orange {
		color: v.$status-orange;
	}
	.js-set-status-box-text-color-green {
		color: v.$status-green;
	}
	.js-set-status-box-text-color-red {
		color: v.$status-red;
	}
}
