@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.authentication-component,
.js-get-authentication-component {
	.background {
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../images/BlueBackground_1920.jpg);
		height: 100vh;
		width: 100vw;
	}

	.background-cover {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #00000018;
		height: 100vh;
		width: 100vw;
	}

	.modal,
	.js-get-authentication-component-modal {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		box-shadow: v.$common-modal-box-shadow;
		border-radius: 10px;
		background-color: white;
		padding: 25px;
		height: 500px;
	}

	.modal--login-standard,
	.js-get-authentication-component-modal--login-standard {
		width: v.$login-modal-standard-width;
	}

	.modal--login-condensed {
		width: v.$login-modal-condensed-width;
	}

	.modal--register {
		width: v.$register-modal-width;
	}

	.modal__form {
		width: 375px;
		font-family: Verdana, Geneva, sans-serif;
	}

	.modal.modal--login-standard .modal__form {
		position: absolute;
		top: 50%;
		right: 40px;
		transform: translate(0%, -50%);
	}

	@mixin modalSharedModifier() {
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
	}

	.modal.modal--login-condensed .modal__form {
		@include modalSharedModifier();
	}

	.modal.modal--register .modal__form {
		@include modalSharedModifier();
	}

	.modal__form__title {
		margin-bottom: 20px;
		font-size: 25px;
		font-weight: 700;
		text-align: center;
	}

	.modal__form__pair-container {
		// Keeps other elements with float left from intruding between contents
		display: inline-block;
		width: 100%;
	}

	.modal__form__pair-container__single-container {
		float: left;
		width: 46%;
	}

	.modal__form__pair-container__single-container--right {
		float: right;
	}

	.modal__form__label {
		float: left;
		margin-top: 5px;
		font-size: v.$common-slightly-larger-font-size;
	}

	.modal__form__input-text {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		margin-top: v.$common-register-login-form-input-margin-top;
		margin-bottom: v.$common-register-login-form-input-margin-bottom;
		outline: none;
		box-shadow: v.$common-form-input-box-shadow;
		border: v.$common-form-input-text-border-width solid
			v.$mode-common-form-input-border-color-light;
		border-radius: v.$common-form-input-border-radius;
		background: v.$mode-common-form-input-background-color-light;
		padding: v.$common-form-input-text-padding;
		width: 100%;
		font-size: 14px;

		&:focus {
			border-color: v.$common-register-login-input-text-focus-border-color;
			border-width: v.$common-form-input-text-focus-border-width;
			padding: v.$common-form-input-text-focus-padding;
		}
	}

	.modal__form__input-text--error {
		border-color: v.$common-register-login-input-error-border-color;

		&:focus {
			border-color: v.$common-register-login-input-error-border-color;
		}
	}

	.backend-errors {
		@include m.backend-error();
	}

	.modal__form__submit {
		margin-top: 25px;
		margin-bottom: 5px;
		outline: none;
		border: 0;
		border-radius: v.$common-buttton-border-radius;
		background-color: v.$common-register-login-submit-button-border-background-color;
		padding: 12px;
		width: 100%;
		color: white;
		font-size: 18px;
		cursor: pointer;

		&:hover,
		&:active,
		&:focus {
			background-color: v.$common-register-login-submit-button-hover-border-background-color;
		}
	}

	.modal__form__bottom-link-container {
		margin-top: 40px;
		font-size: 15px;
		text-align: center;
	}

	.modal__form__bottom-link-container__link {
		margin-left: 10px;
		color: v.$common-register-login-bottom-link-text-color;
		font-size: 16px;
		text-decoration: none;
		cursor: pointer;

		&:hover,
		&:active {
			text-decoration: underline;
		}
	}

	// Styles specific to the AuthenticationLogin component
	.login-component__intro-container {
		position: absolute;
		top: 42%;
		left: 30px;
		transform: translate(0%, -50%);
		font-family: Verdana, Geneva, sans-serif;
	}

	.modal.modal--login-condensed .login-component__intro-container {
		display: none;
	}

	.login-component__intro-container__logo {
		display: block;
		width: 400px;
		margin: 0px auto;
	}

	.login-component__intro-container__description {
		display: block;
		margin: 5px 0px 0px 16px;
		color: #636363;
		font-size: 26px;
		font-weight: 500;
		line-height: 36px;
	}
}
