@use "../utils/variables" as v;

.register-login-components {
	.background {
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../images/BlueBackground_1920.jpg);
		height: 100vh;
		width: 100vw;
	}

	.border-container {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 25px;
		border: 5px solid black;
		background-color: white;
		padding: 25px;
		width: 400px;
		text-align: center;
		font-family: Verdana, Geneva, sans-serif;
	}

	.title {
		margin-bottom: 25px;
		font-size: 30px;
	}

	.form__pair-container {
		// Keeps other elements with float left from intruding between contents
		display: inline-block;
		width: 100%;
	}

	.form__pair-container__single-container {
		float: left;
		width: 46%;
	}

	.form__pair-container__single-container--right {
		float: right;
	}

	.form__label {
		float: left;
		margin-top: 5px;
		font-size: v.$slightly-larger-font-size;
	}

	.form__char-counter {
		float: right;
		margin: 4px 2px 0px 0px;
		font-size: v.$slightly-larger-font-size;
	}

	.form__text-input {
		margin-top: 5px;
		margin-bottom: 5px;
		outline: none;
		border: 1px solid gray;
		border-radius: v.$form-input-border-radius;
		box-sizing: border-box;
		background: v.$light-gray-level-5;
		padding: 8px;
		width: 100%;
		font-size: 14px;
		text-align: center;
	}

	.form__text-input--password {
		// Tries to help with password size disparity between browsers
		font: small-caption;
		font-size: 16px;
	}

	.form__errors {
		display: block;
		color: red;
	}

	.form__submit {
		margin-top: 15px;
		margin-bottom: 5px;
		outline: none;
		border: 0;
		border-radius: v.$base-buttton-border-radius;
		background-color: v.$light-blue-teal;
		padding: 10px;
		width: 100%;
		color: white;
		font-size: 16px;
		cursor: pointer;

		&:hover,
		&:active {
			background-color: v.$dark-blue-teal;
		}
	}

	.footer {
		margin-top: 25px;
		font-size: 20px;
	}

	.footer__link {
		margin-left: 15px;
		color: blue;
		font-size: 115%;
		text-decoration: none;
		cursor: pointer;
	}
}
