@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.register-login-components {
	.background {
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../images/BlueBackground_1920.jpg);
		height: 100vh;
		width: 100vw;
	}

	.border-container {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 25px;
		border: v.$common-modal-border-width solid black;
		background-color: white;
		padding: 25px;
		width: 400px;
		text-align: center;
		font-family: Verdana, Geneva, sans-serif;
	}

	.title {
		margin-bottom: 25px;
		font-size: 30px;
	}

	.form__pair-container {
		// Keeps other elements with float left from intruding between contents
		display: inline-block;
		width: 100%;
	}

	.form__pair-container__single-container {
		float: left;
		width: 46%;
	}

	.form__pair-container__single-container--right {
		float: right;
	}

	.form__label {
		float: left;
		margin-top: 5px;
		font-size: v.$slightly-larger-font-size;
	}

	.form__char-counter {
		float: right;
		margin: 4px 2px 0px 0px;
		font-size: v.$slightly-larger-font-size;
	}

	.form__input-text {
		// Must be border-box because the zoom on the webpage can resize the border otherwise
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		margin-top: v.$register-login-form-input-margin-top;
		margin-bottom: v.$register-login-form-input-margin-bottom;
		outline: none;
		border: v.$form-input-text-border-width solid
			v.$mode-common-form-input-border-color-light;
		border-radius: v.$form-input-border-radius;
		background: v.$mode-common-form-input-background-color-light;
		padding: 8px;
		width: 100%;
		font-size: 14px;
		text-align: center;

		&:focus {
			border-color: v.$register-login-input-text-focus-border-color;
		}
	}

	.backend-errors {
		@include m.backend-error();
	}

	.form__submit {
		margin-top: 15px;
		margin-bottom: 5px;
		outline: none;
		border: 0;
		border-radius: v.$common-buttton-border-radius;
		background-color: v.$register-login-submit-button-border-background-color;
		padding: 10px;
		width: 100%;
		color: white;
		font-size: 16px;
		cursor: pointer;

		&:hover,
		&:active,
		&:focus {
			background-color: v.$register-login-submit-button-hover-border-background-color;
		}
	}

	.bottom-question {
		margin-top: 25px;
		font-size: 17px;
	}

	.bottom-question__link {
		margin-left: 10px;
		color: v.$register-login-bottom-link-text-color;
		font-size: 18px;
		text-decoration: none;
		cursor: pointer;
	}
}
