@import '../utils/variables';

.account-dropdown-component {
	.dropdown-container {
		// Must be more than searchFilterSortBar.scss
		z-index: 2;
		position: fixed;
		top: $navbar-height;
		right: 0;
		border: 5px solid black;
		border-top: none;
		border-right: none;
		background: white;
		height: 250px;
		/* width: 235px; */
		width: 350px;
		text-align: left;
		font-family: Arial, Helvetica, sans-serif;
	}

	// Used so that the padding does not affect the size of the dropdown-container
	.padded-container {
		padding: 20px 10px 10px 15px;
	}

	.account-info {
		display: block;
		margin-bottom: 8px;
		font-size: 16px;
	}

	.account-info--large-bold {
		font-size: 19px;
		font-weight: bold;
	}

	.account-link-container {
		margin-top: 30px;
	}

	.account-link {
		display: block;
		margin-bottom: 8px;
		color: $blue-link;
		font-style: bold;
		text-decoration: none;
		cursor: pointer;
	}
	.account-link:active,
	.account-link:hover {
		text-decoration: underline;
	}
}
