@import '../utils/variables';

.accountConstainerDiv {
	float: left;
	border: 5px solid $lightBlueGray;
	border-top: none;
	border-right: none;
	background: white;
	padding: 25px;
	width: 145px;
	height: 200px;
	text-align: center;
}
