@import "./utils/variables";
@import "./utils//mixins";

html, body {
	width: 100%;
}

//===============================
// Bellow classes are used by JS
//===============================
.stop-x-y-scrolling {
	overflow: hidden;
}

.stop-x-scrolling {
	overflow-x: hidden;
}

// Used to turn character counters red when limit is gone over
.text-red {
	color: red;
}

// Used to to gray-out the word "none" for empty item fields
.grayed-out-none {
	@include stop-text-selection();

	color: $dark-gray;
	opacity: 0.7;
}