$blueGray: #50677f;
$lightBlueGray: #596f87;

.contractedProjectsConstainerDiv {
	border: 5px solid $lightBlueGray;
	border-top: none;
	border-left: none;
	background: white;
	padding: 5px;
	width: 200px;
	height: 200px;
	text-align: center;
}