.createProjectBlurredBackgroundClickableDiv {
	z-index: 1;
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: black;
	opacity: 0.5;
}

.createProjectSidebarContainerDiv{
	z-index: 2;
	position: absolute;
	border: 5px solid black;
	border-top: none;
	border-left: none;
	background: white;
	width: 500px;
	height: 700px;
}