$navBarHeight: 60px;
$darkGray: #2a3745;

.navBarDiv {
	position: absolute;
	top: 0;
	left: 0;
	height: $navBarHeight;
	width: 100vw;
	background-color: $darkGray;
}

.accountDropDownDiv {
	position: absolute;
	right: 0;
	width: 200px;
	height: 300px;

	.clickableDiv {
		height: $navBarHeight;
		width: 200px;
		text-align: center;

		.textDiv {
			width: 200px;
			position: absolute;
			top: 20px;
			left: 50%;
			transform: translate(-50%);
			color: white;
			font-family: Consolas, monaco, monospace;
			font-size: 125%;
		}
	}
}
