@mixin stopTextSelection() {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
							supported by Chrome, Edge, Opera and Firefox */
}

$navBarHeight: 60px;
$lightBlueGray: #596f87;
$blueGray: #50677f;
$darkBlueGray: #2a3745;

.navBarDiv {
	height: $navBarHeight;
	width: 100vw;
	background-color: $blueGray;
	margin: 0;
	padding: 0;
}

.textDiv {
	@include stopTextSelection();
}

.clickableDiv {
	position: absolute;
	left: 0;
	height: $navBarHeight;
	width: 200px;
	text-align: center;

	.textDiv {
		width: 200px;
		position: absolute;
		top: 16px;
		left: 52%;
		transform: translate(-50%);
		color: white;
		font-family: Consolas, monaco, monospace;
		font-size: 160%;
	}
}

.accountDropDownDiv {
	position: absolute;
	right: 0;
	width: 200px;
	height: 300px;
	margin: 0;
	border: 0;
	padding: 0;

	.clickableDiv {
		position: relative;
		height: $navBarHeight;
		width: 200px;
		text-align: center;

		.textDiv {
			width: 150px;
			position: absolute;
			top: 16px;
			left: 52%;
			transform: translate(-50%);
			color: white;
			font-family: Consolas, monaco, monospace;
			font-size: 160%;
		}
	}
}
