$blueGray: #50677f;
$lightBlueGray: #596f87;

.projectsBackgroundDiv {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.projectsConstainerDiv {

}

.projectsTable {
	width: 100vw;
	table-layout: fixed;

	th {
		border-bottom: 2px solid #dddddd;
	}

	td {
		min-width: 200px;
		max-width: 250px;
		text-align: left;
		overflow: hidden;
		white-space: nowrap;
	}

	tr td {
		border-bottom: 1px solid #dddddd;
	}
}
